{{ moduleHeader('user', 'Account information recovery'|trans, '', true, true) }}

<p class="alert alert-info">{% trans %}Please complete the form below to reset your password.{% endtrans %}</p>

<fieldset>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="alert alert-info">{% trans %}Create a new password.{% endtrans %}</div>
    {{ form_row(form.pass) }}
    {{ form_end(form) }}
</fieldset>
