{# purpose of this template: general base layout #}
{% block header %}
    
    {{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
    {{ pageAddAsset('javascript', asset('bootstrap/js/bootstrap.min.js')) }}
    {{ pageAddAsset('stylesheet', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.css')) }}
    {{ pageAddAsset('javascript', asset('bootstrap-jqueryui/bootstrap-jqueryui.min.js')) }}
    {% if not app.request.query.getBoolean('raw', false) %}
        {{ pageAddAsset('javascript', zasset('@ZikulaRoutesModule:js/ZikulaRoutesModule.js')) }}
        {{ polyfill(['forms', 'forms-ext']) }}
    {% endif %}
{% endblock %}

{% if not app.request.query.getBoolean('raw', false) %}
    {% block appTitle %}
        {{ moduleHeader('user', '', '', false, true, false, true) }}
    {% endblock %}
{% endif %}

{% block titleArea %}
    <h2>{% block title %}{% endblock %}</h2>
{% endblock %}
{{ pageSetVar('title', block('pageTitle')|default(block('title'))) }}

{{ showflashes() }}

{% block content %}{% endblock %}

{% block footer %}
    {% if not app.request.query.getBoolean('raw', false) %}
    {% elseif 'edit' in app.request.get('_route') %}
        {{ pageAddAsset('stylesheet', 'style/core.css') }}
        {{ pageAddAsset('stylesheet', zasset('@ZikulaRoutesModule:css/style.css')) }}
        {{ pageAddAsset('stylesheet', zasset('@ZikulaThemeModule:css/form/style.css')) }}
        {{ pageAddAsset('stylesheet', zasset('@ZikulaAndreas08Theme:css/fluid960gs/reset.css')) }}
        {% set pageStyles %}
        <style type="text/css">
            body {
                font-size: 70%;
            }
        </style>
        {% endset %}
        {{ pageAddAsset('header', pageStyles) }}
    {% endif %}
{% endblock %}
