{# purpose of this template: general base layout #}
{% block header %}
    {{ pageAddAsset('javascript', zasset('@ZikulaRoutesModule:js/ZikulaRoutesModule.js')) }}
    {% if 'edit' in app.request.get('_route') or 'config' in app.request.get('_route') %}
        {{ polyfill(['forms', 'forms-ext']) }}
    {% endif %}
{% endblock %}

{% block appTitle %}
    {{ moduleHeader('user', '', '', false, true, false, true) }}
{% endblock %}

{% block titleArea %}
    <h2>{% block title %}{% endblock %}</h2>
{% endblock %}
{{ pageSetVar('title', block('pageTitle')|default(block('title'))) }}

{{ showflashes() }}

{% block content %}{% endblock %}

{% block footer %}
{% endblock %}
