{% if multilingual %}
    {{ pageSetVar('title', 'Language switcher'|trans) }}
    <h2>{{ 'Language switcher'|trans }}</h2>

    <fieldset>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.locale) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.submit) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </fieldset>
{% else %}
    <p class="alert alert-warning">{% trans %}Multilingual features are deactivated.{% endtrans %}</p>
{% endif %}
{{ pageAddAsset('stylesheet', zasset('@ZikulaUsersBundle:css/style.css')) }}
