<div id="topline" class="clearfix">
    <div class="pull-left">{# userwelcome|ucwords #}</div>
    <div class="pull-right">{{ showblockposition('search') }}</div>
</div>
<div id="header" class="clearfix">
    <h1>{# adminpanelmenu #}<a href="{{ pagevars.homepath }}" title="{{ getModVar('ZConfig', 'slogan') }}">{{ getModVar('ZConfig', 'sitename') }}</a></h1>
    <div id="navi" class="z-clearer">
        <ul id="nav">
            <li class="page_item">
                <a href="{{ pagevars.homepath }}"><span>{{ __('Home') }}</span></a>
            </li>
            <li class="page_item">
                <a href="{{ path('zikulasettingsmodule_settings_main') }}"><span>{{ __('Settings') }}</span></a>
            </li>
            <li class="page_item">
                <a href="{{ path('zikulaextensionsmodule_module_viewmodulelist') }}"><span>{{ __('Extensions') }}</span></a>
            </li>
            <li class="page_item">
                <a href="{{ path('zikulablocksmodule_admin_view') }}"><span>{{ __('Blocks') }}</span></a>
            </li>
            <li class="page_item">
                <a href="{{ path('zikulausersmodule_useradministration_list') }}"><span>{{ __('Users') }}</span></a>
            </li>
            <li class="page_item">
                <a href="{{ path('zikulagroupsmodule_group_adminlist') }}"><span>{{ __('Groups') }}</span></a>
            </li>
            <li class="page_item">
                <a href="{{ path('zikulapermissionsmodule_permission_list') }}"><span>{{ __('Permission rules') }}</span></a>
            </li>
            <li class="page_item">
                <a href="{{ path('zikulathememodule_theme_view') }}"><span>{{ __('Themes') }}</span></a>
            </li>
            <li class="page_item">
                <a href="{{ path('zikulacategoriesmodule_category_list') }}"><span>{{ __('Categories') }}</span></a>
            </li>
        </ul>
    </div>
</div>
