<h3>
    <span class="fas fa-list"></span>
    {% trans %}Users list{% endtrans %}
    {{ pageSetVar('title', 'Users list'|trans) }}
</h3>

<div id="user-search-container" class="form d-none">
    <div class="input-group">
        <input placeholder="{% trans %}Search{% endtrans %}" id="user-search" class="form-control" size="25" maxlength="25" type="text" value="" data-route="zikulazauthmodule_useradministration_getusersbyfragmentastable" />
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-times pointer" id="user-search-discard"></i></span>
        </div>
    </div>
</div>
<p id="user-search-min-char" class="d-none">{% trans %}Please enter at least 3 characters{% endtrans %}</p>

<div class="pt-2">{{ include(alpha.template) }}</div>

<div id="user-list">
    <table id="user-table" class="table table-bordered table-striped">
        <colgroup>
            <col id="cUser" />
            <col id="cEmail" />
            <col id="cVerified" />
            <col id="cId" />
            <col id="cMethod" />
            <col id="cActions" />
        </colgroup>
        <thead>
            <tr>
                <th id="hUser" scope="col"><a class="{{ sort.uname.class }}" href="{{ sort.uname.url }}">{% trans %}User name{% endtrans %}</a></th>
                <th id="hEmail" scope="col">{% trans %}Email{% endtrans %}</th>
                <th id="hVerified" scope="col">{% trans %}Email verified{% endtrans %}</th>
                <th id="hId" scope="col"><a class="{{ sort.uid.class }}" href="{{ sort.uid.url }}">{% trans %}Internal ID{% endtrans %}</a></th>
                <th id="hMethod" scope="col">{% trans %}Method{% endtrans %}</th>
                <th id="hActions" scope="col">{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {{ include('@ZikulaZAuthModule/UserAdministration/userlist.html.twig', {mappings: paginator.results}) }}
        </tbody>
    </table>
    {{ include(paginator.template) }}
</div>

{# This table is for ajax search results and is hidden until needed and populated then with the results. #}
<table id="user-search-list" class="table table-bordered table-striped d-none">
    <colgroup>
        <col id="cSearchUser" />
        <col id="cSearchEmail" />
        <col id="cSearchVerified" />
        <col id="cSearchId" />
        <col id="cSearchMethod" />
        <col id="cSearchActions" />
    </colgroup>
    <thead>
    <tr>
        <th headers="hSearchUser"><a class="{{ sort.uname.class }}" href="{{ sort.uname.url }}">{% trans %}User name{% endtrans %}</a></th>
        <th headers="hSearchEmail">{% trans %}Email{% endtrans %}</th>
        <th headers="hSearchVerified">{% trans %}Email verified{% endtrans %}</th>
        <th headers="hSearchId"><a class="{{ sort.uid.class }}" href="{{ sort.uid.url }}">{% trans %}Internal ID{% endtrans %}</a></th>
        <th headers="hSearchMethod">{% trans %}Method{% endtrans %}</th>
        <th headers="hSearchActions">{% trans %}Actions{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{{ pageAddAsset('javascript', zasset('@ZikulaUsersModule:js/Zikula.Users.Admin.View.js')) }}
