{{ adminHeader() }}
<h3>
    <span class="fas fa-plus"></span>
    {% trans with {'%uname': form.vars.value.uname} %}Edit user account of %uname{% endtrans %}
    {{ pageSetVar('title', 'Edit user account'|trans) }}
</h3>

<div class="alert alert-warning">{% trans %}The items that are marked with an asterisk (\'*\') are required entries.{% endtrans %}</div>
{% if form.vars.value.uid == currentUser.uid %}
    <div class="alert alert-danger">{% trans %}WARNING: You appear to be editing your OWN account.{% endtrans %}</div>
{% endif %}
{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{% trans %}Account information{% endtrans %}</legend>
    {{ form_row(form.uname) }}
    {{ form_row(form.email) }}
</fieldset>
<fieldset>
    <legend>{% trans %}Log-in information{% endtrans %}</legend>
    {{ form_row(form.setpass, {attr: {'data-toggle': 'collapse', 'data-target': '#' ~ form.setpass.vars.id ~ '_wrap'}}) }}
    <div id="{{ form.setpass.vars.id }}_wrap" class="collapse{% if form.setpass.vars.data %} show {% endif %}">
        {{ include('@ZikulaZAuthModule/Authentication/PasswordGenerator.html.twig') }}
        {{ form_row(form.pass) }}
    </div>
</fieldset>
{% for additional_template in additional_templates %}
    {{ include(additional_template.0, additional_template.1, ignore_missing = true) }}
{% endfor %}
{{ notifyDisplayHooks(constant('Zikula\\UsersModule\\HookSubscriber\\UserManagementUiHooksSubscriber::EDIT_FORM'), form.vars.value.uid) }}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.submit) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
<div id="setPassIdentifiers" data-setpassid="{{ form.setpass.vars.id }}" data-passid="{{ form.pass.vars.id }}"></div>
{{ pageAddAsset('javascript', zasset('@ZikulaZAuthModule:js/Zikula.ZAuth.UserAdmin.js')) }}
{% if getModVar('ZikulaZAuthModule', constant('Zikula\\ZAuthModule\\ZAuthConstant::MODVAR_PASSWORD_STRENGTH_METER_ENABLED')) %}
{{ pageAddAsset('javascript', zasset('@ZikulaZAuthModule:js/pwstrength-bootstrap.min.js')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaZAuthModule:js/Zikula.ZAuth.PWStrength.Init.js')) }}
{% endif %}
