{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    {% if mustChangePass %}
        <i class="fa fa-lock"></i> {{ __f('Cancel forced password change for %1s', {"%1s": user.uname}) }}
        {{ pageSetVar('title', __('Cancel forced password change')) }}
    {% else %}
        <i class="fa fa-unlock-alt"></i> {{ __f('Force a change of password for %1s', {"%1s": user.uname}) }}
        {{ pageSetVar('title', __('Force password change')) }}
    {% endif %}
</h3>

{% if mustChangePass %}
    <p class="alert alert-warning">{{ __f('Do you want to cancel the forced password change for %1s?', {"%1s": user.uname}) }}</p>
{% else %}
    <p class="alert alert-warning">{{ __f('Do you want to force a password change during the next login attempt for %1s?', {"%1s": user.uname}) }}</p>
{% endif %}

<fieldset>
    <legend>{{ __('Confirmation prompt') }}</legend>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(form.toggle) }}
            {{ form_widget(form.cancel) }}
        </div>
    </div>
    {{ form_end(form) }}
</fieldset>
{{ adminFooter() }}
