<h3>
    {% if mustChangePass %}
        <i class="fas fa-lock"></i> {% trans with {'%1s': user.uname} %}Cancel forced password change for %1s{% endtrans %}
        {{ pageSetVar('title', 'Cancel forced password change'|trans) }}
    {% else %}
        <i class="fas fa-unlock-alt"></i> {% trans with {'%1s': user.uname} %}Force a change of password for %1s{% endtrans %}
        {{ pageSetVar('title', 'Force password change'|trans) }}
    {% endif %}
</h3>

{% if mustChangePass %}
    <p class="alert alert-warning">{% trans with {'%1s': user.uname} %}Do you want to cancel the forced password change for %1s?{% endtrans %}</p>
{% else %}
    <p class="alert alert-warning">{% trans with {'%1s': user.uname} %}Do you want to force a password change during the next login attempt for %1s?{% endtrans %}</p>
{% endif %}

<fieldset>
    <legend>{% trans %}Confirmation prompt{% endtrans %}</legend>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            {{ form_widget(form.toggle) }}
            {{ form_widget(form.cancel) }}
        </div>
    </div>
    {{ form_end(form) }}
</fieldset>
