{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-user"></span>
    {{ __f('Confirm verification code is to be sent to %sub%', {"%sub%": mapping.uname}) }}
    {{ pageSetVar('title', __('Confirm verification code')) }}
</h3>

<div class="well">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(form.confirm) }}
            {{ form_widget(form.cancel) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
{{ adminFooter() }}
