{{ adminHeader() }}
<h3>
    <span class="fa fa-info-circle"></span>
    {{ __('Theme credits') }}
</h3>

{% if themeinfo.system is defined and themeinfo.system != 1 %}
<div class="text-center">
    <img src="{{ getPreviewImagePath(themeinfo.name, 'large') }}" id="theme_credits_preview">
</div>
{% endif %}

<table class="table table-bordered table-striped">
    <tbody>
        {% for key, field in themeinfo %}
        {% if field != '' %}
        <tr>
            {% if key == 'id' %}<th>{{ __('Internal ID') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'name' %}<th>{{ __('Name') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'type' %}<th>{{ __('Type') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'displayname' %}<th>{{ __('Display name') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'description' %}<th>{{ __('Description') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'regid' %}<th>{{ __('Registration ID') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'directory' %}<th>{{ __('Directory') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'version' %}<th>{{ __('Version') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'official' %}<th>{{ __('Official') }}</th><td>{{ field|yesNo }}</td>{% endif %}
            {% if key == 'author' %}<th>{{ __('Author') }}</th><td>{{ field }}</td>{% endif %}
            {#{% if key == 'contact' %}<th>{{ __('Contact') }}</th><td>{{ field }}</td>{% endif %}#}
            {% if key == 'admin' %}<th>{{ __('Admin panel theme') }}</th><td>{{ field|yesNo }}</td>{% endif %}
            {% if key == 'user' %}<th>{{ __('User theme') }}</th><td>{{ field|yesNo }}</td>{% endif %}
            {% if key == 'system' %}<th>{{ __('System theme') }}</th><td>{{ field|yesNo }}</td>{% endif %}
            {% if key == 'state' %}<th>{{ __('State') }}</th><td>{% if(field) and field == 1 %}<span class="label label-success">{{ __('Active') }}</span>{% else %}<span class="label label-danger">{{ __('Inactive') }}</span>{% endif %} </td>{% endif %}
            {% if key == 'credits' %}<th>{{ __('Credits') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'changelog' %}<th>{{ __('Change log') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'help' %}<th>{{ __('Help') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'license' %}<th>{{ __('License') }}</th><td>{{ field }}</td>{% endif %}
            {% if key == 'xhtml' %}<th>{{ __('XHTML-capable') }}</th><td>{{ field|yesNo }}</td>{% endif %}
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{{ adminFooter() }}
