{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fas fa-trash-alt"></span>
    {% trans with {"%sub%": themeName} %}Remove theme %sub%{% endtrans %}
    {{ pageSetVar('title', 'Remove theme'|trans) }}
</h3>

<p class="alert alert-danger">{% trans with {'%name%': themeName} %}Do you really want to remove the %name% theme?{% endtrans %}</p>
{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.deletefiles) }}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.delete) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
