{% form_theme form with [
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-trash-o"></span>
    {{ __f('Remove theme %sub%', {"%sub%": themeName}) }}
    {{ pageSetVar('title', __('Remove theme')) }}
</h3>

<p class="alert alert-danger">{{ __f('Do you really want to remove the %name% theme?', {"%name%": themeName}) }}</p>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.deletefiles) }}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(form.delete) }}
            {{ form_widget(form.cancel) }}
        </div>
    </div>
{{ form_end(form) }}
{{ adminFooter() }}
