{% form_theme form with [
'@ZikulaFormExtension/Form/bootstrap_3_zikula_admin_layout.html.twig',
'@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{{ __('Search') }}</legend>
    {{ form_widget(form.q) }}
    <div class="hidden">
        {{ form_row(form.searchType) }}
        {{ form_row(form.searchOrder) }}
        {{ form_row(form.modules) }}
    </div>
    {% if not properties.displaySearchBtn %}<div class="hidden">{% endif %}
        {{ form_row(form.search) }}
    {% if not properties.displaySearchBtn %}</div>{% endif %}
</fieldset>
{{ form_end(form) }}
