{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{{ __('Search') }}</legend>
    {{ form_widget(form.q) }}
    <div class="hidden">
        {{ form_row(form.searchType) }}
        {{ form_row(form.searchOrder) }}
        {{ form_row(form.modules) }}
    </div>
    {% if properties.displaySearchBtn == 1 %}
        {{ form_row(form.search) }}
    {% endif %}
</fieldset>
{{ form_end(form) }}
