{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-lock"></span>
    {% trans %}Authentication methods{% endtrans %}
    {{ pageSetVar('title', 'Authentication methods'|trans) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        <div class="alert alert-info">{% trans %}Check the methods you wish to activate.{% endtrans %}</div>
        <ul class="list-group">
        {% for name, child in form.children.authenticationMethodsStatus %}
            <li class="list-group-item">
                {#{ methods[name].DisplayName }}: #}
                {#{ form_widget(child) }#}
                {{ form_row(child) }}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
