{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ polyfill() }}

{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-wrench"></span>
            {{ __('Settings') }}
        </h3>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('General Settings') }}</legend>
            {{ form_row(form[constant('MODVAR_ANONYMOUS_DISPLAY_NAME', UC)]) }}
            {{ form_row(form[constant('MODVAR_ITEMS_PER_PAGE', UC)]) }}
            {{ form_row(form[constant('MODVAR_AVATAR_IMAGE_PATH', UC)]) }}
            {{ form_row(form[constant('MODVAR_GRAVATARS_ENABLED', UC)]) }}
            {{ form_row(form[constant('MODVAR_GRAVATAR_IMAGE', UC)]) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('Account Page Settings') }}</legend>
            {{ form_row(form[constant('MODVAR_ACCOUNT_DISPLAY_GRAPHICS', UC)]) }}
            {{ form_row(form[constant('MODVAR_ACCOUNT_PAGE_IMAGE_PATH', UC)]) }}
            {{ form_row(form[constant('MODVAR_ACCOUNT_ITEMS_PER_PAGE', UC)]) }}
            {{ form_row(form[constant('MODVAR_ACCOUNT_ITEMS_PER_ROW', UC)]) }}
            {{ form_row(form[constant('MODVAR_MANAGE_EMAIL_ADDRESS', UC)]) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('User Credential Settings') }}</legend>
            {{ form_row(form[constant('MODVAR_LOGIN_METHOD', UC)]) }}
            {{ form_row(form[constant('MODVAR_REQUIRE_UNIQUE_EMAIL', UC)]) }}
            {{ form_row(form[constant('MODVAR_PASSWORD_MINIMUM_LENGTH', UC)]) }}
            {{ form_row(form[constant('MODVAR_HASH_METHOD', UC)]) }}
            {{ form_row(form[constant('MODVAR_PASSWORD_STRENGTH_METER_ENABLED', UC)]) }}
            {{ form_row(form[constant('MODVAR_EXPIRE_DAYS_CHANGE_EMAIL', UC)]) }}
            {{ form_row(form[constant('MODVAR_EXPIRE_DAYS_CHANGE_PASSWORD', UC)]) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('Registration Settings') }}</legend>
            {{ form_row(form[constant('MODVAR_REGISTRATION_ENABLED', UC)]) }}
            <div id="registration_disabled_reason" class="collapse in">
                {{ form_row(form[constant('MODVAR_REGISTRATION_DISABLED_REASON', UC)]) }}
            </div>
            {{ form_row(form[constant('MODVAR_REGISTRATION_ADMIN_NOTIFICATION_EMAIL', UC)]) }}
            {{ form_row(form[constant('MODVAR_PASSWORD_REMINDER_ENABLED', UC)]) }}
            {{ form_row(form[constant('MODVAR_PASSWORD_REMINDER_MANDATORY', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_APPROVAL_REQUIRED', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_VERIFICATION_MODE', UC)]) }}
            <div id="{{ form[constant('MODVAR_REGISTRATION_AUTO_LOGIN', UC)].vars.id }}_wrap" class="collapse in">
                {{ form_row(form[constant('MODVAR_REGISTRATION_AUTO_LOGIN', UC)]) }}
            </div>
            <div id="{{ form[constant('MODVAR_REGISTRATION_APPROVAL_SEQUENCE', UC)].vars.id }}_wrap" class="collapse in">
                {{ form_row(form[constant('MODVAR_REGISTRATION_APPROVAL_SEQUENCE', UC)]) }}
            </div>
            {{ form_row(form[constant('MODVAR_EXPIRE_DAYS_REGISTRATION', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_ANTISPAM_QUESTION', UC)]) }}
            <div id="antispam_answer" class="collapse in">
                {{ form_row(form[constant('MODVAR_REGISTRATION_ANTISPAM_ANSWER', UC)]) }}
            </div>
            {{ form_row(form[constant('MODVAR_REGISTRATION_ILLEGAL_UNAMES', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_ILLEGAL_AGENTS', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_ILLEGAL_DOMAINS', UC)]) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('User Login Settings') }}</legend>
            {{ form_row(form[constant('MODVAR_LOGIN_DISPLAY_INACTIVE_STATUS', UC)]) }}
            {{ form_row(form[constant('MODVAR_LOGIN_DISPLAY_VERIFY_STATUS', UC)]) }}
            {{ form_row(form[constant('MODVAR_LOGIN_DISPLAY_APPROVAL_STATUS', UC)]) }}
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

</div>
{{ adminFooter() }}
<script type="text/javascript">
    (function($) {
        /**
         * show|hide moderation-related form elements based on selections within the form.
         */
        function toggleModerationItemsDisplay()
        {
            var approvalOrderWrap = $('#{{ form[constant('MODVAR_REGISTRATION_APPROVAL_SEQUENCE', UC)].vars.id }}_wrap');
            var autoLoginWrap = $('#{{ form[constant('MODVAR_REGISTRATION_AUTO_LOGIN', UC)].vars.id }}_wrap');
            var isModerated = $('#{{ form[constant('MODVAR_REGISTRATION_APPROVAL_REQUIRED', UC)].vars.id }}').is(':checked');
            var isVerified = $('#{{ form[constant('MODVAR_REGISTRATION_VERIFICATION_MODE', UC)].vars.id }}').find('input[type=radio][value="0"]:checked').length > 0;
            var approvalOrderState = (isModerated && !isVerified);
            var autoLoginState = (!isModerated && isVerified);
            if (approvalOrderState == true) {
                approvalOrderWrap.collapse('show');
            } else {
                approvalOrderWrap.collapse('hide');
            }
            if (autoLoginState == true) {
                autoLoginWrap.collapse('show');
            } else {
                autoLoginWrap.collapse('hide');
            }
        }
        /**
         * check requireUniqueEmail if login-type is allowed to use email.
         */
        function toggleLoginItemsDisplay()
        {
            var requireUniqueEmail = $('#{{ form[constant('MODVAR_REQUIRE_UNIQUE_EMAIL', UC)].vars.id }}');
            if ($('.login-method-input:checked').val() > 0) {
                // value is not 'username', require unique email and disable input
                requireUniqueEmail.prop('checked', true).prop('disabled', true);
            } else {
                requireUniqueEmail.prop('disabled', false);
            }
        }
        /**
         * show|hide the registration disabled notice based on enabled value
         */
        function toggleRegistrationDisabledDisplay()
        {
            if ($('#{{ form[constant('MODVAR_REGISTRATION_ENABLED', UC)].vars.id }}').is(':checked')) {
                $('#registration_disabled_reason').collapse('hide');
            } else {
                $('#registration_disabled_reason').collapse('show');
            }
        }
        /**
         * show & require or hide anti-spam answer based on question value
         */
        function toggleAntiSpamAnswerDisplay()
        {
            var antiSpamAnswerElementId = '{{ form[constant('MODVAR_REGISTRATION_ANTISPAM_ANSWER', UC)].vars.id }}';
            if ($('#{{ form[constant('MODVAR_REGISTRATION_ANTISPAM_QUESTION', UC)].vars.id }}').val() != '') {
                $('label[for="'+antiSpamAnswerElementId+'"]').addClass('required');
                $('#'+antiSpamAnswerElementId).prop('required', true);
                $('#antispam_answer').collapse('show');
            } else {
                $('label[for="'+antiSpamAnswerElementId+'"]').removeClass('required');
                $('#'+antiSpamAnswerElementId).prop('required', false).val('');
                $('#antispam_answer').collapse('hide');
            }
        }

        $(document).ready(function() {
            // set up event handlers
            $('#{{ form[constant('MODVAR_REGISTRATION_ENABLED', UC)].vars.id }}').on('click', toggleRegistrationDisabledDisplay);
            $('#{{ form[constant('MODVAR_REGISTRATION_ANTISPAM_QUESTION', UC)].vars.id }}').on('change', toggleAntiSpamAnswerDisplay);
            $('.login-method-input').on('click', toggleLoginItemsDisplay);
            $('.registration-moderation-input').on('click', toggleModerationItemsDisplay);
            // initialize form - show|hide appropriate inputs
            toggleRegistrationDisabledDisplay();
            toggleAntiSpamAnswerDisplay();
            toggleLoginItemsDisplay();
            toggleModerationItemsDisplay();
        });
    })(jQuery);
</script>
