{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ polyfill() }}

{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-wrench"></span>
            {{ __('Settings') }}
        </h3>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('General Settings') }}</legend>
            {{ form_row(form[constant('MODVAR_ANONYMOUS_DISPLAY_NAME', UC)]) }}
            {{ form_row(form[constant('MODVAR_ITEMS_PER_PAGE', UC)]) }}
            {{ form_row(form[constant('MODVAR_AVATAR_IMAGE_PATH', UC)]) }}
            {{ form_row(form[constant('MODVAR_GRAVATARS_ENABLED', UC)]) }}
            {{ form_row(form[constant('MODVAR_GRAVATAR_IMAGE', UC)]) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('Account Page Settings') }}</legend>
            {{ form_row(form[constant('MODVAR_ACCOUNT_DISPLAY_GRAPHICS', UC)]) }}
            {{ form_row(form[constant('MODVAR_ACCOUNT_PAGE_IMAGE_PATH', UC)]) }}
            {{ form_row(form[constant('MODVAR_ACCOUNT_ITEMS_PER_PAGE', UC)]) }}
            {{ form_row(form[constant('MODVAR_ACCOUNT_ITEMS_PER_ROW', UC)]) }}
            {{ form_row(form[constant('MODVAR_MANAGE_EMAIL_ADDRESS', UC)]) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('User Credential Settings') }}</legend>
            {{ form_row(form[constant('MODVAR_LOGIN_METHOD', UC)]) }}
            {{ form_row(form[constant('MODVAR_REQUIRE_UNIQUE_EMAIL', UC)]) }}
            {{ form_row(form[constant('MODVAR_PASSWORD_MINIMUM_LENGTH', UC)]) }}
            {{ form_row(form[constant('MODVAR_HASH_METHOD', UC)]) }}
            {{ form_row(form[constant('MODVAR_PASSWORD_STRENGTH_METER_ENABLED', UC)]) }}
            {{ form_row(form[constant('MODVAR_EXPIRE_DAYS_CHANGE_EMAIL', UC)]) }}
            {{ form_row(form[constant('MODVAR_EXPIRE_DAYS_CHANGE_PASSWORD', UC)]) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('Registration Settings') }}</legend>
            {{ form_row(form[constant('MODVAR_REGISTRATION_ENABLED', UC)]) }}
            <div class="form-group collapse{% if not form.vars.value[constant('MODVAR_REGISTRATION_ENABLED', UC)] %} in{% endif %}" id="registration_disabled_reason">
                {{ form_label(form[constant('MODVAR_REGISTRATION_DISABLED_REASON', UC)]) }}
                <div class="col-sm-9">
                {{ form_widget(form[constant('MODVAR_REGISTRATION_DISABLED_REASON', UC)]) }}
                </div>
            </div>
            {{ form_row(form[constant('MODVAR_REGISTRATION_ADMIN_NOTIFICATION_EMAIL', UC)]) }}
            {{ form_row(form[constant('MODVAR_PASSWORD_REMINDER_ENABLED', UC)]) }}
            {{ form_row(form[constant('MODVAR_PASSWORD_REMINDER_MANDATORY', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_APPROVAL_REQUIRED', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_VERIFICATION_MODE', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_AUTO_LOGIN', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_APPROVAL_SEQUENCE', UC)]) }}
            {{ form_row(form[constant('MODVAR_EXPIRE_DAYS_REGISTRATION', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_ANTISPAM_QUESTION', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_ANTISPAM_ANSWER', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_ILLEGAL_UNAMES', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_ILLEGAL_AGENTS', UC)]) }}
            {{ form_row(form[constant('MODVAR_REGISTRATION_ILLEGAL_DOMAINS', UC)]) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('User Login Settings') }}</legend>
            {{ form_row(form[constant('MODVAR_LOGIN_WCAG_COMPLIANT', UC)]) }}
            {{ form_row(form[constant('MODVAR_LOGIN_DISPLAY_INACTIVE_STATUS', UC)]) }}
            {{ form_row(form[constant('MODVAR_LOGIN_DISPLAY_VERIFY_STATUS', UC)]) }}
            {{ form_row(form[constant('MODVAR_LOGIN_DISPLAY_APPROVAL_STATUS', UC)]) }}
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

</div>
{{ adminFooter() }}
<script>
    ( function($) {
        $(document).ready(function() {
            $('#{{ form.vars.id }}_reg_allowreg').change(function() {
                if(this.checked) {
                    $('#registration_disabled_reason').collapse('hide');
                } else {
                    $('#registration_disabled_reason').collapse('show');
                }
            });
        });
    })(jQuery);
</script>
