<h2>1. Acceptance of terms of use and amendments</h2>
<p>
    Each time you visit, use or cause access to this site, you agree to be bound by these 'Terms of use', as amended from time to time with or without notice to you. In addition, your usage of services on this site or accessed via this site will be subject to any rules or guidelines applicable to those services, and they will be incorporated by reference within these 'Terms of use'. Please read the site's {{ zikulalegalmodule_inlineLink('privacyPolicy') }}, which is also incorporated within these 'Terms of use' by reference.
</p>

<h2>2. The site operator's service</h2>
<p>
    <!-- **NOTE: Feel free to add in a general description of your site. --> This site and the services provided to you <!-- **NOTE: you may wish to soften the disclaimer --> on and via this site are provided on an 'AS IS' basis. You agree that the site operator reserves the right to modify or discontinue provision of this site and its services, and to remove the data you provide, either temporarily or permanently, at any time, without notice and without any liability towards you (please see below for information about notice of changes). The site operator will not be held responsible or liable for timeliness, removal of information, failure to store information, inaccuracy of information, or improper delivery of information.
</p>
<h2>3. Your responsibilities and registration obligations</h2>
<p>
    In order to use this site or certain parts of it, you may be required to <a href="{{ path('zikulausersmodule_registration_register') }}" title="Registration page">register for a user account</a> on this site; in this case, you agree to provide truthful information when requested, and - if a minimum age is required for eligibility for a user account - you undertake that you are of at least the required age. By registering for a user account, you explicitly agree to this site's 'Terms of use' and {{ zikulalegalmodule_inlineLink('privacyPolicy') }}, including any amendments made by the site operator that are published herein.
</p>

<h2>4. Privacy policy</h2>
<p>
    Registration data and other personally identifiable information that the site may collect is subject to the terms of the site operator's {{ zikulalegalmodule_inlineLink('privacyPolicy') }}.
</p>
<h2>5. Registration and password</h2>
<p>
    You are responsible for maintaining the confidentiality of your password, and you will be held responsible for all usage of your user account and/or user name, whether authorised or not authorised by you. You agree to immediately notify the site operator of any unauthorised use of your user account, user name or password.
</p>
<p>
    The site operator may apply the policy of requiring to grant prior approval of a new user account registration before the account is activated and available for logging-in. By registering for an account on this site, you agree that the site operator retains sole discretion regarding the approval of new registrations and the closure of existing accounts, without incurring any liability towards you.
</p>
<h2>6. Your conduct</h2>
<p>
    You agree that all information or data of any kind, whether text, software, code, music or audio, photographs or graphics, video or animations, or other materials ('content'), made available publicly or privately, will be under the sole responsibility of the person providing the said content, or of the person whose user account is used. You agree that this site might expose you to content that may be objectionable or offensive. The site operator will not be responsible to you in any way for content provided on this site, nor for any error or omission. However, if you do see content on this site that you feel is offensive or inappropriate, please <a href="mailto:{{ getSystemVar('adminmail')|e('html_attr')|protectMail() }}" title="Send mail to the site administrator">e-mail the site administrator</a>.
</p>
<p>
    By using this site or any service provided, you explicitly agree to the following clauses:
</p>
<ol>
    <li>You shall not provide any content or conduct yourself in any way that may be construed as:</li>
    <li>
        <ul>
            <li>unlawful;</li>
            <li>illegal;</li>
            <li>threatening;</li>
            <li>harmful;</li>
            <li>abusive;</li>
            <li>harassing;</li>
            <li>stalking;</li>
            <li>tortious;</li>
            <li>defamatory;</li>
            <li>libellous;</li>
            <li>vulgar;</li>
            <li>obscene;</li>
            <li>offensive;</li>
            <li>objectionable;</li>
            <li>pornographic;</li>
            <li>designed to interfere with or disrupt the operation of this site or any service provided;</li>
            <li>infected with a virus or other destructive or deleterious programming routine;</li>
            <li>likely to give rise to civil or criminal liability;</li>
            <li>in violation of an applicable local, national or international law.</li>
        </ul>
    </li>
    <li>You shall not impersonate or misrepresent your association with any person or entity.</li>
    <li>You shall not forge or otherwise seek to conceal or misrepresent the origin of any content provided by you.</li>
    <li>You shall not collect or harvest any information about other users.</li>
    <li>You shall not provide, and you shall not use this site to provide, any content or service in any commercial manner, or in any manner that would involve junk mail, spam, chain letters, pyramid schemes, or any other form of unauthorised advertising or commerce.</li>
    <li>You shall not use this site to promote or operate any service or content without the site operator's prior written consent.</li>
    <li>You shall not use this site or any services or facilities provided on this site or via this site to contact and communicate with site users or other persons for any illicit or illegal purpose.</li>
    <li>You shall not provide any content that might give rise to the site operator being held civilly or criminally liable, or that might be considered a violation of any local, national or international law; this notably includes - but is not limited to - laws relating to copyrights, trademarks, patents, or trade secrets.</li>
</ol>

<p>
    Failure to comply with any of the clauses of this section 6 of these 'Terms of use' will be considered to be just cause for immediate closure of your user account, and may render you liable to legal action. For more information about user account closure, please refer to the site's {{ zikulalegalmodule_inlineLink('privacyPolicy') }}.
</p>
<p>
    If you become aware of any infringement of these 'Terms of use' by a registered user of this site, please <a href="mailto:{{ getSystemVar('adminmail')|e('html_attr')|protectMail() }}" title="Send mail to the site administrator">e-mail the site administrator</a>.
</p>

<h2>7. Submission of content on this site</h2>
<p>
    By providing any content to this site, you agree to the following clauses:
</p>
<ol>
    <li>You agree to grant the site operator a worldwide, royalty-free, perpetual, non-exclusive right and licence (including any moral rights or other necessary rights) to use, display, reproduce, modify, adapt, publish, distribute, perform, promote, archive, translate, and to create derivative works and compilations, in whole or in part. Such licence will apply with respect to any form, media or technology already known at the time of provision or developed subsequently.</li>
    <li>You warrant and represent that you have all legal, moral, and other rights that may be necessary to grant the site operator the licence specified in this section 7.</li>
    <li>You acknowledge and agree that the site operator will have every right and full discretion (but no obligation) to refuse to publish, or to remove, or to block access to any content you provide, at any time and for any reason, with or without notice.</li>
</ol>
<h2>8. Third-party services</h2>
<p>
    Goods and services of third parties may be advertised and/or may be made available on or through this site. Products and services provided by third parties will be governed by the policies and representations of these third parties. The site operator will not in any manner be liable for or responsible for any of your dealings or interaction with third parties. Nor will the site operator be liable or responsible in any way for the quality, continuity or satisfactory provision of third-party products and services.
</p>
<h2>9. Indemnification</h2>
<p>
    You agree to indemnify and hold harmless the site operator and the site operator's representatives, subsidiaries, affiliates, related parties, officers, directors, employees, agents, independent contractors, advertisers, partners, and co-branders, from any claim or demand, including reasonable legal fees, that may be filed by any third party, arising out of your conduct or connection with this site or service, your provision of content, your violation of these 'Terms of use', or any other violation by you of the rights of another person or party.
</p>
<h2>10. DISCLAIMER OF WARRANTIES</h2>
<p>
    YOU UNDERSTAND AND AGREE THAT YOUR USE OF THIS SITE AND OF ANY SERVICES OR  CONTENT PROVIDED (THE 'SERVICE') IS AT YOUR OWN RISK. SERVICES AND CONTENT ARE PROVIDED TO YOU 'AS IS', AND THE SITE OPERATOR EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EITHER IMPLIED OR EXPRESS; THIS INCLUDES (BUT IS NOT LIMITED TO) WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
</p>

<p>
    THE SITE OPERATOR OFFERS NO IMPLIED OR EXPRESS WARRANTY THAT ANY PART OF ANY SERVICE WILL BE UNINTERRUPTED, ERROR-FREE, VIRUS-FREE, TIMELY, SECURE, ACCURATE, RELIABLE, OR OF ANY QUALITY. NOR IS IT WARRANTED EITHER IMPLICITLY OR EXPRESSLY THAT ANY CONTENT IS SAFE IN ANY MANNER FOR DOWNLOAD OR USAGE. YOU UNDERSTAND AND AGREE THAT NEITHER THE SITE OPERATOR NOR ANY PARTICIPANT IN A SERVICE PROVIDES   PROFESSIONAL ADVICE OF ANY KIND. YOU UNDERSTAND AND AGREE THAT ANY ADVICE OR ANY OTHER INFORMATION OBTAINED VIA THIS SITE MAY BE USED SOLELY AT YOUR OWN RISK, AND THAT THE SITE OPERATOR WILL NOT BE HELD LIABLE IN ANY WAY.
</p>
<p>
    Some jurisdictions may not allow disclaimers of implied warranties, and certain statements in the above disclaimer may not apply to you as regards implied warranties; the other terms and conditions remain enforceable notwithstanding.
</p>
<h2>11. LIMITATION OF LIABILITY</h2>
<p>
    YOU EXPRESSLY UNDERSTAND AND AGREE THAT THE SITE OPERATOR WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES (EVEN IF THE SITE OPERATOR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES). THIS INCLUDES, BUT IS NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES RESULTING FROM:
</p>
<ol>
    <li>THE USE OF SERVICES OR THE INABILITY TO USE SERVICES,</li>
    <li>THE COST OF OBTAINING SUBSTITUTE GOODS AND/OR SERVICES RESULTING  FROM ANY TRANSACTION ENTERED INTO ON THROUGH SERVICES,</li>
    <li>UNAUTHORISED ACCESS TO OR ALTERATION OF YOUR DATA TRANSMISSIONS,</li>
    <li>STATEMENTS BY ANY THIRD PARTY OR CONDUCT OF ANY THIRD PARTY USING SERVICES,</li>
    <li>OR ANY OTHER ISSUE PERTAINING TO SERVICES.</li>
</ol>
<p>
    In some jurisdictions, it is not permitted to limit liability and, therefore, such limitations may not apply to you.
</p>
<h2>12. Reservation of rights</h2>
<p>
    The site operator reserves all of the site operator's rights, including but not limited to any and all copyrights, trademarks, patents, trade secrets, and any other proprietary right that the site operator may have in respect of this site, its content, and goods and services that may be  provided. The use of the site operator's rights and property requires the site operator's prior written consent. By making services available to you, the site operator is not providing you with any implied or express licences or rights, and you will have no rights to make any commercial or other unforeseen use of this site or provided services without the site operator's prior written consent.
</p>
<h2>13. Notification of copyright infringement</h2>
<p>
    If you believe that your property has been used in any way that could be considered a copyright infringement or a violation of your intellectual property rights, the site operator's copyright agent can be contacted via:
</p>
<ul>
    <li><a href="mailto:{{ getSystemVar('adminmail')|e('html_attr')|protectMail() }}" title="Send mail to the site administrator">E-mail to the site administrator</a>.</li>
</ul>

<!-- **NOTE: You are supposed to provide a name and mailing address -->
<!-- to accept service of papers. -->

<h2>14. Applicable law</h2>
<p>
    You agree that these 'Terms of use' and any dispute arising out of your use of this site or products or services provided will be governed by and construed in accordance with local laws applicable at the site operator's domicile, notwithstanding any  differences between the said applicable legislation and legislation in force at your location. By registering for a user account on this site, or by using this site and the services it provides, you accept that jurisdiction is granted to the courts having jurisdiction over the site operator's domicile, and that any disputes will be heard by the said courts.
</p>

<!-- This section should properly appear in the following format: -->
<!--  You agree that this Terms of Use  -->
<!--  and any dispute arising out of your use of this site or our products or  -->
<!--  services shall be governed by and construed in according with the laws of [<em>enter  -->
<!--  your country, state/province and county/city if applicable</em>] without regard  -->
<!--  to its conflict of law provisions. By registering or using this site and  -->

<!--  service you consent and submit to the exclusive jurisdiction and venue of the  -->
<!--  appropriate courts located in [<em>enter county/city</em>], [<em>enter state/province</em>]  -->
<!--  of [<em>enter country</em>]. -->

<h2>15. Changes to these 'Terms of use'</h2>
<p>
    Changes may be made to these 'Terms of use' from time to time. You should be notified of noteworthy changes by one or more of the following means:
</p>
<ol>
    <li>the posting of an announcement on the site;</li>
    <li>a requirement to read and accept the new 'Terms of use' before you can log into the site;</li>
    <li>an e-mail message sent to the e-mail address you provide as part of your user account information.</li>
</ol>
<p>
    Nothwithstanding, failure to post notification of changes to the site's 'Terms of use' will in no way invalidate the application of the new or changed clauses of the 'Terms of use', which you are recommended to re-read regularly.
</p>

<h2>16. Miscellaneous information</h2>
<ol>
    <li>In the event that any provision of these 'Terms of use' is deemed to conflict with legislation by a court with jurisdiction over the parties, the said provision will be interpreted to reflect the original intentions of the parties in accordance with applicable law, and the remainder of these 'Terms of use' will remain valid and applicable.</li>
    <li>The failure of either party to assert any right under these 'Terms of use' will not be considered to be a waiver of that party's right, and the said right will remain in full force and effect.</li>
    <li>You agree that any claim or cause in respect of this site or its services must be filed within one (1) year after such claim or cause arose, or the said claim or cause will be forever barred, without regard to any contrary legislation.</li>
    <li>The site operator may assign the site operator's rights and obligations under these 'Terms of use'; in this event, the site operator will be relieved of any further obligation.</li>
</ol>
