{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-trash-o"></span>
    {{ __f('Deny registration request of %sub%', {"%sub%": user.uname}) }}
</h3>

<p class="alert alert-warning">{{ __('Warning! This will delete the registration from the database. It cannot be undone.') }}</p>

{{ include('@ZikulaUsersModule/RegistrationAdministration/include.html.twig') }}

<hr>
{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.notify) }}
{{ form_row(form.reason) }}
{{ notifyDisplayHooks(constant('Zikula\\UsersModule\\Container\\HookContainer::REGISTRATION_DELETE_FORM')) }}
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.confirm) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}

{{ adminFooter() }}

