{{ adminHeader() }}
<h3>
    <span class="fa fa-user"></span>
    {{ __('Registration applications list') }}
</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{ __('User name') }}</th>
            <th>{{ __('Internal ID') }}</th>
            <th>{{ __('Registration date') }}</th>
            <th>{{ __('E-mail address') }}</th>
            <th class="text-center">{{ __('Approved?') }}</th>
            <th class="text-center">{{ __('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% set titleIfSent = __('Send a new e-mail verification code') %}
        {% set titleIfNotSent = __('Send an e-mail verification code') %}
        {% for user in users %}
            <tr>
                <td>{{ user.uname }}</td>
                <td>{{ user.uid }}</td>
                <td>{{ user.user_regdate|date() }}</td>
                <td>{% if user.email|default %}<a href="mailto:{{ user.email|url_encode }}">{{ user.email }}</a>{% else %}---{% endif %}</td>
                <td class="text-center">
                    {% if user.approved %}
                        <span class="fa fa-check fa-green tooltips" title="{{ __('Approved') }}"></span>
                    {% else %}
                        <span class="fa fa-times fa-red tooltips" title="{{ __('Pending approval') }}"></span>
                    {% endif %}
                </td>
                <td class="actions">
                    {% for action in actionsHelper.registration(user) %}
                        <a class="fa fa-fw fa-{{ action.icon }} tooltips" href="{{ action.url }}" title="{{ action.text }}"></a>
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr class="info"><td colspan="7">{{ __('There are no pending registration applications to review.') }}</td></tr>
        {% endfor %}
    </tbody>
</table>

{{ pager({rowcount:pager.count, limit:pager.limit, route:'zikulausersmodule_registrationadministration_list'}) }}

<p class="sub text-center bold">{{ __('Legend') }}</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th colspan="2" class="sub text-center">{{ __('Approval') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-md-6">
                <span title="{{ __('Approved') }}" class="fa fa-check fa-green"></span>
                {{ __('An administrator has approved the registration, or approval was not required when the registration was completed.') }}
            </td>
            <td class="col-md-6">
                <span title="{{ __('Pending approval') }}" class="fa fa-times fa-red"></span>
                {{ __('Waiting for an administrator to approve the registration.') }}
            </td>
        </tr>
    </tbody>
</table>
{{ adminFooter() }}
