{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
<h3>
    <span class="fa fa-user"></span>
    {{ __f('Confirm verification code is to be sent to \', {"%sub%": reginfo.uname}) }}
</h3>

{% include 'Admin/includeregistration.html.twig' %}

<form id="users_verifyregistration" class="form-horizontal" role="form" action="{{ path('zikulausersmodule_admin_verifyregistration') }}" method="post">
    <div>
        <input type="hidden" id="users_csrftoken" name="csrftoken" value="{insert name='csrftoken'}" />
        <input type="hidden" id="users_uid" name="uid" value="{{ reginfo.uid }}" />
        <input type="hidden" id="users_force" name="force" value="{{ force }}" />
        <input type="hidden" id="users_restoreview" name="restoreview" value="{{ restoreview }}" />
        <input type="hidden" id="users_confirmed" name="confirmed" value="true" />
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
            {strip}
            {% set titleIfSent = __('Resend verification code') %}
            {% set titleIfNotSent = __('Send verification code') %}
            {% if !empty(reginfo.verifycode) %}
            {% set actionTitle = titleIfSent %}
            {% else %}
            {% set actionTitle = titleIfNotSent %}
            {% endif %}
            {/strip}
                {button class="btn btn-success" id='confirm' type='submit' alt=$actionTitle title=$actionTitle text=$actionTitle}
                <a class="btn btn-default" href="{{ cancelurl }}" title="{{ __('Cancel') }}">{{ __('Cancel') }}</a>
            </div>
        </div>
    </div>
</form>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
