{% extends '@ZikulaCoreInstaller/theme.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title "Zikula Core Installer :: Login" %}

{% block content %}
<div>
    <fieldset>
        <legend>{{  __("Please Login with Admin credentials") }}</legend>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.username) }}
            <div class="col-sm-9">
                {{ form_errors(form.username) }}
                {{ form_widget(form.username) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.password) }}
            <div class="col-sm-9">
                {{ form_errors(form.password) }}
                {{ form_widget(form.password) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" value="{{ __('Next') }}" class="btn btn-success" />
            </div>
        </div>
        {{ form_end(form) }}
    </fieldset>
</div>
<script>
    $(document).ready(function() {
        $('form:first *:input:text:first').focus();
    });
</script>
{% endblock %}
