<!DOCTYPE html>
<html lang="{{ app.request.locale }}" xml:lang="{{ app.request.locale }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Zikula Aplication Framework">
        <meta name="author" content="Zikula Development Team">
        <meta name="generator" content="Zikula Installer -- http://zikula.de" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <title>{% block title __('Zikula Core Installer') %}</title>

        {# always load bootstrap #}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}" type="text/css" />
        {# always load font-awesome #}
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}" type="text/css" />
        {# allow child templates to load additional stylesheets #}
        {% block stylesheets '' %}

        {# always load jquery #}
        <script type="text/javascript" src="{{ asset('jquery/jquery.min.js') }}"></script>
        {# always load bootstrap #}
        <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('webshim/js-webshim/minified/polyfiller.js') }}"></script>
        <script type="text/javascript">
            $.webshims.setOptions('basePath', '{{ app.request.getBasePath() }}/web/webshim/js-webshim/minified/shims/');
            $.webshims.activeLang('{{ app.request.locale }}');
            $.webshims.polyfill('forms');
        </script>
        <script type="text/javascript">
            (function($) {
                $(document).ready(function() {
                    $('label.control-label').removeClass('col-sm-2');
                });
            })(jQuery);
        </script>
        {# allow child templates to load additional scripts #}
        {% block javascripts '' %}

        {# allow child templates to add items to head #}
        {% block head '' %}

    </head>
    <body>
        {% block body '' %}
    </body>
</html>
