{% extends '@ZikulaCoreInstaller/structure.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/zikulacoreinstaller/css/installer.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/style/core.css" type="text/css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="style/core_iehacks.css" media="print,projection,screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="web/font-awesome/css/font-awesome-ie7.min.css" media="print,projection,screen" /><![endif]-->
    {% block childstylesheets '' %}
{% endblock %}
{% block javascripts %}
    {% block childjavascripts '' %}
{% endblock %}

{% block body %}
<div class="container">
    <div id="content">
        {{ include(headertemplate) }}

        <div id="maincontent" class="text-left">
            {{ showflashes() }}

            {% block content '' %}
        </div>
    </div>
    <div id="footer" class="footer">
        <ul>
            <li><strong>{{ __("Useful resources") }}:</strong></li>
            <li><a href="{{ path('doc', {'name': 'INSTALL-1.4.md'}) }}" onclick="window.open(this.href);return false;">{{ __("Installation guide") }}</a></li>
            <li><a href="https://github.com/zikula/core/wiki" onclick="window.open(this.href);return false;">{{ __("Zikula documentation") }}</a></li>
            <li><a href="http://www.zikula.org/forums" onclick="window.open(this.href);return false;">{{ __("Support forums") }}</a></li>
            {# custom links for each action go here #}
            {% if currentstage == 'requirements' %}
            <li class="highlight"><a href="http://www.wikipedia.org/wiki/File_system_permissions" onclick="window.open(this.href);return false;">{{ __("File system permissions") }}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
