{% extends '@ZikulaCoreInstaller/structure.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/zikulacoreinstaller/css/installer.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('bundles/core/css/core.css') }}" type="text/css" />
    {% block childstylesheets '' %}
{% endblock %}
{% block javascripts %}
    {% block childjavascripts '' %}
{% endblock %}

{% block body %}
<div class="container">
    <div id="content">
        {{ include(headertemplate) }}

        <div id="maincontent" class="text-left">
            {{ showflashes() }}

            {% block content '' %}
        </div>
    </div>
    <div id="footer" class="footer">
        <ul>
            <li><strong>{{ __("Useful resources") }}:</strong></li>
            <li><a href="{{ path('doc', {'name': 'INSTALL-1.x.md'}) }}" onclick="window.open(this.href);return false;">{{ __("Installation guide") }}</a></li>
            <li><a href="https://github.com/zikula/core/wiki" onclick="window.open(this.href);return false;">{{ __("Zikula documentation") }}</a></li>
            <li><a href="https://zikula.slack.com/" onclick="window.open(this.href);return false;">{{ __("Support @ Slack") }}</a></li>
            {# custom links for each action go here #}
            {% if currentstage == 'requirements' %}
            <li class="highlight"><a href="http://www.wikipedia.org/wiki/File_system_permissions" onclick="window.open(this.href);return false;">{{ __("File system permissions") }}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
