{% if setpagetitle and title %}
    {{ pageSetVar('title', title) }}
{% endif %}
{% if insertstatusmsg %}
    {{ showflashes() }}
{% endif %}

{% if 'printer' in userthemename|lower %}
    {% if image is defined and image %}<img src="{{ image }}" alt="{{ title }}" />{% endif %}
    {% if title %}<h2>{{ title }}</h2>{% endif %}

{% elseif type != 'admin' %}
    <div class="navbar navbar-inverse navbar-noborder">
        <div class="navbar-inner navbar-bgimages">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button data-target="#userheader-div" data-toggle="collapse" type="button" class="navbar-toggle">
                        <span class="sr-only">{{ __('Navigation') }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if image is defined and image %}
                        <a class="navbar-brand" href="{% if titlelink %}{{ titlelink }}{% else %}#{% endif %}" title="{{ title }}"><img class="img-responsive" alt="" src="{{ image }}" /></a>
                    {% endif %}
                    <a href="{% if titlelink %}{{ titlelink }}{% else %}#{% endif %}" class="navbar-brand" title="{{ title }}">{% if truncated %}{{ titletruncated }}{% else %}{{ title }}{% endif %}</a>
                </div>
                <div class="collapse navbar-collapse" id="userheader-div">
                    {% if truncated %}<h4>{{ title }}</h4>{% endif %}
                    {modulelinks modname=$modname type=$type menuclass='nav navbar-nav'}
                </div>
            </div>
        </div>
    </div>

{% else %}
    {% if menufirst %}{modulelinks modname=$modname type=$type}{% endif %}
    <div class="{% if type == 'user' %}z-modtitle{% else %}z-admin-content-modtitle{% endif %}">
        {% if image %}<img src="{{ image }}" alt="{{ title }}" class="z-floatleft" />{% endif %}
        {% if title %}<h2>{{ title }}</h2>{% endif %}
    </div>
    {% if not menufirst %}{modulelinks modname=$modname type=$type}{% endif %}
{% endif %}
