<!DOCTYPE html>
<html xml:lang="{{ app.request.locale }}" dir="auto">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ app.request.encodings.0 }}" />
    <title>{{ __('The site is currently off-line.') }}</title>
    <base href="{{ app.request.baseUrl }}" />
    <link rel="stylesheet" href="{{ asset('bootstrap-font-awesome.css') }}" type="text/css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center" style="margin-top: 3em;">
            <h1>{{ __('The site is currently off-line.') }}</h1>
            <h2>
                {% if versionsEqual %}
                    {{ getModVar('ZConfig', 'siteoffreason') }}
                {% else %}
                    {{ __('This site needs to be upgraded, please contact the system administrator.') }}
                {% endif %}
            </h2>
            {{ showflashes() }}
            <p><a class="btn btn-lg btn-primary" href="{{ path('zikulausersmodule_access_login') }}"><i class="fa fa-key"></i> {{ __('Administrator log-in') }}</a></p>
            <p>
                <a href="http://zikula.org"><img src="{{ asset('bundles/core/images/zk-power.png') }}" alt="{{ __('Proudly powered by Zikula') }}" title="{{ __('Proudly powered by Zikula') }}" width="96" height="30" /></a>
            </p>

        </div>
    </div>
</body>
</html>
