{# purpose of this template: routes delete confirmation view #}
{% extends routeArea == 'admin' ? 'ZikulaRoutesModule::adminBase.html.twig' : 'ZikulaRoutesModule::base.html.twig' %}
{% block title __('Delete route') %}
{% block admin_page_icon 'trash-o' %}
{% block content %}
    <div class="zikularoutesmodule-route zikularoutesmodule-delete">
        <p class="alert alert-warning">{{ __f('Do you really want to delete this route: "%name%" ?', {'%name%': route.getTitleFromDisplayPattern()}) }}</p>

        {% form_theme deleteForm with [
            '@ZikulaRoutesModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(deleteForm) }}
        {{ form_errors(deleteForm) }}

        <fieldset>
            <legend>{{ __('Confirmation prompt') }}</legend>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(deleteForm.delete) }}
                    {{ form_widget(deleteForm.cancel) }}
                </div>
            </div>
        </fieldset>

        {{ block('display_hooks') }}
        {{ form_end(deleteForm) }}
    </div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='zikularoutesmodule.ui_hooks.routes.form_delete', id=route.id) %}
    {% if hooks is iterable and hooks|length > 0 %}
        {% for providerArea, hook in hooks %}
            <fieldset>
                {# <legend>{{ hookName }}</legend> #}
                {{ hook }}
            </fieldset>
        {% endfor %}
    {% endif %}
{% endblock %}
