{# purpose of this template: routes display view #}
{% extends routeArea == 'admin' ? 'ZikulaRoutesModule::adminBase.html.twig' : 'ZikulaRoutesModule::base.html.twig' %}
{% block pageTitle %}{{ route.getTitleFromDisplayPattern()|default(__('Route')) }}{% endblock %}
{% block title %}
    {% set templateTitle = route.getTitleFromDisplayPattern()|default(__('Route')) %}
    {{ templateTitle }}
    {% set itemActions = knp_menu_get('ZikulaRoutesModule:ItemActionsMenu:menu', [], { entity: route, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ route.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                $('.dropdown > ul').removeClass('list-inline').addClass('list-unstyled dropdown-menu');
                $('.dropdown > ul a').each(function (index) {
                    $(this).html($(this).html() + $(this).find('i').first().data('original-title'));
                });
                $('.dropdown > ul a i').addClass('fa-fw');
                $('.dropdown-toggle').removeClass('hidden').dropdown();
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    <div class="zikularoutesmodule-route zikularoutesmodule-display">


    <dl>
        <dt>{{ __('Route type') }}</dt>
        <dd>{{ route.routeType|zikularoutesmodule_listEntry('route', 'routeType') }}</dd>
        <dt>{{ __('Replaced route name') }}</dt>
        <dd>{{ route.replacedRouteName }}</dd>
        <dt>{{ __('Bundle') }}</dt>
        <dd>{{ route.bundle }}</dd>
        <dt>{{ __('Controller') }}</dt>
        <dd>{{ route.controller }}</dd>
        <dt>{{ __('Action') }}</dt>
        <dd>{{ route.action }}</dd>
        <dt>{{ __('Path') }}</dt>
        <dd>{{ route.path }}</dd>
        <dt>{{ __('Host') }}</dt>
        <dd>{{ route.host }}</dd>
        <dt>{{ __('Schemes') }}</dt>
        <dd>{{ route.schemes|zikularoutesmodule_listEntry('route', 'schemes') }}</dd>
        <dt>{{ __('Methods') }}</dt>
        <dd>{{ route.methods|zikularoutesmodule_listEntry('route', 'methods') }}</dd>
        <dt>{{ __('Prepend bundle prefix') }}</dt>
        <dd>{% if route.prependBundlePrefix %}
            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
        {% else %}
            <i class="fa fa-times" title="{{ __('No') }}"></i>
        {% endif %}
        </dd>
        <dt>{{ __('Translatable') }}</dt>
        <dd>{% if route.translatable %}
            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
        {% else %}
            <i class="fa fa-times" title="{{ __('No') }}"></i>
        {% endif %}
        </dd>
        <dt>{{ __('Translation prefix') }}</dt>
        <dd>{{ route.translationPrefix }}</dd>
        <dt>{{ __('Defaults') }}</dt>
        <dd>{{ route.defaults|zikularoutesmodule_arrayToString }}</dd>
        <dt>{{ __('Requirements') }}</dt>
        <dd>{{ route.requirements|zikularoutesmodule_arrayToString }}</dd>
        <dt>{{ __('Condition') }}</dt>
        <dd>{{ route.condition }}</dd>
        <dt>{{ __('Description') }}</dt>
        <dd>{{ route.description }}</dd>
        <dt>{{ __('Sort') }}</dt>
        <dd>{{ route.sort }}</dd>
        <dt>{{ __('Group') }}</dt>
        <dd>{{ route.group }}</dd>
        
    </dl>
    {{ include('@ZikulaRoutesModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: route }) }}

    {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
    {% endif %}
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}

{% endblock %}
