{# purpose of this template: build the form to edit an instance of route #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'ZikulaRoutesModule::' ~ baseTemplate ~ '.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaRoutesModule:js/ZikulaRoutesModule.Validation.js', 98)) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaRoutesModule:js/ZikulaRoutesModule.EditFunctions.js', 99)) }}
    <script type="text/javascript">
        (function($) {
            $(function() {
                function updatePathPrefix() {
                    var i18n = $('#zikularoutesmodule_route_translatable').prop('checked');
                    var bundlePrefix = $('#zikularoutesmodule_route_prependBundlePrefix').prop('checked');
                    var baseUrl = {{ app.request.baseUrl|json_encode|raw }}
                    var moduleUrlNames = {{ moduleUrlNames|json_encode|raw }};

                    if (bundlePrefix) {
                        var bundle = $('#zikularoutesmodule_route_bundle').val();
                        bundlePrefix = '/' + moduleUrlNames[bundle];
                    } else {
                        bundlePrefix = '';
                    }

                    if (i18n) {
                        i18n = '/{' + '{{ __('lang') }}' + '}';
                    } else {
                        i18n = '';
                    }

                    var pathPrefix = baseUrl + i18n + bundlePrefix;
                    $('#pathPrefix').text(pathPrefix.replace('"', ''));
                }

                updatePathPrefix();
                $('#zikularoutesmodule_route_bundle, #zikularoutesmodule_route_prependBundlePrefix, #zikularoutesmodule_route_translatable').change(updatePathPrefix);
            });
        })(jQuery)
    </script>
{% endblock %}

{% block title mode == 'create' ? __('Create route') : __('Edit route') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="zikularoutesmodule-route zikularoutesmodule-edit">
{% form_theme form with [
    '@ZikulaRoutesModule/Form/bootstrap_3.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ form_start(form, {attr: {id: 'routeEditForm', class: 'zikularoutes-edit-form'}}) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{{ __('Basic settings') }}</legend>
    {{ form_row(form.bundle) }}
    {{ form_row(form.controller) }}
    {{ form_row(form.action) }}
    {{ form_row(form.path) }}
    {{ form_row(form.description) }}
    <div class="hidden">
        {{ form_row(form.sort) }}
    </div>
    {{ form_row(form.prependBundlePrefix) }}
    {{ form_row(form.translatable) }}
    {{ form_row(form.translationPrefix) }}
</fieldset>
<fieldset>
    <legend>{{ __('Route scope') }}</legend>
    {{ form_row(form.schemes) }}
    {{ form_row(form.methods) }}
</fieldset>
<fieldset>
    <legend>{{ __('Parameter settings') }}</legend>
    {{ form_row(form.defaults) }}
    {{ form_row(form.requirements) }}
    {{ form_row(form.options) }}
</fieldset>
<fieldset>
    <legend>{{ __('Advanced settings') }}</legend>
    {{ form_row(form.host) }}
    {{ form_row(form.condition) }}
</fieldset>

{% if mode != 'create' %}
    {{ include('@ZikulaRoutesModule/Helper/includeStandardFieldsEdit.html.twig', { obj: route }) }}
{% endif %}

{% if form.moderationSpecificCreator is defined %}
    <fieldset id="moderationFieldsSection">
        <legend>{{ __('Moderation') }} <i class="fa fa-expand"></i></legend>
        <div id="moderationFieldsContent">
            {{ form_row(form.moderationSpecificCreator) }}
            {{ form_row(form.moderationSpecificCreationDate) }}
        </div>
    </fieldset>
{% endif %}

{# include return control #}
{% if mode == 'create' %}
    <fieldset>
        <legend>{{ __('Return control') }}</legend>
        {{ form_row(form.repeatCreation) }}
    </fieldset>
{% endif %}

{# include possible submit actions #}
<div class="form-group form-buttons">
    <div class="col-sm-offset-3 col-sm-9">
        {% for action in actions %}
            {{ form_widget(attribute(form, action.id)) }}
        {% endfor %}
        {{ form_widget(form.reset) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}

    {% set editImage = '<span class="fa fa-pencil-square-o"></span>' %}
    {% set deleteImage = '<span class="fa fa-trash-o"></span>' %}

    <script type="text/javascript">
    /* <![CDATA[ */


        ( function($) {
            $(document).ready(function() {
                // initialise auto completion for user fields
                {% if form.moderationSpecificCreator is defined %}
                    initUserLiveSearch('zikularoutesmodule_route_moderationSpecificCreator');
                {% endif %}
                zikulaRoutesInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ route.id }}{% endif %}');
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
