{# purpose of this template: routes view filter form #}
{% if hasPermission('ZikulaRoutesModule:Route:', '::', 'ACCESS_EDIT') %}
    {% form_theme quickNavForm with [
        'bootstrap_3_layout.html.twig'
    ] %}
    {{ form_start(quickNavForm, {attr: {id: 'zikulaRoutesModuleRouteQuickNavForm', class: 'zikularoutesmodule-quicknav navbar-form', role: 'navigation'}}) }}
    {{ form_errors(quickNavForm) }}
    <a href="#collapseRouteQuickNav" role="button" data-toggle="collapse" class="btn btn-default" aria-expanded="false" aria-controls="collapseRouteQuickNav">
        <i class="fa fa-filter" aria-hidden="true"></i> {{ __('Filter') }}
    </a>
    <div id="collapseRouteQuickNav" class="collapse">
        <fieldset>
            <h3>{{ __('Quick navigation') }}</h3>
            {% if workflowStateFilter is defined and workflowStateFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.workflowState) }}
            {% if workflowStateFilter is defined and workflowStateFilter != true %}
                </div>
            {% endif %}
            {% if routeTypeFilter is defined and routeTypeFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.routeType) }}
            {% if routeTypeFilter is defined and routeTypeFilter != true %}
                </div>
            {% endif %}
            {% if schemesFilter is defined and schemesFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.schemes) }}
            {% if schemesFilter is defined and schemesFilter != true %}
                </div>
            {% endif %}
            {% if methodsFilter is defined and methodsFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.methods) }}
            {% if methodsFilter is defined and methodsFilter != true %}
                </div>
            {% endif %}
            {% if searchFilter is defined and searchFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.q) }}
            {% if searchFilter is defined and searchFilter != true %}
                </div>
            {% endif %}
            {% if sorting is defined and sorting != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.sort) }}
                {{ form_row(quickNavForm.sortdir) }}
            {% if sorting is defined and sorting != true %}
                </div>
            {% endif %}
            {% if pageSizeSelector is defined and pageSizeSelector != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.num) }}
            {% if pageSizeSelector is defined and pageSizeSelector != true %}
                </div>
            {% endif %}
            {% if prependBundlePrefixFilter is defined and prependBundlePrefixFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.prependBundlePrefix) }}
            {% if prependBundlePrefixFilter is defined and prependBundlePrefixFilter != true %}
                </div>
            {% endif %}
            {% if translatableFilter is defined and translatableFilter != true %}
                <div class="hidden">
            {% endif %}
                {{ form_row(quickNavForm.translatable) }}
            {% if translatableFilter is defined and translatableFilter != true %}
                </div>
            {% endif %}
            {{ form_widget(quickNavForm.updateview) }}
        </fieldset>
    </div>
    {{ form_end(quickNavForm) }}
{% endif %}
