{# purpose of this template: routes list view #}
{% extends routeArea == 'admin' ? 'ZikulaRoutesModule::adminBase.html.twig' : 'ZikulaRoutesModule::base.html.twig' %}
{% block title own ? __('My routes') : __('Route list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
{% if items|length > 1 %}
{% set customScriptAndStyles %}
    <script type="text/javascript">
        ( function($) {
            $(document).ready(function() {
                $(function() {
                    // Return a helper with preserved width of cells
                    var fixHelper = function(e, ui) {
                        ui.children().each(function() {
                            $(this).css({ width: $(this).width() });
                        });
                        return ui;
                    };

                    $('#indicator').hide().removeClass('hidden');

                    $('#routesViewForm table tbody').sortable({
                        helper: fixHelper,
                        items: '> tr.sortable',
                        update: function (event, ui) {
                            function showIndicator() {
                                $('#indicator').fadeIn();
                            }
                            function hideIndicator() {
                                $('#indicator').fadeOut();
                            }
                            showIndicator();
                            $.ajax({
                                url: '{{ url('zikularoutesmodule_ajax_sort') }}',
                                type: 'POST',
                                data: {
                                    ot: 'route',
                                    sort: $('#routesViewForm table tbody').sortable('toArray')
                                }
                            }).always(hideIndicator);
                        }
                    }).disableSelection();
                });
            });
        })(jQuery);
    </script>
    <style type="text/css">
        #indicator {
            position: fixed;
            right: 10px;
            top: 10px;
            z-index: 9999;
        }
        .zikularoutesmodule-view .ui-sortable .sortable {
            cursor: move;
        }
    </style>
{% endset %}
{{ pageAddAsset('header', customScriptAndStyles) }}
<img src="images/ajax/zktimer_48px_white_rounded.gif" width="48" height="48" alt="{{ __('Indicator') }}" id="indicator" class="hidden" />
{% endif %}
<div class="zikularoutesmodule-route zikularoutesmodule-view">

    <div class="alert alert-warning">
        {{ __f('Below you see your current routing configuration (see %s for configuration reference).', { '%s': '<a href="http://jmsyst.com/bundles/JMSI18nRoutingBundle/master/configuration">JMSI18nRoutingBundle</a>' })|raw }}
        {% set title = __('Localisation settings') %}
        {% set url = path('zikulasettingsmodule_settings_locale') %}
        {{ __f('You can change your routing configuration in the Settings module: %s.', { '%s': '<a href="' ~ url ~ '">' ~ title ~ '</a>' })|raw }}
        {{ __('In case one or more installed languages are not listed below, click "Reload multilingual routing settings" in the menu above to reload installed languages.') }}
        {{ jms_i18n_routing|raw }}
    </div>

    {{ block('page_nav_links') }}

    {# { include('@ZikulaRoutesModule/Route/viewQuickNav.html.twig', { workflowStateFilter: false }) }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('zikularoutesmodule_route_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="routesViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cRouteType" />
                <col id="cBundle" />
                <col id="cPath" />
                <col id="cHost" />
                <col id="cSchemes" />
                <col id="cMethods" />
                <col id="cPrependBundlePrefix" />
                <col id="cTranslatable" />
                <col id="cTranslationPrefix" />
                <col id="cDescription" />
                <col id="cItemActions" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="text-center">
                        <input type="checkbox" class="zikularoutes-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hRouteType" scope="col" class="text-left">
                    <a href="{{ sort.routeType.url }}" title="{{ __f('Sort by %s', {'%s': 'route type'}) }}" class="{{ sort.routeType.class }}">{{ __('Route type') }}</a>
                </th>
                <th id="hBundle" scope="col" class="text-left">
                    <a href="{{ sort.bundle.url }}" title="{{ __f('Sort by %s', {'%s': 'bundle'}) }}" class="{{ sort.bundle.class }}">{{ __('Bundle') }}</a>
                </th>
                <th id="hPath" scope="col" class="text-left">
                    <a href="{{ sort.path.url }}" title="{{ __f('Sort by %s', {'%s': 'path'}) }}" class="{{ sort.path.class }}">{{ __('Path') }}</a>
                </th>
                <th id="hHost" scope="col" class="text-left">
                    <a href="{{ sort.host.url }}" title="{{ __f('Sort by %s', {'%s': 'host'}) }}" class="{{ sort.host.class }}">{{ __('Host') }}</a>
                </th>
                <th id="hSchemes" scope="col" class="text-left">
                    <a href="{{ sort.schemes.url }}" title="{{ __f('Sort by %s', {'%s': 'schemes'}) }}" class="{{ sort.schemes.class }}">{{ __('Schemes') }}</a>
                </th>
                <th id="hMethods" scope="col" class="text-left">
                    <a href="{{ sort.methods.url }}" title="{{ __f('Sort by %s', {'%s': 'methods'}) }}" class="{{ sort.methods.class }}">{{ __('Methods') }}</a>
                </th>
                <th id="hPrependBundlePrefix" scope="col" class="text-center">
                    <a href="{{ sort.prependBundlePrefix.url }}" title="{{ __f('Sort by %s', {'%s': 'prepend bundle prefix'}) }}" class="{{ sort.prependBundlePrefix.class }}">{{ __('Prepend bundle prefix') }}</a>
                </th>
                <th id="hTranslatable" scope="col" class="text-center">
                    <a href="{{ sort.translatable.url }}" title="{{ __f('Sort by %s', {'%s': 'translatable'}) }}" class="{{ sort.translatable.class }}">{{ __('Translatable') }}</a>
                </th>
                <th id="hTranslationPrefix" scope="col" class="text-left">
                    <a href="{{ sort.translationPrefix.url }}" title="{{ __f('Sort by %s', {'%s': 'translation prefix'}) }}" class="{{ sort.translationPrefix.class }}">{{ __('Translation prefix') }}</a>
                </th>
                <th id="hDescription" scope="col" class="text-left">
                    <a href="{{ sort.description.url }}" title="{{ __f('Sort by %s', {'%s': 'description'}) }}" class="{{ sort.description.class }}">{{ __('Description') }}</a>
                </th>
                <th id="hItemActions" scope="col" class="text-right z-order-unsorted">{{ __('Actions') }}</th>
            </tr>
            </thead>
            <tbody>
        
        {% set groupOld = null %}
        {% for route in items %}
            {% if route.group != groupOld %}
                <tr>
                    <td class="text-left" colspan="{% if routeArea == 'admin' %}12{% else %}11{% endif %}">
                        {{ groupMessages[route.group] }}
                    </td>
                </tr>
            {% endif %}
            <tr id="row_{{ route.id }}"{% if route.group in sortableGroups %} class="sortable"{% endif %}>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="text-center">
                        <input type="checkbox" name="items[]" value="{{ route.id }}" class="zikularoutes-toggle-checkbox" />
                    </td>
                {% endif %}
                <td headers="hRouteType" class="text-left">
                    {{ route.routeType|zikularoutesmodule_listEntry('route', 'routeType') }}
                </td>
                <td headers="hBundle" class="text-left">
                    {{ route.bundle }}
                </td>
                <td headers="hPath" class="text-left">
                    {{ route.path|zikularoutesmodule_pathToString(route) }}{% if route.methods|length > 0 %} <span class="small">[{{ route.methods|join(', ') }}</span>]{% endif %}
                </td>
                <td headers="hHost" class="text-left">
                    {{ route.host }}
                </td>
                <td headers="hSchemes" class="text-left">
                    {{ route.schemes|zikularoutesmodule_listEntry('route', 'schemes') }}
                </td>
                <td headers="hMethods" class="text-left">
                    {{ route.methods|zikularoutesmodule_listEntry('route', 'methods') }}
                </td>
                <td headers="hPrependBundlePrefix" class="text-center">
                    {% if route.prependBundlePrefix %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hTranslatable" class="text-center">
                    {% if route.translatable %}
                        <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{{ __('No') }}"></i>
                    {% endif %}
                </td>
                <td headers="hTranslationPrefix" class="text-left">
                    {{ route.translationPrefix }}
                </td>
                <td headers="hDescription" class="text-left">
                    {{ route.description|truncate(50, true) }}
                </td>
                <td id="itemActions{{ route.id }}" headers="hItemActions" class="actions text-right nowrap z-w02">
                    {% set itemActions = knp_menu_get('ZikulaRoutesModule:ItemActionsMenu:menu', [], { entity: route, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ route.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
            </tr>
            {% set groupOld = route.group %}
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}12{% else %}11{% endif %}">
            {{ __('No routes found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if showAllEntries != 1 and pager|default %}
            {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'zikularoutesmodule_route_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="zikulaRoutesModuleAction" class="col-sm-3 control-label">{{ __('With selected routes') }}</label>
                <div class="col-sm-6">
                    <select id="zikulaRoutesModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
{% block page_nav_links %}
    {% if canBeCreated %}
        {% if hasPermission('ZikulaRoutesModule:Route:', '::', 'ACCESS_EDIT') %}
            {% set createTitle = __('Create route') %}
            {# disabled for now <a href="{{ path('zikularoutesmodule_route_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>#}
        {% endif %}
    {% endif %}
    {#{% if showAllEntries == 1 %}
        {% set linkTitle = __('Back to paginated view') %}
        <a href="{{ path('zikularoutesmodule_route_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% else %}
        {% set linkTitle = __('Show all entries') %}
        <a href="{{ path('zikularoutesmodule_route_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% endif %}#}
{% endblock %}
