{# purpose of this template: routes view filter form #}
{% macro renderQuickNavEntry(quickNavForm, fieldName, isVisible) %}
    {% if attribute(quickNavForm, fieldName) is defined and attribute(quickNavForm, fieldName) is not null %}
        {% if not isVisible %}
            <div class="d-none">
        {% endif %}
            {{ form_row(attribute(quickNavForm, fieldName)) }}
        {% if not isVisible %}
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}
{% if permissionHelper.mayUseQuickNav('route') %}
    {% form_theme quickNavForm with [
        'bootstrap_4_layout.html.twig'
    ] only %}
    {{ form_start(quickNavForm, {attr: {id: 'zikulaRoutesModuleRouteQuickNavForm', class: 'zikularoutesmodule-quicknav form-inline', role: 'navigation'}}) }}
    {{ form_errors(quickNavForm) }}
    <a href="#collapseRouteQuickNav" role="button" data-toggle="collapse" class="btn btn-secondary" aria-expanded="false" aria-controls="collapseRouteQuickNav">
        <i class="fas fa-filter" aria-hidden="true"></i> {% trans %}Filter{% endtrans %}
    </a>
    <div id="collapseRouteQuickNav" class="collapse">
        <h3>{% trans %}Quick navigation{% endtrans %}</h3>
        {{ _self.renderQuickNavEntry(quickNavForm, 'workflowState', workflowStateFilter is not defined or workflowStateFilter == true) }}
        {{ _self.renderQuickNavEntry(quickNavForm, 'schemes', schemesFilter is not defined or schemesFilter == true) }}
        {{ _self.renderQuickNavEntry(quickNavForm, 'methods', methodsFilter is not defined or methodsFilter == true) }}
        {{ _self.renderQuickNavEntry(quickNavForm, 'q', searchFilter is not defined or searchFilter == true) }}
        {% if quickNavForm.sort is defined and quickNavForm.sort is not null %}
            {% if sorting is defined and sorting != true %}
                <div class="d-none">
            {% endif %}
                {{ form_row(quickNavForm.sort) }}
                {% if quickNavForm.sortdir is defined and quickNavForm.sortdir is not null %}
                    {{ form_row(quickNavForm.sortdir) }}
                {% endif %}
            {% if sorting is defined and sorting != true %}
                </div>
            {% endif %}
        {% endif %}
        {{ _self.renderQuickNavEntry(quickNavForm, 'num', pageSizeSelector is not defined or pageSizeSelector == true) }}
        {{ _self.renderQuickNavEntry(quickNavForm, 'prependBundlePrefix', prependBundlePrefixFilter is not defined or prependBundlePrefixFilter == true) }}
        {{ _self.renderQuickNavEntry(quickNavForm, 'translatable', translatableFilter is not defined or translatableFilter == true) }}
        {{ form_widget(quickNavForm.updateview) }}
        <a href="{{ path('zikularoutesmodule_route_' ~ routeArea|default ~ 'view', {tpl: app.request.query.get('tpl', ''), all: app.request.query.get('all', '')}) }}" title="{% trans %}Back to default view{% endtrans %}" class="btn btn-secondary btn-sm">{% trans %}Reset{% endtrans %}</a>
    </div>
    {{ form_end(quickNavForm) }}
{% endif %}
