{% extends "bootstrap_3_horizontal_layout.html.twig" %}

{% block form_label_class -%}
col-sm-3
{%- endblock form_label_class %}

{% block form_group_class -%}
col-sm-9
{%- endblock form_group_class %}

{% block checkbox_widget -%}
    {% set parent_label_class = parent_label_class|default('') -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: parent() }) -}}
    {% else -%}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {%- endif %}
{%- endblock checkbox_widget %}

{% block checkbox_row -%}
{% spaceless %}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{ block('form_label') }}
        <div class="{{ block('form_group_class') }}">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
            {% if help is defined %}
                <em class="help-block small">{{ help }}</em>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{%- endblock checkbox_row %}

{% block submit_row -%}
{% spaceless %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 {{ block('form_label_class') }}"></div>
        <div class="col-sm-offset-3 {{ block('form_group_class') }}">
            {{ form_widget(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock submit_row %}

{# ADD HELP TEXT TO INPUT ELEMENTS & ADD INPUT GROUPS TO SIMPLE INPUTS #}
{% block form_widget_simple %}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {%- set type = type|default('text') -%}
    {% if input_group|default %}<div class="input-group">{% endif %}
    {% if input_group|default and input_group.left|default %}<div class="input-group-addon">{{ input_group.left|default|raw }}</div>{% endif %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if input_group|default and input_group.right|default %}<div class="input-group-addon">{{ input_group.right|default|raw }}</div>{% endif %}
    {% if input_group|default %}</div>{% endif %}

    {% if help is defined %}
        <em class="help-block small">{{ help }}</em>
    {% endif %}
{% endblock %}

{% block textarea_widget -%}
    {{- parent() -}}
    {% if help is defined %}
        <em class="help-block small">{{ help }}</em>
    {% endif %}
{%- endblock textarea_widget %}

{% block choice_widget_collapsed -%}
    {{- parent() -}}
    {% if help is defined %}
        <em class="help-block small">{{ help }}</em>
    {% endif %}
{%- endblock %}

{% block choice_widget_expanded -%}
    {{- parent() -}}
    {% if help is defined %}
        <em class="help-block small">{{ help }}</em>
    {% endif %}
{%- endblock choice_widget_expanded %}
