{% form_theme form with [
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
{% if not intl_installed|default(false) %}
    <div class="alert alert-danger">
        {{ __f('WARNING: The PHP Extension %ext is not loaded. All functions using this will default to %locale. Seek assistance from your provider to install.', {"%ext": "<code>INTL</code>", "%locale": "<code>EN</code>"})|raw }}
    </div>
{% endif %}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-wrench"></span>
            {{ __('Localisation settings') }}
            {{ pageSetVar('title', __('Localisation settings')) }}
        </h3>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset>
            <legend>{{ __('Language system') }}</legend>
            {{ form_row(form.multilingual) }}
            {{ form_row(form.languageurl) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('Browser') }}</legend>
            {{ form_row(form.language_detect) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('Server') }}</legend>
            {{ form_row(form.language_i18n) }}
            {{ form_row(form.timezone_offset) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('Variable validation') }}</legend>
            {{ form_row(form.idnnames) }}
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{{ adminFooter() }}
