{{ moduleHeader('user', __('My account'), '', true, true) }}

{% if not currentUser.loggedin %}
    <p>{{ __('Please select one of the following:') }}</p>
    <ul>
        <li><a href="{{ path('zikulausersmodule_access_login') }}">{{ __('I would like to login.') }}</a></li>
        {% if getModVar('ZikulaUsersModule', constant('Zikula\\UsersModule\\Constant::MODVAR_REGISTRATION_ENABLED'), constant('Zikula\\UsersModule\\Constant::DEFAULT_REGISTRATION_ENABLED')) %}
            <li><a href="{{ path('zikulausersmodule_registration_register') }}">{{ __('I would like to create a new account.') }}</a></li>
        {% endif %}
        <li><a href="{{ path('zikulazauthmodule_account_lostusername') }}">{{ __('I have forgotten my account information (for example, my user name).') }}</a></li>
        <li><a href="{{ path('zikulazauthmodule_account_lostpassword') }}">{{ __('I have forgotten my password.') }}</a></li>
    </ul>
{% endif %}
<ul class="list-group">
    {% set displayGraphics = getModVar('ZikulaUsersModule', constant('Zikula\\UsersModule\\Constant::MODVAR_ACCOUNT_DISPLAY_GRAPHICS'), constant('Zikula\\UsersModule\\Constant::DEFAULT_ACCOUNT_DISPLAY_GRAPHICS')) %}
    {% for link in accountLinks %}
    <li class="list-group-item">
        <a href="{{ link.url }}">
            <div class="media">
                <div class="media-left mr-3">
                {% if displayGraphics %}
                    {% set imageTitle = link.text|replace({'"': ''}) %}
                    {% if link.icon[:4] == 'http' or not link.module|default %}
                        {% set icon = '<img title="' ~ imageTitle ~ '" src="'~link.icon~'" />' %}
                    {% elseif '.' in link.icon and link.module|default %}
                        {% set icon = '<img title="' ~ imageTitle ~ '" src="'~zasset('@'~link.module~':images/'~link.icon)~'" />' %}
                    {% else %}
                        {% set icon = '<i title="' ~ imageTitle ~ '" class="fa fa-fw fa-2x fa-'~link.icon~'"></i>' %}
                    {% endif %}
                    {{ icon|raw }}
                {% endif %}
                </div>
                <div class="media-body">
                    <h5><strong>{{ link.text }}</strong></h5>
                </div>
            </div>
        </a>
    </li>
{% endfor %}
</ul>

{{ moduleFooter() }}
