{{ moduleHeader('user', __('My account'), '', true, true) }}

{% if not currentUser.loggedin %}
    <p>{{ __('Please select one of the following:') }}</p>
    <ul>
        <li><a href="{{ path('zikulausersmodule_access_login') }}">{{ __('I would like to login.') }}</a></li>
        <li><a href="{{ path('zikulausersmodule_registration_register') }}">{{ __('I would like to create a new account.') }}</a></li>
        <li><a href="{{ path('zikulazauthmodule_account_lostusername') }}">{{ __('I have forgotten my account information (for example, my user name).') }}</a></li>
        <li><a href="{{ path('zikulazauthmodule_account_lostpassword') }}">{{ __('I have forgotten my password.') }}</a></li>
        <li><a href="{{ path('zikulazauthmodule_account_confirmationcode') }}">{{ __('I have received a password recovery code, and would like to enter it.') }}</a></li>
    </ul>
{% endif %}
<ul class="list-group">
    {% set displayGraphics = getModVar('ZikulaUsersModule', 'accountdisplaygraphics', 0) %}
    {% for link in accountLinks %}
    <li class="list-group-item">
        <a href="{{ link.url }}">
            <div class="media">
                <div class="media-left">
                {% if displayGraphics == 1 %}
                    {% if '.' in link.icon and link.module.name|default %}
                        {% set icon = '<img title="'~link.text~'" src="'~zasset('@'~link.module~':images/'~link.icon)~'" />' %}
                    {% elseif '.' in link.icon %}
                        {% set icon = '<img title="'~link.text~'" src="'~app.request.basepath~'/modules/'~link.module~'/images/'~link.icon~'" />' %}
                    {% else %}
                        {% set icon = '<i title="'~link.text~'" class="fa fa-3x fa-'~link.icon~'"></i>' %}
                    {% endif %}
                    <a href="{{ link.url }}">{{ icon|raw }}</a><br />
                {% endif %}
                </div>
                <div class="media-body">
                    <h4><strong>{{ link.text }}</strong></h4>
                </div>
            </div>
        </a>
    </li>
{% endfor %}
</ul>

{{ moduleFooter() }}
