<h3>
    <span class="fas fa-plus"></span>
    {% trans with {"%sub%": user.uname} %}Approve registration of %sub%{% endtrans %}
    {{ pageSetVar('title', 'Approve registration'|trans) }}
</h3>
<fieldset>
    <legend>{% trans %}Account Information{% endtrans %}</legend>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">{% trans %}User name:{% endtrans %}</label>
        <div class="col-sm-9">
            <div class="form-control-plaintext">{{ user.uname }}</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">{% trans %}E-mail address:{% endtrans %}</label>
        <div class="col-sm-9">
            <div class="form-control-plaintext">
                {% if user.email|default %}
                    <a href="mailto:{{ user.email|url_encode }}">{{ user.email }}</a>
                {% else %}
                    ---
                {% endif %}
            </div>
        </div>
    </div>
</fieldset>

{% set userAccountDisplayEvent = dispatchEvent('Zikula\\UsersModule\\Event\\UserAccountDisplayEvent', [user]) %}
{{ userAccountDisplayEvent|raw }}
{{ notifyDisplayHooks(constant('Zikula\\UsersModule\\HookSubscriber\\RegistrationUiHooksSubscriber::REGISTRATION_DISPLAY'), user.uid) }}

<fieldset>
    <legend>{% trans %}Registration Status{% endtrans %}</legend>
    <div class="form-group">
        <label class="col-md-3 col-form-label">{% trans %}Administrator approval:{% endtrans %}</label>
        <div class="col-md-9">
            <div class="form-control-plaintext">
                {% if user.isapproved is empty or not user.isapproved %}
                    <span class="fas fa-times fa-fw fa-red"></span>{% trans %}Not yet approved{% endtrans %}
                {% else %}
                    <span class="fas fa-check fa-fw fa-green"></span>{% trans %}Approved{% endtrans %} <span class="small">{% trans %}(or approval was not required when the registration was completed){% endtrans %}</span>
                {% endif %}
            </div>
        </div>
    </div>
</fieldset>
<hr />
{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.confirm) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
