{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-trash-o"></span>
    {{ __('Delete confirmation') }}
</h3>

<p class="alert alert-danger">{{ __f('Are you sure you want to delete the user (%un)?', {'%un': user.uname}) }}</p>
<div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% set eventData = dispatchEvent(constant('Zikula\\UsersModule\\UserEvents::DELETE_FORM')) %}
    {% for data in eventData %}
        {{ data }}
    {% endfor %}
    {{ notifyDisplayHooks(constant('Zikula\\UsersModule\\Container\\HookContainer::DELETE_FORM')) }}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(form.delete) }}
            {{ form_widget(form.cancel) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
