{{ pageAddAsset('javascript', zasset('@ZikulaUsersModule:js/Zikula.Users.Admin.View.js')) }}
{{ adminHeader() }}
<h3>
    <span class="fa fa-list"></span>
    {{ __('Users list') }}
    {{ pageSetVar('title', __('Users list')) }}
</h3>

<div id="user-search-container" class="form hide">
    <div class="input-group">
        <input placeholder="{{ __('Search') }}" id="user-search" class="form-control" size="25" maxlength="25" type="text" value="" data-route="zikulausersmodule_useradministration_getusersbyfragmentastable" />
        <span class="input-group-addon"><i class="fa fa-times pointer" id="user-search-discard"></i></span>
    </div>
</div>

<div id="user-search-min-char" class="hide">{{ __('Please enter at least 3 characters') }}</div>

<p id="users-alphafilter">
    {{ pagerabc({posvar:'letter', forwardvars:'sortby', printempty:true, route:'zikulausersmodule_useradministration_list'}) }}
</p>

<div id="user-list">
    <table id="user-table" class="table table-bordered table-striped">
        <colgroup>
            <col id="cUserName" />
            <col id="cId" />
            <col id="cRegistrationDate" />
            <col id="cLastLogin" />
            <col id="cGroups" />
            <col id="cStatus" />
            <col id="cActions" />
        </colgroup>
        <thead>
            <tr>
                <th id="hUserName" scope="col"><a class='{{ sort.uname.class }}' href='{{ sort.uname.url }}'>{{ __('User name') }}</a></th>
                <th id="hId" scope="col"><a class='{{ sort.uid.class }}' href='{{ sort.uid.url }}'>{{ __('Internal ID') }}</a></th>
                <th id="hRegistrationDate" scope="col"><a class='{{ sort.user_regdate.class }}' href='{{ sort.user_regdate.url }}'>{{ __('Registration date') }}</a></th>
                <th id="hLastLogin" scope="col"><a class='{{ sort.lastlogin.class }}' href='{{ sort.lastlogin.url }}'>{{ __('Last login') }}</a></th>
                <th id="hGroups" scope="col">{{ __('Users groups') }}</th>
                <th id="hStatus" scope="col"><a class='{{ sort.activated.class }}' href='{{ sort.activated.url }}'>{{ __('Status') }}</a></th>
                <th id="hActions" scope="col">{{ __('Actions') }}</th>
            </tr>
        </thead>
        <tbody>
            {{ include('@ZikulaUsersModule/UserAdministration/userlist.html.twig') }}
        </tbody>
    </table>
    {{ pager({rowcount:pager.count, limit:pager.limit, route:'zikulausersmodule_useradministration_list', posvar:'startnum'}) }}
</div>

{# This table is for ajax search results and is hidden until needed and populated then with the results. #}
<table id="user-search-list" class="table table-bordered table-striped hide">
    <colgroup>
        <col id="cSearchUserName" />
        <col id="cSearchId" />
        <col id="cSearchRegistrationDate" />
        <col id="cSearchLastLogin" />
        <col id="cSearchGroups" />
        <col id="cSearchStatus" />
        <col id="cSearchActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hSearchUserName" scope="col"><a class='{{ sort.uname.class }}' href='{{ sort.uname.url }}'>{{ __('User name') }}</a></th>
            <th id="hSearchId" scope="col"><a class='{{ sort.uid.class }}' href='{{ sort.uid.url }}'>{{ __('Internal ID') }}</a></th>
            <th id="hSearchRegistrationDate" scope="col"><a class='{{ sort.user_regdate.class }}' href='{{ sort.user_regdate.url }}'>{{ __('Registration date') }}</a></th>
            <th id="hSearchLastLogin" scope="col"><a class='{{ sort.lastlogin.class }}' href='{{ sort.lastlogin.url }}'>{{ __('Last login') }}</a></th>
            <th id="hSearchGroups" scope="col">{{ __('Users groups') }}</th>
            <th id="hSearchStatus" scope="col"><a class='{{ sort.activated.class }}' href='{{ sort.activated.url }}'>{{ __('Status') }}</a></th>
            <th id="hSearchActions" scope="col">{{ __('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{{ adminFooter() }}
