{% if hasPermission('ZikulaUsersModule', '::', 'ACCESS_DELETE') %}
    {{ pageAddAsset('javascript', zasset('@ZikulaUsersModule:js/ZikulaUsersModule.Admin.SearchResults.js')) }}
{% endif %}

{{ adminHeader() }}
<h3>
    <span class="fa fa-list"></span>
    {{ __('Search results') }}
</h3>

<form id="users_searchresults" class="form-horizontal" role="form" method="post" action="{{ path('zikulausersmodule_admin_deleteusers') }}">
    <div>
        <input type="hidden" name="csrftoken" value="{insert name='csrftoken'}" />
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% if hasPermission('ZikulaUsersModule', '::', 'ACCESS_DELETE') %}
                    <th>&nbsp;</th>
                    {% endif %}
                    <th>{{ __('User name') }}</th>
                    <th>{{ __('Email address') }}</th>
                    <th class="text-right">{{ __('Actions') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    {% if hasPermission('ZikulaUsersModule', '::', 'ACCESS_DELETE') %}
                    <td>{% if (user.uid > 2) %}<input type="checkbox" class="user-checkboxes" name="userid[]" value="{{ user.uid }}" />{% endif %}</td>
                    {% endif %}
                    <td>{{ user.uname }}</td>
                    <td>
                        {% if (user.email is defined) and (user.uid != 1) %}
                        {{ user.email }}
                        {% endif %}
                    </td>
					<td class="actions">
						{% if hasPermission('ZikulaUsersModule', user.uname~'::'~user.uid, 'ACCESS_EDIT') %}
                            <a class="fa fa-pencil tooltips" href="{{ path('zikulausersmodule_useradministration_modify', {user:user.uid}) }}" title="{{ __f('Edit %sub%', {"%sub%": user.uname}) }}"></a>
                        {% endif %}
                        {% if currentUser.uid != user.uid and hasPermission('ZikulaUsersModule', user.uname~'::'~user.uid, 'ACCESS_DELETE') %}
                            <a class="fa fa-trash-o fa-fw tooltips" href="{{ path('zikulausersmodule_admin_deleteusers', {userid:user.uid}) }}" title="{{ __f('Delete %sub%', {"%sub%": user.uname}) }}"></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if hasPermission('ZikulaUsersModule', '::', 'ACCESS_DELETE') %}
        <p><a href="#" id="select-all">{{ __('Select all') }}</a> / <a href="#" id="deselect-all">{{ __('De-select all') }}</a></p>
        {% endif %}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn btn-primary fa fa-envelope" data-toggle="collapse" data-target="#email-users-form" aria-expanded="false" aria-controls="email-users-form"> {{ __('Mail selected users') }}</button>
                {% if hasPermission('ZikulaUsersModule', '::', 'ACCESS_DELETE') %}
                    <button type="submit" class="btn btn-warning fa fa-trash-o" > {{ __('Delete selected users') }}</button>
                {% endif %}
                <a class="btn btn-default fa fa-refresh" href="{{ path('zikulausersmodule_useradministration_list') }}"> {{ __('Return to User Administration') }}</a>
            </div>
        </div>
    </div>
</form>
{% form_theme mailForm with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
<div class="collapse" id="email-users-form">
    <hr>
    {{ form_start(mailForm) }}
    {{ form_errors(mailForm) }}
    <div class="container-fluid">
        <div class="row">
            {{ form_row(mailForm.from) }}
            {{ form_row(mailForm.replyto) }}
            {{ form_row(mailForm.subject) }}
            {{ form_row(mailForm.format) }}
            {{ form_row(mailForm.message) }}
            {{ form_row(mailForm.batchsize) }}
            {{ notifyDisplayHooks(constant('Zikula\\UsersModule\\UserEvents::HOOK_USER_EDIT')) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(mailForm.send) }}
            <button type="button" class="btn btn-default" data-toggle="collapse" href="#email-users-form"><i class="fa fa-times"></i> {{ __('Close') }}</button>
        </div>
    </div>
    {{ form_end(mailForm) }}
</div>
{{ adminFooter() }}
