{% if hasPermission('ZikulaUsersModule', '::', 'ACCESS_DELETE') %}
    {{ pageAddAsset('javascript', zasset('@ZikulaUsersModule:js/ZikulaUsersModule.Admin.SearchResults.js')) }}
{% endif %}

{{ adminHeader() }}
<h3>
    <span class="fa fa-list"></span>
    {{ __('Search results') }}
</h3>

{% form_theme deleteForm with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}

<div>
    {{ form_start(deleteForm) }}
    {{ form_errors(deleteForm) }}
    <table class="table table-bordered table-striped">
        <colgroup>
            {% if hasPermission('ZikulaUsersModule', '::', 'ACCESS_DELETE') %}
            <col id="cDelete" />
            {% endif %}
            <col id="cUser" />
            <col id="cEmail" />
            <col id="cActions" />
        </colgroup>
        <thead>
            <tr>
                {% if hasPermission('ZikulaUsersModule', '::', 'ACCESS_DELETE') %}
                <th id="hDelete" scope="col">&nbsp;</th>
                {% endif %}
                <th id="hUser" scope="col">{{ __('User name') }}</th>
                <th id="hEmail" scope="col">{{ __('Email address') }}</th>
                <th id="hActions" scope="col" class="text-right">{{ __('Actions') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in deleteForm.users %}
                <tr{% if user.vars.name <= 2 %} class="warning"{% endif %}>
                {% if hasPermission('ZikulaUsersModule', '::', 'ACCESS_DELETE') %}
                <td headers="hDelete">{{ form_widget(user, {title:__f('Delete %n', {'%n': user.vars.label}), disabled:user.vars.name <= 2}) }}</td>
                {% endif %}
                <td headers="hUser">{{ user.vars.label }}</td>
                <td headers="hEmail">
                    {% if (user.parent.vars.choices[user.vars.name].data.email is defined) and (user.vars.name != 1) %}
                    {{ user.parent.vars.choices[user.vars.name].data.email }}
                    {% endif %}
                </td>
                <td headers="hActions" class="actions">
                    {% if hasPermission('ZikulaUsersModule', user.vars.label~'::'~user.vars.name, 'ACCESS_EDIT') %}
                        <a class="fa fa-pencil tooltips" href="{{ path('zikulausersmodule_useradministration_modify', {user:user.vars.name}) }}" title="{{ __f('Edit %sub%', {"%sub%": user.vars.label}) }}"></a>
                    {% endif %}
                    {% if currentUser.uid != user.vars.name and hasPermission('ZikulaUsersModule', user.vars.label~'::'~user.vars.name, 'ACCESS_DELETE') %}
                        <a class="fa fa-trash-o fa-fw tooltips" href="{{ path('zikulausersmodule_useradministration_delete', {user:user.vars.name}) }}" title="{{ __f('Delete %sub%', {"%sub%": user.vars.label}) }}"></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if hasPermission('ZikulaUsersModule', '::', 'ACCESS_DELETE') %}
    <p><a href="#" id="select-all">{{ __('Select all') }}</a> / <a href="#" id="deselect-all">{{ __('De-select all') }}</a></p>
    {% endif %}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#email-users-form" aria-expanded="false" aria-controls="email-users-form"><i class="fa fa-envelope"></i> {{ __('Mail selected users') }}</button>
            {% if hasPermission('ZikulaUsersModule', '::', 'ACCESS_DELETE') %}
                {{ form_widget(deleteForm.delete) }}
            {% endif %}
            <a class="btn btn-default" href="{{ path('zikulausersmodule_useradministration_list') }}"><i class="fa fa-refresh"></i> {{ __('Return to User Administration') }}</a>
        </div>
    </div>
    {{ form_end(deleteForm) }}
</div>

{% form_theme mailForm with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
<div class="collapse" id="email-users-form">
    <hr>
    {{ form_start(mailForm) }}
    {{ form_errors(mailForm) }}
    <div class="container-fluid">
        <div class="row">
            {{ form_row(mailForm.from) }}
            {{ form_row(mailForm.replyto) }}
            {{ form_row(mailForm.subject) }}
            {{ form_row(mailForm.format) }}
            {{ form_row(mailForm.message) }}
            {{ form_row(mailForm.batchsize) }}
            {{ notifyDisplayHooks(constant('Zikula\\UsersModule\\Container\\HookContainer::EDIT_FORM')) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(mailForm.send) }}
            <button type="button" class="btn btn-default" data-toggle="collapse" href="#email-users-form"><i class="fa fa-times"></i> {{ __('Close') }}</button>
        </div>
    </div>
    {{ form_end(mailForm) }}
</div>
{{ adminFooter() }}
