{% for user in users %}
    <tr class="user">
        <td headers="hUserName">{{ user.uname }}</td>
        <td headers="hId">{{ user.uid }}</td>
        <td headers="hRegistrationDate">{{ user.user_regdate|date() }}</td>
        <td headers="hLastLogin">{{ user.lastlogin|date() }}</td>
        <td headers="hGroups">
            {% for group in user.groups %}
                <div>{{ group.name }}</div>
            {% endfor %}
        </td>
        <td headers="hStatus" class="users_activated">
            {% switch user.activated %}
            {% case constant('Zikula\\UsersModule\\Constant::ACTIVATED_ACTIVE') %}
            <span class="label label-success">{{ __('Active') }}</span>
            {% break %}
            {% case constant('Zikula\\UsersModule\\Constant::ACTIVATED_INACTIVE') %}
            <span class="label label-default">{{ __('Inactive') }}</span>
            {% break %}
            {% case constant('Zikula\\UsersModule\\Constant::ACTIVATED_PENDING_REG') %}
            <span class="label label-warning">{{ __('Pending') }}</span>
            {% break %}
            {% case constant('Zikula\\UsersModule\\Constant::ACTIVATED_PENDING_DELETE') %}
            <span class="label label-warning">{{ __('Marked for deletion') }}</span>
            {% break %}
            {% default %}
            <span class="label label-danger">{{ __('Status unknown') }}</span>
            {% endswitch %}
        </td>
        <td headers="hActions" class="actions">
            {% if user.uid == constant('Zikula\\UsersModule\\Constant::USER_ID_ANONYMOUS') %}
                <a href="{{ path('zikulagroupsmodule_group_adminlist') }}"><span class="badge badge-info tooltips" title="{{ __('This user cannot be edited. Group memberships can be edited in the groups module. Click here.') }}">{{ __('Edit?') }}</span></a>
            {% endif %}
            {% for action in actionsHelper.user(user) %}
                <a class="fa fa-fw fa-{{ action.icon }} tooltips" href="{{ action.url }}" title="{{ action.text }}"></a>
            {% endfor %}
        </td>
    </tr>
{% else %}
    <tr class="info"><td colspan="7" class="text-center">{{ __('No records found.') }}</td></tr>
{% endfor %}
