{% if setpagetitle and title %}
    {{ pageSetVar('title', title) }}
{% endif %}
{% if insertflashes %}
    {{ showflashes() }}
{% endif %}
{% if menufirst %}{{ moduleLinks(type) }}{% endif %}
<div class="{% if type == 'user' %}z-modtitle clearfix{% else %}z-admin-content-modtitle{% endif %}">
    <h2>
        <i class="{{ caller.info.capabilities.admin.icon|default('fas fa-layer-group') }} fa-fw fa-2x align-middle"></i>
        {{ title|default('Extension'|trans) }}
    </h2>
</div>
{% if not menufirst %}{{ moduleLinks(type) }}{% endif %}
