{% macro draw(links, menu_css, current_path, level) %}
    {% for link in links %}
        {% if link.role is defined and link.role == 'separator' %}
            <li role="separator" class="dropdown-divider"></li>
        {% else %}
            <li class="{% if level > 1 %}dropdown{% else %}nav{% endif %}-item{% if link.links is defined %} dropdown{% endif %}{% if menu_css.menuItemClass is not empty and current_path != link.url %} {{ menu_css.menuItemClass }}{% endif %}">
                <a href="{% if link.links is defined %}#{% else %}{{ link.url }}{% endif %}" title="{{ link.title|default('') }}"{% if link.id is defined %} id="{{ link.id }}"{% endif %} class="nav-link{% if link.links is defined %} dropdown-toggle{% endif %}{% if current_path == link.url %} active{% endif %}"{% if link.links is defined %} data-toggle="dropdown"{% endif %}>
                    {% if link.icon|default %}<i class="fas fa-{{ link.icon }}"></i> {% endif %}
                    {{ link.text }}
                </a>
                {% if link.links is defined %}
                    <ul id="submenu_{{ menu_css.menuId }}" class="dropdown-menu">
                        {{ _self.draw(link.links, menu_css, current_path, (level + 1)) }}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% if extensionMenu|default %}
    {{ knp_menu_render(extensionMenu, {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}
{% elseif links|default %}{# @todo remove this and the macro above #}
<ul{% if menu_css.menuId is not empty %} id="{{ menu_css.menuId }}"{% endif %} class="nav nav-modulelinks{% if menu_css.menuClass is not empty %} {{ menu_css.menuClass }}{% endif %}">
    {{ _self.draw(links, menu_css, current_path, 1) }}
</ul>
{% endif %}
