{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mail Sent</h1>

    <p>Thank you for sending us a message! We will reply to you as soon as possible.</p>

    <p>Your message:</p>

    <table class="table">
        <tr>
            <th>Name</th>
            <td>{{ message.senderName }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td><a href="mailto:{{ message.senderAddress }}">{{ message.senderAddress }}</a></td>
        </tr>
        <tr>
            <th>Subject</th>
            <td>{{ message.subject }}</td>
        </tr>
        <tr>
            <th>Text</th>
            <td>{{ message.message }}</td>
        </tr>
    </table>
{% endblock %}
