{{ pageAddAsset('javascript', zasset('@ZikulaSearchModule:js/ZikulaSearchModule.User.Form.js')) }}
{% set templateTitle = __('Site search') %}
{{ include('@ZikulaSearchModule/User/menu.html.twig') }}

<form class="form-horizontal" role="form" id="search_form" method="post" action="{{ path('zikulasearchmodule_user_search') }}">
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="search_q" id="search_q_label">{{ __('Search keywords') }}</label>
            <div class="col-sm-9">
                <input type="search" id="search_q" class="form-control" name="q" size="20" maxlength="255" results="10" autosave="Search" value="{{ q|e('html_attr') }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="searchtype">{{ __('Keyword settings') }}</label>
            <div class="col-sm-9">
                <select class="form-control" name="searchtype" id="searchtype" size="1">
                    <option value="AND"{{ searchType == 'AND' ? ' selected="selected"' : '' }}>{{ __('All words') }}</option>
                    <option value="OR"{{ searchType == 'OR' ? ' selected="selected"' : '' }}>{{ __('Any words') }}</option>
                    <option value="EXACT"{{ searchType == 'EXACT' ? ' selected="selected"' : '' }}>{{ __('Exact phrase') }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="searchorder">{{ __('Order of results') }}</label>
            <div class="col-sm-9">
                <select class="form-control" name="searchorder" id="searchorder" size="1">
                    <option value="newest"{{ searchOrder == 'newest' ? ' selected="selected"' : '' }}>{{ __('Newest first') }}</option>
                    <option value="oldest"{{ searchOrder == 'oldest' ? ' selected="selected"' : '' }}>{{ __('Oldest first') }}</option>
                    <option value="alphabetical"{{ searchOrder == 'alphabetical' ? ' selected="selected"' : '' }}>{{ __('Alphabetical') }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-success" title="{{ __('Search now') }}">{{ __('Search now') }}</button>
            </div>
        </div>
    </fieldset>
    {% if pluginOptions|length %}
        <fieldset>
            <legend>{{ __('Filter search by type') }}</legend>
            <div class="search_toogle">
                <input type="checkbox" name="togglebox" id="togglebox" checked="checked" tabindex="0" />
                <label for="togglebox">{{ __('De/Select all') }}</label>
            </div>
            {% for plugin, pluginOption in pluginOptions %}
                {{ pluginOption|raw }}
            {% endfor %}
        </fieldset>
    {% endif %}
</form>
