{% set templateTitle = __('Search results') %}
{{ include('@ZikulaSearchModule/User/menu.html.twig') }}

<h3>{{ templateTitle }}</h3>

{% if errors.length %}
    <div class="alert alert-danger">
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    </div>
{% endif %}

<p>{{ __f('Number of hits: %s', { '%s': resultCount }) }}</p>

<dl class="search_results">
    {% for result in results %}
    <dt class="search_hit">
        {% if result.url|default %}<a href="{{ result.url|e('html_attr') }}">{% endif %}{{ result.title|zikulasearchmodule_highlightGoogleKeywords(q, limitSummary) }}{% if result.url|default %}</a>{% endif %}
        &nbsp;&nbsp;<span class="sub">(<a href="{{ zikulasearchmodule_modUrlLegacy(result.module) }}">{{ result.displayname }}</a>)</span>
    </dt>
    <dd>
        {{ result.text|zikulasearchmodule_highlightGoogleKeywords(q, limitSummary)|truncate(limitSummary, false, '&hellip;') }}
        {% if result.created not empty %}
            <div class="search_created">{{ __f('Created on %s.', { '%s': result.created|localizeddate('long', 'none') }) }}</div>
        {% endif %}
    </dd>
    {% endfor %}
</dl>
{{ pager({ rowcount: resultCount, limit: numlimit, posvar: 'page', display: 'page', includePostVars: false, route: 'zikulasearchmodule_user_search'}) }}
