{{ '{% extends "::base.html.twig" %}' }}

{{ '{% block title %}' -}}
{{ module }}:{{ controller }}:{{ action.basename }}
{{- '{% endblock %}' }}

{{ '{% block body %}' }}
<h1>Welcome at the {{ controller }}:{{ action.basename }} page</h1>
{{ '{% endblock %}' }}
