{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('javascript', asset('jquery-ui/jquery-ui.min.js'), constant('Zikula\\ThemeBundle\\Engine\\AssetBag::WEIGHT_JQUERY_UI')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaAdminBundle:js/ZikulaAdminBundle.AdminTabs.js')) }}
{{ pageAddAsset('stylesheet', zasset('@ZikulaAdminBundle:css/style.css')) }}

<div class="admintabs-container" id="admintabs-container">
    <ul id="admintabs" class="nav nav-mouseover nav-tabs nav-tabs-admin">
        {% for category in adminMenu %}
            <li class="nav-item dropdown nowrap" data-slug="{{ category.slug }}">
                <a href="#" class="nav-link dropdown-toggle{% if caller.category.slug == category.slug %} active{% endif %}" data-toggle="dropdown"><span class="fas fa-arrows-alt admintabs-lock"></span>
                    <span>
                        <i class="text-muted fa-fw {% if category.icon %}{{ category.icon|e('html_attr') }}{% else %}fas fa-file{% endif %}"></i> {{ category.title }}
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        <a href="{{ category.url }}"><span class="fas fa-fw fa-th-large fa-bluelight"></span> {% trans %}Overview{% endtrans %}</a>
                    </li>
                    {% if category.bundles|length > 0 %}
                        <li class="dropdown-divider"></li>
                        {% for item in category.bundles %}
                            <li class="dropdown-item"><a href="{{ item.menuTextUrl }}" title="{{ item.menuText|e('html_attr') }}"><i class="{{ item.icon|default('fas fa-layer-group')|raw }} fa-fw align-middle"></i> {{ item.menuText }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
