{{ pageAddAsset('stylesheet', zasset('@ZikulaAdminBundle:css/style.css')) }}

{% macro draw(links) %}
    {% for link in links|filter(l => l.url|default) %}
        <li class="dropdown-item">
            <a href="{{ link.url }}" title="{{ link.text|e('html_attr') }}">{% if link.icon is defined %}<i class="fas fa-fw fa-{{ link.icon }}"></i> {% endif %}{{ link.text }}</a>
            {% if link.links is defined %}
                <ul class="dropdown-toggle">{{ _self.draw(link.links) }}</ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<div class="admintabs-container" id="admintabs-container">
    <ul id="admintabs" class="nav nav-mouseover nav-tabs nav-tabs-admin">
        {% for item in adminMenu %}
            <li class="dropdown droppable nowrap{% if caller._zkModule == item.bundleName %} active{% endif %}">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" title="{{ item.menuText|e('html_attr') }}">
                    <span class="fas fa-arrows-alt admintabs-lock"></span>
                    <span><img src="{{ app.request.basePath }}/{{ item.icon }}" alt="icon" style="height: 18px"/></span>
                </a>
                {% if item.extensionMenu|default %}
                    {{ knp_menu_render(item.extensionMenu, {template: '@ZikulaMenu/Override/bootstrap_fontawesome.html.twig'}) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
