{{ pageAddAsset('stylesheet', asset('mmenu/css/mmenu.css'), 100) }}
{{ pageAddAsset('javascript', asset('mmenu/js/mmenu.js'), 100) }}
{{ pageAddAsset('javascript', zasset('@ZikulaAdminBundle:js/ZikulaAdminBundle.Panel.MMenuConfig.js'), 101) }}
<a href="#zikula-admin-hiddenpanel-menu"><i class="fas fa-bars" title="{% trans %}Show administration panel{% endtrans %}"></i></a>
<nav id="zikula-admin-hiddenpanel-menu" class="d-none">
    <div class="text-left">
        <h2 class="pl-4 pt-1"><img src="{{ asset('bundles/core/images/logo.gif') }}" style="height: 28px" alt="{% trans %}Administration{% endtrans %}"> {% trans %}Administration{% endtrans %}</h2>
        <ul>
            {% for item in adminMenu %}
                <li{% if caller._zkModule == item.bundleName %} class="selected"{% endif %}>
                    <a href="{{ item.menuTextUrl }}" title="{{ item.menuText|e('html_attr') }}">
                        <i class="{{ item.icon|default('fas fa-layer-group') }} fa-fw fa-lg align-middle text-info"></i> {{ item.menuText|striptags }}
                    </a>
                    {% if item.extensionMenu|default %}
                        {{ knp_menu_render(item.extensionMenu, {template: '@ZikulaMenu/Override/bootstrap_fontawesome.html.twig'}) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
