{% if mode == 'prod' and updateCheckHelper.enabled and hasPermission('ZikulaAdminModule::', '::', 'ACCESS_ADMIN') %}
    <div id="updatecheck" class="alert alert-success">
        <div class="row">
            <div class="col-md-12">
                <i class="close" data-dismiss="alert">&times;</i>
                <a href="#updatecheck_full" title="{% trans %}Update checker{% endtrans %}"
                   data-toggle="collapse" aria-expanded="false" aria-controls="updatecheck_full">
                    <strong><i class="fas fa-sync"></i> {% trans %}Update checker{% endtrans %}: </strong>
                    {% if updateCheckHelper.versionCompare == -1 %}
                        {# you use not released version #}
                        {% trans %}You are currently using an unreleased version of the Zikula Core.{% endtrans %}
                    {% elseif updateCheckHelper.versionCompare == 0 %}
                        {# you use latest version #}
                        {% trans %}You are using the latest stable version of the Zikula core.{% endtrans %}
                    {% elseif updateCheckHelper.versionCompare == 1 %}
                        {# new version found #}
                        {% trans %}A new version of the Zikula core is available. Please download the new Zikula core.{% endtrans %}
                    {% endif %}
                </a>
            </div>
            <div class="collapse" id="updatecheck_full">
                <div class="alert col-md-12">
                    <span class="col-md-4">
                        {# % if updateCheckHelper.enabled % #}
                            <i class="fas fa-check"></i> {% trans %}Update checker is enabled{% endtrans %}
                        {# % else % #}
                        {#    <i class="fas fa-times"></i> {% trans %}Update checker is disabled{% endtrans %} #}
                        {# % endif % #}
                    </span>
                    <span class="col-md-4">
                        <i class="fas fa-calendar-alt"></i> {% trans %}Check interval{% endtrans %}: {{ updateCheckHelper.checkInterval }} {% trans %}days{% endtrans %}
                    </span>
                    <span class="col-md-4">
                        <i class="fas fa-calendar-check"></i> {% trans %}Last checked{% endtrans %}: {{ updateCheckHelper.lastChecked|date('F j, Y, g:i a') }}
                    </span>
                </div>
                {% if updateCheckHelper.releases %}
                    <div class="col-md-12">
                        <strong>{% trans %}Releases{% endtrans %}</strong>
                        <div class="col-md-12">
                            <ul class="list-group">
                                {% if updateCheckHelper.versionCompare == -1 %}
                                    <li class="list-group-item active clearfix">
                                        <span class="col-md-3"> {% trans %}Zikula Core{% endtrans %} {{ updateCheckHelper.currentVersion }} </span>
                                        <span class="col-md-3"> {% trans %}Currently used version{% endtrans %} </span>
                                    </li>
                                {% endif %}
                                {% for release in updateCheckHelper.releases|filter(r => not r.prerelease) %}
                                    {% if 'Zikula Core 1.' in release.name %}
                                        {# do not show versions before at least 2.0 #}
                                    {% else %}
                                        <li class="list-group-item {% if loop.first %} list-group-item-success {% endif %} clearfix">
                                            <a href="#release_{{ loop.index }}" class="col-md-3" role="button"
                                               data-toggle="collapse" aria-expanded="false" aria-controls="release_{{ loop.index }}">
                                                {{ release.name }}
                                            </a>
                                            {% if loop.first %}
                                                <span class="col-md-3">
                                                    {% trans %}Latest stable relese{% endtrans %}
                                                </span>
                                            {% endif %}
                                            <a href="#release_{{ loop.index }}" class="pull-right" role="button"
                                               data-toggle="collapse" aria-expanded="false" aria-controls="release_{{ loop.index }}">
                                                <i class="fas fa-info"> </i>
                                            </a>
                                            <div class="collapse clearfix" id="release_{{ loop.index }}">
                                                <div class="col-md-6">
                                                    {{ release.body|nl2br }}
                                                </div>
                                                <div class="col-md-6">
                                                    {% for asset in release.assets %}
                                                        <p>
                                                            <a href="{{ asset.browser_download_url }}" class="text-success">
                                                                <i class="fas fa-cloud-download-alt"></i> {{ asset.name }}
                                                            </a>
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12 text-center">
                        <p>{% trans %}Stable Zikula Core available{% endtrans %}: {{ updateCheckHelper.updateversion }} </p>
                        <a href="{{ path(caller._route, caller._route_params|merge({'forceupdatecheck': 1})) }}" class="btn btn-primary">
                            {% trans %}Check now{% endtrans %}
                            <i class="fas fa-sync"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
