{# @TODO menu from=$menuitems item='item' name='extmenu' id='nav' #}
{% if item.name is not empty and item.url is not empty %}
<li class="page_item {% if item.url|replace({baseurl:''}) == currenturi|urldecode %}selected{% endif %}">
    <a href="{{ item.url }}" title="{{ item.title }}">
        {% if item.image != '' %}
        <img src="{{ item.image }}" alt="{{ item.title }}" />
        {% endif %}
        {{ item.name }}
    </a>
</li>
{% endif %}
{# /menu #}