<h2>
    <i class="fa-fw {% if category.icon %}{{ category.icon|e('html_attr') }}{% else %}fas fa-file{% endif %}"></i>
    {{ category.name }}
</h2>
{{ pageSetVar('title', category.name ~ ' - ' ~ category.description) }}
<div class="z-admincategorydescription">{{ category.description }}</div>
{% if adminLinks is not empty %}
    <ul id="modulelist">
        {% for adminLink in adminLinks %}
        <li data-modid="{{ adminLink.id }}" class="draggable">
            {# module icon #}
            {% if getModVar('ZikulaAdminModule', 'admingraphic') == 1 %}
            <a title="{{ adminLink.menuTextTitle }}" href="{{ adminLink.menuTextUrl }}"><i class="fa-fw {{ adminLink.adminIcon|default('fas fa-layer-group') }} fa-4x" title="{{ adminLink.menuText }}"></i></a>
            {% endif %}
            <div>
                {# movable icon #}
                <span title="{% trans %}Drag and drop into a new module category{% endtrans %}" class="tooltips fas fa-arrows-alt admintabs-lock"></span>
                {# module title #}
                <a title="{{ adminLink.menuTextTitle }}" href="{{ adminLink.menuTextUrl }}">{{ adminLink.menuText|raw }}</a>
                {# dropdown with quick links #}
                {% if adminLink.extensionMenu|default %}
                    <div class="dropdown d-inline">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="{% trans %}Functions{% endtrans %}"></a>
                        {% if adminLink.extensionMenu|default %}
                            {{ knp_menu_render(adminLink.extensionMenu, {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}
                        {% endif %}
                    </div>
                {% endif %}
                {# module description #}
                <p class="text-muted">{{ adminLink.menuTextTitle }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="clearfix"></div>
{% else %}
    <p class="bold text-center">{% trans %}There are currently no modules in this category.{% endtrans %}</p>
{% endif %}
