{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-trash-alt"></span>
    {% trans %}Delete module category{% endtrans %}
    {{ pageSetVar('title', 'Delete module category'|trans) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{% trans %}Confirmation prompt{% endtrans %}</legend>
    <p class="alert alert-warning">{% trans with {'%s': category.name} %}Do you really want to delete module category '%s'?{% endtrans %}</p>
</fieldset>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.delete) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
