{{ adminHeader() }}
<h3>
    <span class="fa fa-info"></span>
    {{ __('Help') }}
    {{ pageSetVar('title', __('Help')) }}
</h3>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#view">{{ __('Module categories list') }}</a>
            </h4>
        </div>
        <div id="view" class="panel-collapse collapse in">
            <div class="panel-body">
                <p>{{ __("Displays the list view of module categories included within the category tab menu. In the 'Actions' column on the right, you can choose to edit or delete a module category") }}</p>
                <ul>
                    <li>
                        <a id="modify"></a>
                        <strong>{{ __('Edit') }}</strong>: {{ __('Lets you edit the name and description of an existing module category.') }}
                    </li>
                    <li>
                        <a id="delete"></a>
                        <strong>{{ __('Delete') }}</strong>: {{ __('Lets you delete a module category from the tab menu. You will be prompted for confirmation before the category is deleted.') }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#new">{{ __('Create new module category') }}</a>
            </h4>
        </div>
        <div id="new" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ __('Lets you add a new category to the module categories tab list. You can edit the following:') }}</p>
                <ul>
                    <li>
                        <strong>{{ __('Name') }}</strong>: {{ __('Enter the name to be displayed within the categories tab menu.') }}
                    </li>
                    <li>
                        <strong>{{ __('Description') }}</strong>: {{ __('Enter an informative description to be displayed after the category name, when this category is displayed in the Administration panel.') }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#modifyconfig">{{ __('Settings') }}</a>
            </h4>
        </div>
        <div id="modifyconfig" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ __("The 'Settings' page contains three sections: 'General settings', 'Display settings' and 'Modules categorisation'. Each is covered below.") }}</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#generalsettings">{{ __('General settings') }}</a>
            </h4>
        </div>
        <div id="generalsettings" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ __('There is currently only one option in the General settings section.') }}</p>
                <ul>
                    <li><strong>{{ __('Ignore check for installer') }}</strong>:
                    {{ __("This option enables you to disable the Security analyser's check to see if the Installer is present in your site's root directory. Preferably, you should leave the check enabled, as a security breach could easily occur if you omit to remove the Installer's components after completing installation.") }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#displaysettings">{{ __('Display settings') }}</a>
            </h4>
        </div>
        <div id="displaysettings" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ __('There are six display settings.') }}</p>
                <ul>
                    <li><strong>{{ __('Display icons') }}:</strong> {{ __('When checked, this option causes graphic icons to be displayed for each module in the Administration panel.') }}</li>
                    <li><strong>{{ __('Form of display for module names') }}:</strong> {{ __('You can choose the displayed name(s) for each module.') }}</li>
                    <li><strong>{{ __('Modules per page') }}:</strong> {{ __('Enter a whole number for the number of modules to be displayed on each page of the Administration panel.') }}</li>
                    <li><strong>{{ __('Modules per row') }}:</strong> {{ __('Enter a whole number for the number of modules to be displayed on each line of the Administration panel.') }}</li>
                    <li><strong>{{ __('Theme to use') }}:</strong> {{ __('Open the dropdown list and choose the theme to be applied to the Administration panel.') }}</li>
                    <li><strong>{{ __('Initially selected category') }}:</strong> {{ __('Open the dropdown list and choose the modules category to be shown when the Administration panel first displays.') }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#categoryconfiguration">{{ __('Modules categorisation') }}</a>
            </h4>
        </div>
        <div id="categoryconfiguration" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ __('In the Modules categorisation section, you can choose two things:') }}</p>
                <ul>
                    <li><strong>{{ __('Default category for newly-added modules') }}:</strong> {{ __('Open the dropdown list and choose the module category in which to put all newly-installed and activated modules.') }}</li>
                    <li><strong>{{ __('Modules categorisation') }}:</strong> {{ __('You will see listed all the modules currently installed and activated. Open the dropdown list beside each module and choose the module category in which that module should be placed.') }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<fieldset>
    <legend>{{ __('Messages you might see') }}</legend>
    <h5 id="securitywarnings">{{ __('Security analyser warnings') }}</h5>
    <p>{{ __('In the Administration panel, you will see security warnings displayed if the Security analyser detects potential security vulnerabilities in your site\'s installation. If you see no warning box then it means that no vulnerabilities have been found. Below are explanations for each vulnerability possibly identified.') }}</p>

    <h5 id="admin_psakwarning">{{ __('You see the message') }}: {{ __("Stop, please! The Swiss Army Knife tool ('psak.php' file) is in the site root, but must be removed before you can access the site admin panel. Moreover, for your information, this tool is now deprecated in favor of the Zikula recovery console ('zrc.php').") }}</h5>
    <p>{{ __("The Zikula recovery console tool (a file called 'zrc.php') is a useful utility for resolving certain problems, but should not be left in any directory accessible from the Internet, because this leaves an easy opportunity for a security breach. If the Security analyser detects this vulnerability, you will have to remove 'zrc.php' before you can access the Administration panel.") }}</p>

    <h5 id="admin_installwarning">{{ __('You see the message') }}: {{ __("Stop, please! The installer file 'install.php' and directory 'install' are in the site root, but must be removed before you can access the site admin panel.") }}</h5>
    <p>{{ __('After completing the installation process, it is very important to delete the Installer\'s file \'install.php\' and directory \'install\' from the site root directory, especially if it is on-line on the Internet, because otherwise there is an opportunity for a security breach. If the Security analyser detects this vulnerability, you will have to remove them before you can access the Administration panel.') }}</p>

    <h5 id="admin_configphpwarning">{{ __('You see the message') }}: {{ __("Configuration file 'config/config.php' is writeable, but should be read-only (chmod 400, 440 or at worst 444).") }}</h5>
    <p>{{ __('When a site is originally installed, the Installer script creates a configuration file called \'config.php\' that is located in the sub-directory \'config\' within the site\'s root directory. It should not be left writeable, because this leaves an opportunity for a security breach. You should set the file\'s permissions to read-only (chmod 400, 440 or at worst 444).') }}</p>

    <h5 id="admin_upgrade_php_warning">{{ __('You see the message') }}: {{ __("Installer file 'upgrade.php' is in the site root, but should be removed.") }}</h5>
    <p>{{ __("The file 'upgrade.php' is used by the Installer script if a previously-existing site is upgraded to a more-recent version. Once the new site is working properly, you should delete this file, as it is no longer required and could make a security breach possible.") }}</p>

    <h5 id="admin_magic_quotes_warning">{{ __('You see the message') }}: {{ __("PHP 'magic_quotes_gpc' setting is ON, but should be OFF.") }}</h5>
    <p>{{ __('In some hosting environments, the PHP setting \'magic_quotes_gpc\' may be set to ON. However, this creates an opportunity for security breaches. If the site is accessible from the Internet, you are strongly recommended to ensure that \'magic_quotes_gpc\' is set to OFF.') }}</p>

    <h5 id="admin_app_htaccess_warning">{{ __('You see the message') }}: {{ __("There is no '.htaccess' file in the application directory '/app', but one should be present.") }}</h5>
    <p>{{ __('If properly installed, a site will include an \'.htaccess\' file in the site\'s \'app\' folder. However, some methods used for transferring the package\'s files to a web space may lead to this file not being transferred. In this case, you are strongly recommended to create one (and to ensure that \'.htaccess\' files exist in certain other directories, too).') }}</p>

    <h5 id="admin_phpids_warning">{{ __('You see the message') }}: {{ __('PHPIDS with the Security Center is not activated, but preferably should be.') }}</h5>
    <p>{{ __('PHPIDS is a feature of the Security center module that enhances the security of a site, and the Security analyser has detected that it is not enabled. You are recommended to ensure that it is enabled. You will also see this message if the Security center module is not installed or is not activated. For more information about this, please consult the Security center on-line help.') }}</p>

    <h5 id="admin_idssoftblock_warning">{{ __('You see the message') }}: {{ __('PHPIDS is activated, but requests are NOT blocked.') }}</h5>
    <p>{{ __("PHPIDS is enabled and you have set the Block action to 'Warn only'. Thus requests are not blocked. This is useful only for debugging the PHPIDS ruleset in order to verify correct operation.") }}</p>

    <h5 id="admin_security_center_warning2">{{ __('You see the message') }}: {{ __('Security center module is not installed, but preferably should be.') }}</h5>
    <p>{{ __("When a site is originally installed, the Security center is installed and activated by default. You will see the above message if the Security center has been removed. You are recommended to leave the Security center installed, as it enhances a site's security.") }}</p>

    <h5 id="admin_security_center_warning3">{{ __('You see the message') }}: {{ __('Security center module is not activated, but preferably should be.') }}</h5>
    <p>{{ __("When a site is originally installed, the Security center is installed and activated by default. You will see the above message if the Security center has been deactivated. You are recommended to leave the Security center activated, as it enhances a site's security.") }}</p>

    <h5 id="admin_legacymodewarning">{{ __('You see the message') }}: {{ __('Legacy module support is enabled, but preferably should be disabled.') }}</h5>
    <p>{{ __("You have the possibility of enabling support for legacy modules. However, legacy modules can contain security holes that can compromise a site's security. You are strongly recommended to only use up-to-date versions of modules that are compliant with the project's official API (Application Programming Interface). In this case, legacy module support can be disabled (this is the default setting when a site is first installed).") }}</p>
</fieldset>
{{ adminFooter() }}
