{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-pencil-alt"></span>
    {% trans %}Edit module category{% endtrans %}
    {{ pageSetVar('title', __('Edit module category')) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{% trans %}Module category{% endtrans %}</legend>
    {{ form_row(form.cid) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
</fieldset>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
