{{ adminHeader() }}
<h3>
    <span class="fa fa-list"></span>
    {% trans %}Module categories list{% endtrans %}
    {{ pageSetVar('title', 'Module categories list'|trans) }}
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cName" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hName" scope="col">{% trans %}Name{% endtrans %}</th>
            <th id="hActions" scope="col">{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            {% set permissionInstance = category.name ~ '::' ~ category.cid %}
            {% set accessEdit = hasPermission('ZikulaAdminModule::', permissionInstance, 'ACCESS_EDIT') %}
            {% set accessDelete = hasPermission('ZikulaAdminModule::', permissionInstance, 'ACCESS_DELETE') %}
            <tr>
                <td headers="hName"><a href="{{ path('zikulaadminmodule_admin_adminpanel', { acid: category.cid }) }}">{{ category.name }}</a></td>
                <td headers="hActions" class="actions">
                    {% if accessEdit %}
                        <a href="{{ path('zikulaadminmodule_admin_modify', {cid: category.cid}) }}" title="{% trans %}Edit{% endtrans %}" class="tooltips fa fa-wrench"></a>
                    {% endif %}
                    {% if accessDelete %}
                        <a href="{{ path('zikulaadminmodule_admin_delete', {cid: category.cid}) }}" title="{% trans %}Delete{% endtrans %}" class="tooltips fa fa-trash-alt"></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="table-info"><td colspan="2" class="text-center">{% trans %}No items found.{% endtrans %}</td></tr>
        {% endfor %}
    </tbody>
</table>
{{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, posvar: 'startnum', route: 'zikulaadminmodule_admin_view'}) }}
{{ adminFooter() }}
