{{ pageAddAsset('javascript', zasset('@ZikulaBlocksModule:js/Zikula.Blocks.Admin.Edit.js')) }}
{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-edit"></span>
            {% if form.vars.value.bid %}
                {{ __('Modify block') }}
                {{ pageSetVar('title', __('Modify block')) }}
            {% else %}
                {{ __('Create block') }}
                {{ pageSetVar('title', __('Create block')) }}
            {% endif %}
        </h3>
        {{ showflashes() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Meta') }}</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Block Type') }}</label>
                <div class="col-sm-9">
                    <p class="form-control-static label label-info" style="font-size: 130%">{{ moduleName }}/{{ form.vars.value.blocktype }}</p>
                </div>
            </div>
            {{ form_row(form.bkey) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
        </fieldset>
        {% if form.properties is defined %}
        <fieldset>
            <legend>{{ __('Properties') }}</legend>
            {{ include(propertiesFormTemplate, {form: form.properties|default()}, with_context = false, ignore_missing = true) }}
        </fieldset>
        {% endif %}
        <fieldset>
            <legend>{{ __('Filters') }}</legend>
            {{ form_row(form.positions) }}
            {{ form_row(form.language) }}
            <script>var filterCount = '{{ form.filters|length }}';</script>
            <div class="form-group">
                {{ form_label(form.filters) }}
                <div class="col-sm-9">
                    <ul id="filters" data-prototype="&lt;li class=&quot;form-inline&quot;&gt;{{ form_widget(form.filters.vars.prototype.attribute, { 'attr': {'class': 'attribute-selector'} })|e }} {{ form_widget(form.filters.vars.prototype.queryParameter, { 'attr': {'disabled': true, 'class': 'queryParameter'} })|e }} {{ form_widget(form.filters.vars.prototype.comparator)|e }} {{ form_widget(form.filters.vars.prototype.value)|e }}&nbsp;&nbsp;&lt;a href=&quot;#&quot; class=&quot;delete-filter fa fa-trash fa-lg text-danger&quot;&gt;&lt;/a&gt;&lt;/li&gt;">
                        {% for filter in form.filters %}
                        {% form_theme form _self %}
                        {% block _filters_entry_widget %}
                        <li class="form-inline">{{ form_widget(filter.attribute, { 'attr': {'class': 'attribute-selector'} }) }} {{ form_widget(filter.queryParameter, { 'attr': {'disabled': filter.vars.value.queryParameter is empty, 'class': 'queryParameter'} }) }} {{ form_widget(filter.comparator) }} {{ form_widget(filter.value) }}&nbsp;&nbsp;<a href="#" class="delete-filter fa fa-trash fa-lg text-danger"></a></li>
                        {% endblock %}
                        {% endfor %}
                        <li style="display:none">{{ form_row(form.filters) }}</li><!-- hack to hide repeated display of filters label -->
                    </ul>
                    <a href="#" id="add-filter" class="btn btn-default btn-sm fa fa-plus"> Add Filter</a>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

</div>
{{ adminFooter() }}
