{{ pageAddAsset('javascript', zasset('@ZikulaBlocksModule:js/Zikula.Blocks.Admin.Edit.js')) }}
{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-edit"></span>
    {% if form.vars.value.bid %}
        {% trans %}Modify block{% endtrans %}
        {{ pageSetVar('title', 'Modify block'|trans) }}
    {% else %}
        {% trans %}Create block{% endtrans %}
        {{ pageSetVar('title', 'Create block'|trans) }}
    {% endif %}
</h3>
{{ showflashes() }}
{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{% trans %}Meta{% endtrans %}</legend>
    <div class="form-group row">
        <label class="col-md-3 col-form-label">{% trans %}Block Type{% endtrans %}</label>
        <div class="col-md-9">
            <p class="form-control-plaintext badge badge-info text-wrap" style="font-size: 130%">{{ moduleName }}/{{ form.vars.value.blocktype }}</p>
        </div>
    </div>
    {{ form_row(form.bkey) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
</fieldset>
{% if form.properties is defined %}
<fieldset>
    <legend>{% trans %}Properties{% endtrans %}</legend>
    {{ include(propertiesFormTemplate, {form: form.properties|default()}, with_context = false, ignore_missing = true) }}
</fieldset>
{% endif %}
<fieldset>
    <legend>{% trans %}Filters{% endtrans %}</legend>
    {{ form_row(form.positions) }}
    {{ form_row(form.language) }}
    <div class="form-group row">
        {{ form_label(form.filters) }}
        <div class="col-md-9">
            <ul id="filters" data-prototype="&lt;li class=&quot;form-inline&quot;&gt;{{ form_widget(form.filters.vars.prototype.attribute, {attr: {class: 'form-control-sm attribute-selector'}})|e }} {{ form_widget(form.filters.vars.prototype.queryParameter, {attr: {disabled: true, class: 'form-control-sm queryParameter'}})|e }} {{ form_widget(form.filters.vars.prototype.comparator, {attr: {class: 'form-control-sm'}})|e }} {{ form_widget(form.filters.vars.prototype.value, {attr: {class: 'form-control-sm'}})|e }}&nbsp;&nbsp;&lt;a href=&quot;#&quot; class=&quot;delete-filter fa fa-trash-alt fa-lg text-danger&quot;&gt;&lt;/a&gt;&lt;/li&gt;">
                {% for filter in form.filters %}
                {% form_theme form _self %}
                {% block _filters_entry_widget %}
                <li class="form-inline">{{ form_widget(filter.attribute, {attr: {class: 'form-control-sm attribute-selector'}}) }} {{ form_widget(filter.queryParameter, {attr: {disabled: filter.vars.value.queryParameter is empty, class: 'form-control-sm queryParameter'}}) }} {{ form_widget(filter.comparator, {attr: {class: 'form-control-sm'}}) }} {{ form_widget(filter.value, {attr: {class: 'form-control-sm'}}) }}&nbsp;&nbsp;<a href="#" class="delete-filter fa fa-trash-alt fa-lg text-danger"></a></li>
                {% endblock %}
                {% endfor %}
                <li class="d-none">{{ form_row(form.filters) }}</li>{# hack to hide repeated display of filters label #}
            </ul>
            <a href="#" id="add-filter" class="btn btn-secondary btn-sm fa fa-plus"> {% trans %}Add filter{% endtrans %}</a>
        </div>
    </div>
</fieldset>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
<script>
    {# used in @ZikulaBlocksModule:js/Zikula.Blocks.Admin.Edit.js #}
    var filterCount = '{{ form.filters|length }}';
</script>
