{% form_theme filterForm with [
    '@ZikulaCategoriesModule/Form/filter_layout_customizations.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ form_start(filterForm) }}
    <fieldset{% if filter_active %} class="filteractive"{% endif %}>
        {% set filteractive = filter_active ? 'active'|trans : 'inactive'|trans %}
        <legend class="mb-0">{% trans with {'%active%': filteractive} %}Filter %active%{% endtrans %}</legend>
        <strong>{% trans %}Position{% endtrans %}</strong> {{ form_widget(filterForm.position) }}&nbsp;&nbsp;
        <strong>{% trans %}Module{% endtrans %}</strong> {{ form_widget(filterForm.module) }}&nbsp;&nbsp;
        <strong>{% trans %}Language{% endtrans %}</strong> {{ form_widget(filterForm.language) }}&nbsp;&nbsp;
        <strong>{% trans %}Active{% endtrans %}</strong> {{ form_widget(filterForm.active) }}&nbsp;&nbsp;
        {{ form_widget(filterForm.filterButton) }}
        <button class="btn btn-default btn-sm" name="clear" type="submit" value="1"><i class="fa fa-times fa-lg"></i> {% trans %}Clear{% endtrans %}</button>
    </fieldset>
{{ form_end(filterForm) }}
