{{ pageAddAsset('javascript', zasset('@ZikulaBlocksModule:js/Zikula.Blocks.Admin.New.js')) }}
{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-plus-square"></span>
            {{ __('Create') }} {{ __('Block') }}
        </h3>
        {{ showflashes() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Properties') }}</legend>
            <div class="alert alert-info">{{ __('Select a block type.') }}</div>
            {{ form_row(form.bkey) }}
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.choose) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

</div>
{{ adminFooter() }}
