{{ pageAddAsset('javascript', zasset('@ZikulaCategoriesModule:js/categories_admin_edit.js')) }}
{% set templateTitle = (category) ? __('Edit category') : __('Create new category') %}
{#modgetinfo module='ZikulaCategoriesModule' info='all' assign='modinfo'#}
<h2 id="top">{# $modinfo.displayname #}{{ __('Categories') }}</h2>
{{ pageSetVar('title', __('Categories')) }}

{% set dr = app.request.isMethod('POST') ? app.request.request.get('dr', 0) : app.request.query.get('dr', 0) %}

<div class="navbar navbar-default navbar-modulelinks">
    <ul class="navbar-nav">
        {% if referer %}
            <li><a class="fa fa-eye" href="{{ path('zikulacategoriesmodule_user_referback') }}"> {{ __('Return to referring page') }}</a></li>
        {% endif %}
        <li><a class="fa fa-refresh" href="{{ path('zikulacategoriesmodule_user_resequence', { assign: 'resq', dr: dr }) }}"> {{ __('Resequence') }}</a></li>
    </ul>
</div>

{{ showflashes() }}
{{ include('@ZikulaCategoriesModule/User/list.html.twig') }}

<h3><i class="fa fa-{{ category ? 'pencil' : 'plus' }}"></i> {{ templateTitle }}</h3>

<form class="form-horizontal" role="form" action="{{ path('zikulacategoriesmodule_user_update') }}" method="post" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <legend>{{ __('Category') }}</legend>
        <input type="hidden" name="csrftoken" value="{{ csrfToken }}" />
        <input type="hidden" name="dr" value="{{ rootCat.id }}" />
        <input type="hidden" name="category[parent_id]" value="{{ rootCat.id }}" />
        <input type="hidden" name="category[is_locked]" value="0" />
        <input type="hidden" name="category[is_leaf]" value="1" />
        <input type="hidden" name="mode" value="{% if category %}edit{% else %}new{% endif %}" />
        {% set catID = category.id|default %}
        {% if catID %}
            <input type="hidden" name="category[id]" value="{{ category.id }}" />
            <input type="hidden" name="category[path]" value="{{ category.path }}" />
            <input type="hidden" name="category[ipath]" value="{{ category.ipath }}" />
        {% endif %}
        <div class="form-group">
            <label class="col-sm-3 control-label" for="category_name">{{ __('Name') }}<span class="required"></span></label>
            <div class="col-sm-9">
                <input id="category_name" name="category[name]" value="{{ category.name|default|e('html_attr') }}" type="text" class="form-control" size="32" maxlength="255" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="category_value">{{ __('Value') }}</label>
            <div class="col-sm-9">
                <input id="category_value" name="category[value]" value="{{ category.value|default|e('html_attr') }}" type="text" class="form-control" size="16" maxlength="255" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="category_status">{{ __('Active') }}</label>
            <div class="col-sm-9">
                <input id="category_status" name="category[status]" value="A" type="checkbox"{{ category.status|default == 'A' ? ' checked="checked"' : '' }} />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>{{ __('Localised output') }}</legend>
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ __('Name') }}<span class="required"></span></label>
            <div class="col-sm-9">
                {% if category.display_name|default or not catID %}
                {% for language in languages %}
                    <div class="z-formlist">
                        {% set displayName = category.display_name[language]|default %}
                        <input id="category_display_name_{{ language }}" name="category[display_name][{{ language }}]" value="{{ displayName|e('html_attr') }}" type="text" class="form-control" size="50" maxlength="255" />
                        <label for="category_display_name_{{ language }}">({{ language }})</label>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{{ __('Description') }}</label>
            <div class="col-sm-9">
                {% if category.display_desc|default or not catID %}
                {% for language in languages %}
                    <div class="z-formlist">
                        {% set displayDesc = category.display_desc[language]|default %}
                        <textarea class="form-control" id="category_display_desc_{{ language }}" name="category[display_desc][{{ language }}]" rows="4" cols="56">{{ displayDesc }}</textarea>
                        <label for="category_display_desc_{{ language }}">({{ language }})</label>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </fieldset>
    {{ include('@ZikulaCategoriesModule/editAttributes.html.twig', { collapse: false }) }}
    {% if catID %}
        {{ include('@ZikulaCategoriesModule/metaData.html.twig', { collapse: false }) }}
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-success" title="{{ __('Save') }}">{{ __('Save') }}</button>
        {% if category %}
            <a class="btn btn-default" href="{{ path('zikulacategoriesmodule_user_edit', { dr: rootCat.id }) }}" title="{{ __('Cancel') }}">{{ __('Cancel') }}</a>
        {% endif %}
        </div>
    </div>
</form>
