<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cId" />
        <col id="cName" />
        <col id="cValue" />
        <col id="cStatus" />
        <col id="cSortValue" />
        {% if rootCat.__ATTRIBUTES__|default %}
            <col id="cAttributes" />
        {% endif %}
        <col id="cDown" />
        <col id="cUp" />
        <col id="cEdit" />
        <col id="cDelete" />
    </colgroup>
    <thead>
        <tr>
            <th id="hId" scope="col" class="text-left">{{ __('Internal ID') }}</th>
            <th id="hName" scope="col" class="text-left">{{ __('Name') }}</th>
            <th id="hValue" scope="col" class="text-left">{{ __('Value') }}</th>
            <th id="hStatus" scope="col" class="text-center">{{ __('Active') }}</th>
            <th id="hSortValue" scope="col" class="text-right">{{ __('Sort value') }}</th>
            {% if rootCat.__ATTRIBUTES__|default %}
                <th id="hAttributes" scope="col" class="text-right">{{ __('Attributes') }}</th>
            {% endif %}
            <th id="hDown" scope="col" class="text-center">{{ __('Down') }}</th>
            <th id="hUp" scope="col" class="text-center">{{ __('Up') }}</th>
            <th id="hEdit" scope="col" class="text-center">{{ __('Edit') }}</th>
            <th id="hDelete" scope="col" class="text-center">{{ __('Delete') }}</th>
        </tr>
    </thead>
    {% if allCats %}
    {% for cat in allCats %}
    <tbody>
        <tr>
            <td headers="hId" class="text-left">{{ cat.id }}</td>
            <td headers="hName" class="text-left">{{ cat.display_name[userlanguage]|default(cat.name) }}</td>
            <td headers="hValue" class="text-left">{{ cat.value }}</td>
            <td headers="hStatus" class="text-center">{{ cat.status }}</td>
            <td headers="hSortValue" class="text-right">{{ cat.sort_value }}</td>
            {% if rootCat.__ATTRIBUTES__|default %}
                <td headers="hAttributes" class="text-right">{{ cat.__ATTRIBUTES__|length }}</td>
            {% endif %}
            <td class="text-center">
                {% if not loop.last %}
                    <a href="{{ path('zikulacategoriesmodule_userform_movefield', { dr: rootCat.id, cid: cat.id, direction: 'down', append: '#top' }) }}"><i class="fa fa-arrow-down" title="{{ __('Down') }}"></i></a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            <td class="text-center">
                {% if not loop.first %}
                    <a href="{{ path('zikulacategoriesmodule_userform_movefield', { dr: rootCat.id, cid: cat.id, direction: 'up', append: '#top' }) }}"><i class="fa fa-arrow-up" title="{{ __('Up') }}"></i></a>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            <td class="text-center">
                {% if cat.is_locked %}
                    <i class="fa fa-lock" title="{{ __('Category is locked') }}"></i>
                {% else %}
                    <a href="{{ path('zikulacategoriesmodule_user_edit', { dr: rootCat.id, cid: cat.id }) }}"><i class="fa fa-pencil" title="{{ __('Edit') }}"></i></a>
                {% endif %}
            </td>
            <td class="text-center">
                {% set delPrompt = __f("Do you really want to delete the category '%catName'?", { '%catName': cat.name }) %}
                <a href="{{ path('zikulacategoriesmodule_userform_delete', { dr: rootCat.id, cid: cat.id }) }}" onclick="return confirm('{{ delPrompt|e('js') }}');">
                    <i clas="fa fa-trash" title="{{ __('Delete') }}"></i>
                </a>
            </td>
        </tr>
    </tbody>
    {% endfor %}
    {% endif %}
</table>
