<ol class="breadcrumb">
    <li class="breadcrumb-item">{% trans %}You are in:{% endtrans %}&nbsp;<a href="{{ path('zikulaadminmodule_admin_adminpanel') }}">{% trans %}Administration{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('zikulaadminmodule_admin_adminpanel', { 'acid': caller.category.cid }) }}">{{ caller.category.name }}</a></li>
    {% if caller.info and caller.info.displayname|default %}
        <li class="breadcrumb-item"><a href="#" class="text-capitalize">{{ caller.info.displayname }}</a></li>
    {% endif %}
    {% if caller._zkType != 'admin' %}
        <li class="breadcrumb-item"><a href="#" class="text-capitalize">{{ caller._zkType }}</a></li>
    {% endif %}
    {% if caller._zkFunc|default %}
        <li class="breadcrumb-item active">{{ caller._zkFunc|humanize }}</li>
    {% endif %}
</ol>
