{{ pageAddAsset('javascript', asset('jquery-mmenu/js/jquery.mmenu.all.js')) }}
{{ pageAddAsset('stylesheet', asset('jquery-mmenu/css/jquery.mmenu.all.css')) }}
{{ pageAddAsset('stylesheet', zasset('@ZikulaAdminModule:css/mmenu-hiddenpanel-customwidth.css')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaAdminModule:js/ZikulaAdminModule.Modal.Fix.js')) }}

{% macro draw(links, caller, module) %}
    {% for link in links %}
        <li{% if caller._zkModule == module.modname and caller.path == link.url %} class="selected"{% endif %}>
            <a href="{{ link.url }}" title="{{ link.text }}">{% if link.icon is defined %}<i class="{{ link.icon }}"></i> {% endif %}{{ link.text }}</a>
            {% if link.links is defined %}
                <ul class="text-left">{{ _self.draw(link.links, caller, module) }}</ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as menu %}

<a href="#zikula-admin-hiddenpanel-menu"><i class="fa fa-bars"></i></a>
<nav id="zikula-admin-hiddenpanel-menu">
    <div class="text-left">
        <h1><img src="{{ zasset('@ZikulaAdminModule:images/admin.png') }}" alt="{{ __('Administration') }}"/> {{ __('Administration') }}</h1>
        <ul>
            {% for category in adminMenu %}
                <li{% if caller.category.cid == category.cid %} class="selected"{% endif %}>
                    <a href="{{ category.url }}">{{ category.title|raw }}</a>
                    {% if category.modules|length > 0 %}
                        <ul class="text-left">
                            {% for module in category.modules %}
                                <li{% if caller.path == module.menutexturl %} class="selected"{% endif %}>
                                    <a href="{{ module.menutexturl }}" title="{{ module.menutext|e('html_attr') }}"><img src="/{{ module.icon }}" alt="{{ module.menutext|e('html_attr') }}" style="height: 18px" /> {{ module.menutext }}</a>
                                    {% if module.links|length > 0 %}
                                        <ul class="text-left">{{ menu.draw(module.links, caller, module) }}</ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#zikula-admin-hiddenpanel-menu').mmenu({
            extensions: ['hiddenpanel-customwidth'],
            'header': {
                'title': '{{ __('Administration') }}',
                'add': true,
                'update': true
            },
            'searchfield': true
        });
    });
</script>
