{{ pageAddAsset('stylesheet', asset('mmenu/css/mmenu.css'), 100) }}
{{ pageAddAsset('javascript', asset('mmenu/js/mmenu.js'), 100) }}
{{ pageAddAsset('javascript', zasset('@ZikulaAdminModule:js/ZikulaAdminModule.Modules.Panel.MMenuConfig.js'), 101) }}
{% import '@ZikulaAdminModule/AdminInterface/mmenuHelper.html.twig' as helper %}
<a href="#zikula-admin-hiddenpanel-menu"><i class="fa fa-bars" title="{% trans %}Show administration panel{% endtrans %}"></i></a>
<nav id="zikula-admin-hiddenpanel-menu" class="d-none">
    <div class="text-left">
        <h2><img src="{{ zasset('@ZikulaAdminModule:images/admin.png') }}" alt="{% trans %}Administration{% endtrans %}"/> {% trans %}Administration{% endtrans %}</h2>
        <ul>
            {% for category in adminMenu %}
                <li{% if caller.category.cid == category.cid %} class="selected"{% endif %}>
                    <a href="{{ category.url }}">
                        <i class="fa-fw {% if category.icon %}{{ category.icon|e('html_attr') }}{% else %}fas fa-file{% endif %}"></i>
                        {{ category.title|raw }}
                    </a>
                    {% if category.modules|length > 0 %}
                        <ul class="text-left">
                            {% for module in category.modules %}
                                <li{% if caller.path == module.menutexturl %} class="selected"{% endif %}>
                                    <a href="{{ module.menutexturl }}" title="{{ module.menutext|e('html_attr') }}"><img src="/{{ module.icon }}" alt="{{ module.menutext|e('html_attr') }}" style="height: 18px" /> {{ module.menutext }}</a>
                                    {% if module.links|length > 0 %}
                                        <ul class="text-left">{{ helper.draw(module.links, caller, module) }}</ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
