{{ pageAddAsset('stylesheet', asset('mmenu/css/mmenu.css'), 100) }}
{{ pageAddAsset('javascript', asset('mmenu/js/mmenu.js'), 100) }}
{{ pageAddAsset('javascript', zasset('@ZikulaAdminModule:js/ZikulaAdminModule.Modules.Panel.MMenuConfig.js'), 101) }}
<a href="#zikula-admin-hiddenpanel-menu"><i class="fas fa-bars" title="{% trans %}Show administration panel{% endtrans %}"></i></a>
<nav id="zikula-admin-hiddenpanel-menu" class="d-none">
    <div class="text-left">
        <h2><i class="fas fa-object-group fa-fw"></i> {% trans %}Administration{% endtrans %}</h2>
        <ul>
            {% for category in adminMenu %}
                <li{% if caller.category.cid == category.cid %} class="selected"{% endif %}>
                    <a href="{{ category.url }}">
                        <i class="fa-fw {% if category.icon %}{{ category.icon|e('html_attr') }}{% else %}fas fa-file{% endif %}"></i>
                        {{ category.title|raw }}
                    </a>
                    {% if category.modules|length > 0 %}
                        <ul class="text-left">
                            {% for module in category.modules %}
                                <li{% if caller.path == module.menutexturl %} class="selected"{% endif %}>
                                    <a href="{{ module.menutexturl }}" title="{{ module.menutext|e('html_attr') }}">
                                        <i class="{{ module.icon|default('fas fa-layer-group') }} fa-fw fa-2x align-middle text-info"></i>
                                        {{ module.menutext }}
                                    </a>
                                    {% if module.extensionMenu|default %}
                                        {{ knp_menu_render(module.extensionMenu, {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
