{% if hasPermission('ZikulaAdminModule::', '::', 'ACCESS_ADMIN') %}
    {% if developer.mode != 'prod' %}
        <div id="developernotices" class="alert alert-info">
            <div class="row">
                <div class="col-md-12">
                    <i class="close" data-dismiss="alert">&times;</i>
                    <a class="text-primary" data-toggle="collapse" href="#developernotices_full" aria-expanded="false" aria-controls="developernotices_full">
                        <strong><i class="fa fa-caret-right fa-fw"></i> {{ __('Developer notices (development mode on)') }}</strong>
                    </a>
                </div>
                <div class="collapse" id="developernotices_full">
                    <h4>{{ __('Dev mode status') }}</h4>
                    <ul>
                        <li>{{ __('Mode') }}: {{ developer.mode }}</li>
                        <li>{{ __('Debug enabled') }}: {{ developer.debug }}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
