</div> {# closing div.z-admin-content #}
<p class="z-admin-coreversion text-muted text-right">{{ caller.info.displayname }} {{ caller.info.version }} /
    Zikula {{ constant('Zikula\\Bundle\\CoreBundle\\HttpKernel\\ZikulaKernel::VERSION') }} / Symfony {{ symfonyVersion }} / PHP {{ phpVersion }}</p>
