</div> {# closing div.z-admin-content #}
<div class="z-admin-coreversion text-right">{{ caller.info.displayname }} {{ caller.info.version }} / Zikula {{ pagevars.coredata.version }} / Symfony {{ symfonyversion }} / PHP {{ phpversion }}</div>