</div> {# closing div.z-admin-content #}
<p class="z-admin-coreversion text-muted text-right">{{ caller.info.displayname }} {{ caller.info.version }} /
    Zikula {{ pagevars.coredata.version }} / Symfony {{ symfonyVersion }} / PHP {{ phpVersion }}</p>
