{{ adminBreadcrumbs() }}
{{ pageAddAsset('javascript', zasset('@ZikulaAdminModule:js/ZikulaAdminModule.SystemNotices.js')) }}
<div class="hidden-sm">
    {{ adminSecurityAnalyzer() }}
    {{ adminUpdateCheck() }}
</div>
{{ showflashes() }}
{{ adminMenu('categories') }}
<div class="z-admin-content clearfix">
    {{ moduleHeader('admin', '', '', false, false, false, true) }}
