{{ pageAddAsset('javascript', zasset('@ZikulaAdminModule:js/jQuery.mmenu-5.5.1/dist/core/js/jquery.mmenu.min.all.js')) }}
{{ pageAddAsset('stylesheet', zasset('@ZikulaAdminModule:js/jQuery.mmenu-5.5.1/dist/core/css/jquery.mmenu.all.css')) }}
{{ pageAddAsset('stylesheet', zasset('@ZikulaAdminModule:css/mmenu-hiddenpanel-customwidth.css')) }}

{% macro draw(links, caller, module) %}
    {% for link in links %}   
        {% if link.links is defined %}    
            <li class="{% if caller._zkModule == module.modname and caller.path == link.url %} Selected {% else %} {% endif %}" ><a href="{{ link.url }}" title="{{ link.text }}"> <i class="{{ link.icon }}"> </i> {{ link.text }}</a>
                <ul class="text-left">{{ _self.draw(link.links, caller, module) }}</ul>            
            </li>                
        {% else %}
            <li class="{% if caller._zkModule == module.modname and caller.path == link.url %} Selected {% else %} {% endif %}" ><a href="{{ link.url }}" title="{{ link.text }}">{% if link.icon is defined %} <i class="{{ link.icon }}"> </i> {% endif %} {{ link.text }}</a>          
            </li> 
        {% endif %}    
    {% endfor %}
{% endmacro %}

{% import _self as menu %}

<a href="#zikula-admin-hiddenpanel-menu"><i class="fa fa-bars"></i></a>
<nav id="zikula-admin-hiddenpanel-menu">
    <div class="text-left" >
        <h2><img src="{{ asset('bundles/core/images/logo.gif') }}" style="height: 28px;" alt="{{ __('Administration') }}">  {{ __('Administration') }}</h2>
        <ul>
            {% for module in adminMenu %} 
                <li class="{% if caller._zkModule == module.modname %} Selected {% endif %}">
                    <a href="{{ module.menutexturl }}" >
                        <img src="{{ module.icon }}" style="height:18px;"/> {{ module.menutext }}
                    </a>	
                    {% if module.links|length > 0 %}
                        <ul class="text-left">
                            {{ menu.draw(module.links, caller, module) }}	
                        </ul>	
                    {% endif %}
                </li>
            {% endfor %}   
        </ul>
    </div>
</nav>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("#zikula-admin-hiddenpanel-menu").mmenu({
            extensions: ["hiddenpanel-customwidth"],
            "header": {
                "title": "{{ __('Administration') }}",
                "add": true,
                "update": true
            },
            "searchfield": true
        });
    });
</script>