{% if hasPermission('ZikulaAdminModule::', '::', 'ACCESS_ADMIN') and updateCheckHelper.enabled %}
    <div id="updatecheck" class="alert" style="background-color: #F7F7F7">
        <div class="row">
            <div class="col-sm-12">
                <i class="close" data-dismiss="alert">&times;</i>
                <a href="#updatecheck_full" title="{{ __('Update checker') }}"
                   data-toggle="collapse" aria-expanded="false" aria-controls="updatecheck_full">
                    <span class="fa-stack">
                        <i class="fa fa-refresh fa-stack-2x"></i>
                        <i class="fa fa-info fa-stack-1x"></i>
                    </span>
                    <strong> {{ __('Update checker') }}: </strong>
                    {% if updateCheckHelper.versionCompare == -1 %}
                        {# you use not released version #}
                        {{ __('You are currently using an unreleased version of the Zikula Core.') }}
                    {% elseif updateCheckHelper.versionCompare == 0 %}
                        {# you use latest version #}
                        {{ __('You are using the latest stable version of the Zikula core.') }}
                    {% elseif updateCheckHelper.versionCompare == 1 %}
                        {# new version found #}
                        {{ __('A new version of the Zikula core is available. Please download the new Zikula core.') }}
                    {% endif %}
                </a>
            </div>
            <div class="collapse" id="updatecheck_full">
                <div class="alert col-sm-12">
                    <span class="col-sm-4">
                        {# % if updateCheckHelper.enabled % #}
                            <i class="fa fa-check"></i> {{ __('Update checker is enabled') }}
                        {# % else % #}
                        {#    <i class="fa fa-close"></i> {{ __('Update checker is disabled') }} #}
                        {# % endif % #}
                    </span>
                    <span class="col-sm-4">
                        <i class="fa fa-calendar"></i> {{ __('Check interval') }}: {{ updateCheckHelper.checkInterval }} {{ __('days') }}
                    </span>
                    <span class="col-sm-4">
                        <i class="fa fa-calendar-check-o"></i> {{ __('Last checked') }}: {{ updateCheckHelper.lastChecked|date('F j, Y, g:i a') }}
                    </span>
                </div>
                {% if updateCheckHelper.releases %}
                    <div class="col-sm-12">
                        <strong>{{ __('Releases') }}</strong>
                        <div class="col-sm-12">
                            <ul class="list-group">
                                {% if updateCheckHelper.versionCompare == -1 %}
                                    <li class="list-group-item active clearfix">
                                        <span class="col-sm-3"> {{ __('Zikula Core') }} {{ updateCheckHelper.currentVersion }} </span>
                                        <span class="col-sm-3"> {{ __('Currently used version') }} </span>
                                    </li>
                                {% endif %}
                                {% for release in updateCheckHelper.releases %}
                                    {% if release.prerelease %}
                                    {% else %}
                                        <li class="list-group-item {% if loop.first %} list-group-item-success {% endif %} clearfix">
                                            <a href="#release_{{ loop.index }}" class="col-sm-3" role="button"
                                               data-toggle="collapse" aria-expanded="false" aria-controls="release_{{ loop.index }}">
                                                {{ release.name }}
                                            </a>
                                            {% if loop.first %}
                                                <span class="col-sm-3">
                                                    {{ __('Latest stable relese') }} 
                                                </span>
                                            {% endif %}
                                            <a href="#release_{{ loop.index }}" class="pull-right" role="button"
                                               data-toggle="collapse" aria-expanded="false" aria-controls="release_{{ loop.index }}">
                                                <i class="fa fa-info"> </i>
                                            </a>
                                            <div class="collapse clearfix" id="release_{{ loop.index }}">
                                                <div class="col-sm-6">
                                                    {{ release.body|nl2br }}
                                                </div>
                                                <div class="col-sm-6">
                                                    {% for asset in release.assets %}
                                                        <p>
                                                            <a href="{{ asset.browser_download_url }}" class="text-success">
                                                                <i class="fa fa-cloud-download"></i> {{ asset.name }}
                                                            </a>
                                                        </p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="col-sm-12 text-center">
                        <p>{{ __('Stable Zikula Core available') }}: {{ updateCheckHelper.updateversion }} </p>
                        <a href="{{ path(caller._route, caller._route_params|merge({'forceupdatecheck':1})) }}" class="btn btn-sm btn-primary">
                            {{ __('Check now') }}
                            <span class="fa-stack">
                                <i class="fa fa-refresh fa-stack-2x"></i>
                                <i class="fa fa-info fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
