{% set scriptInit %}
    <script>
        // some defines
        var adminpermission = {{ adminId }};
        var lockadmin = {{ lockadmin }};
    </script>
{% endset %}
{{ pageAddAsset('header', scriptInit) }}
{{ pageAddAsset('stylesheet', asset('jquery-ui/themes/base/jquery-ui.min.css')) }}
{{ pageAddAsset('javascript', asset('jquery-ui/jquery-ui.min.js')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaPermissionsModule:js/Zikula.Permission.Admin.View.js')) }}
{{ adminHeader() }}
<h3>
    <span class="fas fa-list"></span>
    {% trans %}Permission rules list{% endtrans %}
    {{ pageSetVar('title', 'Permission rules list'|trans) }}
</h3>
{% if enableFilter %}
    {% form_theme filterForm with [
        '@ZikulaCategoriesModule/Form/filter_layout_customizations.html.twig',
        '@ZikulaFormExtension/Form/form_div_layout.html.twig'
    ] %}
    {{ form_start(filterForm) }}
    <fieldset>
        <legend class="mb-0">{% trans %}Filter{% endtrans %}</legend>
        {{ form_widget(filterForm.filterGroup) }}
        {{ form_widget(filterForm.filterComponent) }}
        {{ form_widget(filterForm.reset) }}
    </fieldset>
    {{ form_end(filterForm) }}
{% endif %}

<div class="table-responsive">
<table id="permission-list" class="table table-sm table-bordered table-striped">
    <colgroup>
        <col id="cPosition" />
        <col id="cId" />
        <col id="cGroup" />
        <col id="cComponent" />
        <col id="cInstance" />
        <col id="cLevel" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hPosition" scope="col" class="text-left"></th>
            <th id="hId" scope="col" class="text-left">{% trans %}ID{% endtrans %}</th>
            <th id="hGroup" scope="col" class="text-left">
                {% trans %}Group{% endtrans %}
                <span id="filter-warning-group" class="d-none text-danger"> ({% trans %}filtered{% endtrans %})</span>
            </th>
            <th id="hComponent" scope="col" class="text-left">
                {% trans %}Component{% endtrans %}
                <span id="filter-warning-component" class="d-none text-danger"> ({% trans %}filtered{% endtrans %})</span>
            </th>
            <th id="hInstance" scope="col" class="text-left">
                {% trans %}Instance{% endtrans %}
            </th>
            <th id="hLevel" scope="col" class="text-left">
                {% trans %}Permission level{% endtrans %}
            </th>
            <th id="hActions" scope="col" class="text-left">
                {% trans %}Actions{% endtrans %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for permission in permissions %}
            {{ include('@ZikulaPermissionsModule/Permission/permissionTableRow.html.twig') }}
        {% endfor %}
    </tbody>
</table>
</div>

{% form_theme permissionCheckForm with [
    'bootstrap_4_horizontal_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ form_start(permissionCheckForm) }}
{{ form_errors(permissionCheckForm) }}
<fieldset>
    <legend>{% trans %}User permission check{% endtrans %}</legend>
    {{ form_row(permissionCheckForm.user) }}
    {{ form_row(permissionCheckForm.component) }}
    {{ form_row(permissionCheckForm.instance) }}
    {{ form_row(permissionCheckForm.level) }}
    <div class="form-group">
        <div class="form-text col-md-9 offset-md-3 font-weight-bold" id="permission-test-info" data-testing="{% trans %}Testing permission...{% endtrans %}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            {{ form_widget(permissionCheckForm.check) }}
            {{ form_widget(permissionCheckForm.reset) }}
        </div>
    </div>
</fieldset>
{{ form_end(permissionCheckForm) }}

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">{% trans %}Permission{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>
            </div>
            <div class="modal-body">
                {# empty #}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class='fas fa-times'></i> {% trans %}Close{% endtrans %}</button>
                <button id="save-permission" type="button" class="btn btn-success" data-dismiss="modal"><i class='fas fa-check'></i> {% trans %}Save{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="instanceInfoModal" tabindex="-1" role="dialog" aria-labelledby="instanceInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="instanceInfoModalLabel">{% trans %}Permission rule information{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>
            </div>
            <div class="modal-body">
                {{ include('@ZikulaPermissionsModule/Permission/instanceinfo.html.twig') }}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="deleteModalLabel">{% trans %}Do you really want to delete this permission rule?{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hiddenq="true">&times;</span><span class="sr-only">{% trans %}Close{% endtrans %}</span></button>
            </div>
            <div class="modal-footer">
                <button id="confirm-delete-permission" type="button" class="btn btn-danger" data-dismiss="modal">{% trans %}Yes{% endtrans %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}No{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
{{ adminFooter() }}
