{{ pageSetVar('title', 'Delete property'|trans) }}
<h3><i class="fas fa-trash-alt"></i> {% trans %}Delete property{% endtrans %}</h3>

{{ form_start(form) }}
<p class="alert alert-danger">{% trans with {'%id': id} %}Are you sure you want to delete the property with ID: %id{% endtrans %}</p>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.delete) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
