{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fas fa-download"></span>
    {% trans %}Export users{% endtrans %}
    {{ pageSetVar('title', 'Export users'|trans) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{% trans %}Export options{% endtrans %}</legend>
    {{ form_row(form.title) }}
    {{ form_row(form.email) }}
    {{ form_row(form.registrationDate) }}
    {{ form_row(form.lastLogin) }}
    {{ form_row(form.groups) }}
</fieldset>
<fieldset>
    <legend>{% trans %}File options{% endtrans %}</legend>
    {{ form_row(form.filename) }}
    {{ form_row(form.delimiter) }}
</fieldset>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.download) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
