{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_3_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
{{ pageSetVar('title', __('Delete Root')) }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-trash-alt"> {{ __('Delete Root') }}</span>
        </h3>
        <div class="alert alert-danger">{{ __f('Are you sure you want to delete this menu (%menu%) AND ALL ITS CHILDREN?', {'%menu%': form.vars.value.entity.title}) }}</div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.delete) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{{ adminFooter() }}
