{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
<div id="form_container">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    <div class="form-group row">
        {{ form_label(form.options) }}
        <div class="col-md-9">
            <ul class="list-unstyled" id="options" data-prototype="&lt;li class=&quot;form-inline&quot;&gt;{{ form_widget(form.options.vars.prototype.key)|e }} {{ form_widget(form.options.vars.prototype.value)|e }}&nbsp;&nbsp;&lt;a href=&quot;#&quot; class=&quot;delete-option fas fa-trash-alt fa-lg text-danger&quot;&gt;&lt;/a&gt;&lt;/li&gt;">
                {% for keyValuePair in form.options %}
                    {% form_theme form _self %}
                    {% block _options_entry_widget %}
                        <li class="form-inline">{{ form_widget(keyValuePair.key) }} {{ form_widget(keyValuePair.value) }}&nbsp;&nbsp;<a href="#" class="delete-option fas fa-trash-alt fa-lg text-danger"></a></li>
                    {% endblock %}
                {% endfor %}
            </ul>
            <div class="alert alert-info">{% trans %}Options with an asterisk (*) must have a value of a json_encoded string of option key-value pairs. Options with a plus (+) must have a boolean value.{% endtrans %}</div>
            <a href="#" id="add-option" class="btn btn-default btn-sm fas fa-plus"> {% trans %}Add Option{% endtrans %}</a>
        </div>
    </div>
    {{ form_row(form.root) }}
    {{ form_row(form.parent) }}
    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            {% if form.save|default %}{{ form_widget(form.save) }}{% endif %}
            {% if form.cancel|default %}{{ form_widget(form.cancel) }}{% endif %}
            {{ form_end(form) }}
        </div>
    </div>
</div>
<script>
    {# used in @ZikulaMenuModule:js/Zikula.Menu.Edit.js #}
    var optionCount = '{{ form.options|length }}';
</script>
