{{ adminHeader() }}
<h3>
    <span class="fas fa-wrench"></span>
    {% trans %}Settings{% endtrans %}
    {{ pageSetVar('title', 'Mailer settings'|trans) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}

<fieldset>
    <legend>{% trans %}Mailer settings{% endtrans %}</legend>
    {{ form_row(form.transport) }}
    {{ form_row(form.mailer_id) }}
    {{ form_row(form.mailer_key) }}
    {{ form_row(form.enableLogging) }}
</fieldset>

<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
