{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-wrench"></span>
    {% trans %}Settings{% endtrans %}
    {{ pageSetVar('title', __('Mailer settings')) }}
</h3>

<p class="alert alert-info">
    {{ __f('Mailer relies on %swiftmailer', {'%swiftmailer': '<a href="https://symfony.com/doc/current/reference/configuration/swiftmailer.html"><i class="fa fa-external-link-alt"></i> SwiftMailer configuration</a>'})|raw }}
</p>

{{ form_start(form) }}
{{ form_errors(form) }}

<fieldset>
    <legend>{% trans %}General settings{% endtrans %}</legend>
    {{ form_row(form.transport) }}
    {{ form_row(form.charset) }}
    {{ form_row(form.encoding) }}
    {{ form_row(form.html) }}
    {{ form_row(form.wordwrap) }}
    {{ form_row(form.enableLogging) }}
</fieldset>
<fieldset data-switch="zikulamailermodule_config[transport]" data-switch-value="smtp">
    <legend>{% trans %}SMTP settings{% endtrans %}</legend>
    {{ form_row(form.host) }}
    {{ form_row(form.port) }}
    {{ form_row(form.encryption) }}
    {{ form_row(form.auth_mode) }}
    <div data-switch="zikulamailermodule_config[auth_mode]" data-switch-value="plain,login,cram-md5">
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
    </div>
</fieldset>
<fieldset data-switch="zikulamailermodule_config[transport]" data-switch-value="gmail">
    <legend>{% trans %}Gmail settings{% endtrans %}</legend>
    {{ form_row(form.usernameGmail) }}
    {{ form_row(form.passwordGmail) }}
</fieldset>

<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
