{# based on association.html.twig and EAB demo #}
{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% set user = field.value %}
{% if user %}
    {% if 'toMany' == field.customOptions.get('associationType') %}
        <span class="badge badge-secondary">{{ field.formattedValue }}</span>
    {% else %}
        <div class="user-card d-flex align-items-center gap-2">
            <span class="avatar">{{ userAvatar(field.value.id, {size: 32, rating: 'g', class: 'rounded-circle'}) }}</span>
            <div class="user-info">
                <span class="user-name">{{ user.id|profileLinkByUserId }}</span>
                {% if 'ROLE_ADMIN' in user.roles %}
                    <span class="badge badge-danger ms-1">{{ 'Admin'|trans }}</span>
                {% elseif 'ROLE_EDITOR' in user.roles %}
                    <span class="badge badge-warning ms-1">{{ 'Editor'|trans }}</span>
                {% endif %}
            </div>
        </div>

        {#% if field.customOptions.get('relatedUrl') is not null %}
            <a href="{{ field.customOptions.get('relatedUrl') }}">{{ field.formattedValue }}</a>
        {% else %}
            {{ field.formattedValue }}
        {% endif %#}
    {% endif %}
{% else %}
    {#<span class="text-muted">{{ 'common.not_assigned'|trans }}</span>#}
{% endif %}
