<td headers="hName" class="bold">{{ name }}</td>
<td headers="hDescription" >{{ description }}</td>
<td headers="hType" >{{ typeLabel }}</td>
<td headers="hState" >{{ stateLabel }}</td>
<td headers="hMembers">
    {{ nbuser }}
    {% if canview == true %}
        - <a href="{{ path('zikulagroupsmodule_user_memberslist', { gid: gid }) }}" title="{{ __('Members list') }}">{{ __('Members list') }}</a>
    {% endif %}
</td>
<td headers="hMaximum">
    {% if nbumax == 0 %}
        {{ __('Unlimited') }}
    {% else %}
        {{ nbumax }}
    {% endif %}
</td>
<td headers="hFunctions">
    {% if state > 0 %}
        {% if status == true %}
            <strong>{{ __('Pending') }}</strong> | <a href="{{ path('zikulagroupsmodule_user_membership', { action: 'cancel', gid: gid }) }}" title="{{ __('Cancel') }}">{{ __('Cancel') }}</a>
        {% else %}
            {% if ismember == true %}
                <a href="{{ path('zikulagroupsmodule_user_membership', { action: 'unsubscribe', gid: gid }) }}" title="{{ __('Resign') }}">{{ __('Resign') }}</a>
            {% else %}
                {% if nbumax == 0 or nbumax > nbuser %}
                    <a href="{{ path('zikulagroupsmodule_user_membership', { action: 'subscribe', gid: gid }) }}" title="{{ __('Apply') }}">{{ __('Apply') }}</a>
                {% else %}
                    {{ __('Group has reached its maximum capacity') }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
</td>
