{% set templateTitle = __('Memberships') %}
{{ include('@ZikulaGroupsModule/User/menu.html.twig') }}

<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cName" />
        <col id="cDescription" />
        <col id="cType" />
        <col id="cState" />
        <col id="cMembers" />
        <col id="cMaximum" />
        {% if group.state > 0 %}
            <col id="cFunctions" />
        {% endif %}
    </colgroup>
    <thead>
        <tr>
            <th id="hName" scope="col">{{ __('Name') }}</th>
            <th id="hDescription" scope="col">{{ __('Description') }}</th>
            <th id="hType" scope="col">{{ __('Type') }}</th>
            <th id="hState" scope="col">{{ __('State') }}</th>
            <th id="hMembers" scope="col">{{ __('Members') }}</th>
            <th id="hMaximum" scope="col">{{ __('Maximum membership') }}</th>
            {% if group.state > 0 %}
                <th id="hFunctions" scope="col">{{ __('Functions') }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="hName">{{ group.name }}</td>
            <td headers="hDescription">{{ group.description }}</td>
            <td headers="hType">{{ group.typelbl }}</td>
            <td headers="hState">{{ group.statelbl }}</td>
            <td headers="hMembers">{{ group.nbuser }}</td>
            <td headers="hMaximum">{{ (group.nbumax == false or group.nbumax == 0) ? __('Unlimited') : group.nbumax }}</td>
            <td headers="hFunctions">
                {% if currentUser.loggedIn == false %}
                    {% set returnPage = path('zikulagroupsmodule_user_memberslist', { gid: group.gid }) %}
                    <a href="{{ path('zikulausersmodule_user_login', { returnpage: returnPage|e('url') }) }}" title="{{ __('Sorry! You must register for a user account on this site before you can apply for membership of a group.') }}">{{ __('Log in or register') }}</a>
                {% elseif group.state > 0 %}
                    {% if group.status == true %}
                        [ <strong>{{ __('Pending') }}</strong> | <a href="{{ path('zikulagroupsmodule_user_membership', { action: 'cancel', gid: group.gid }) }}" title="{{ __('Cancel') }}">{{ __('Cancel') }}</a> ]
                    {% else %}
                        {% if group.nbumax == 0 or group.nbumax > group.nbuser %}
                            {% if isMember == true %}
                                {% set funcAction = 'unsubscribe' %}
                                {% set funcTitle = __('Resign') %}
                            {% else %}
                                {% set funcAction = 'subscribe' %}
                                {% set funcTitle = __('Apply') %}
                            {% endif %}
                            <a href="{{ path('zikulagroupsmodule_user_membership', { action: funcAction, gid: group.gid }) }}" title="{{ funcTitle }}">{{ funcTitle }}</a>
                        {% else %}
                            {{ __('Group has reached its maximum capacity') }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
<br />
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cUser" />
        <col id="cStatus" />
    </colgroup>
    <thead>
        <tr>
            <th id="hUser" scope="col">{{ __('User name') }}</th>
            <th id="hStatus" scope="col">{{ __('Status') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
            <tr>
                <td headers="hUser">{{ member.uid|zikulagroupsmodule_profileLink }}</td>
                <td headers="hStatus" class="actions"> 
                {% if member.isonline %}
                    <span class="label label-success">{{ __('on-line') }}</span>
                {% else %}
                    <span class="label label-danger">{{ __('off-line') }}</span>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="table table-borderedempty">
                <td colspan="2">{{ __('No group members found.') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, posvar: 'startnum', route: 'zikulagroupsmodule_user_memberlist'}) }}
