{{ pageSetVar('title', templateTitle) }}
<h2 class="userheader">{{ __('Groups') }}</h2>
{{ showflashes() }}
{% if mainPage == false %}
    <ul class="navbar navbar-default navbar-modulelinks">
        <li>
            <a href="{{ path('zikulagroupsmodule_user_view') }}" title="{{ __('Go to groups index page') }}"><span class="fa fa-list"></span> {{ __('Go to groups index page') }}</a>
        </li>
    </ul>
{% endif %}
