{{ pageSetVar('title', 'User login'|trans) }}
<h2>{{ 'User login'|trans }}</h2>
{{ showflashes() }}
<fieldset>
    {{ loginHeader|raw }}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(attribute(form, loginField|default('uname'))) }}
    {{ form_row(form.pass) }}
    {{ form_row(form.rememberme) }}

    {% for template in additionalTemplates %}
        {{ include(template.view, template.params, ignore_missing = true) }}
    {% endfor %}

    {{ form_row(form.submit) }}

    {{ form_end(form) }}
    {{ loginFooter|raw }}
</fieldset>
