{% set templateTitle = 'Administrate membership application'|trans %}
{{ adminHeader() }}
<h3>
    <span class="fas fa-{% if action == 'accept' %}user-plus{% else %}user-times{% endif %}"></span>
    {{ templateTitle }}
    {{ pageSetVar('title', templateTitle) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{% trans with {'%action': action|capitalize, '%user': '<strong>' ~ application.user.uname ~ '</strong>'|raw, '%group': '<strong>' ~ application.group.name ~ '</strong>'|raw} %}%action application for %user to %group group{% endtrans %}</legend>
    <div class="alert alert-info">
        <h4>{% trans %}Application comments{% endtrans %}</h4>
        {{ application.application }}
    </div>
    {{ form_row(form.sendtag) }}
    {{ form_row(form.reason) }}
</fieldset>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
