{% set templateTitle = __('Administrate membership application') %}
{% form_theme form with [
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-{% if action == 'accept' %}user-plus{% else %}user-times{% endif %}"></span>
            {{ templateTitle }}
            {{ pageSetVar('title', templateTitle) }}
        </h3>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset>
            <legend>{{ __f('%action application for %user to %group group', {"%action":action|capitalize, "%user":"<strong>"~application.user.uname~"</strong>", "%group":"<strong>"~application.group.name~"</strong>"})|raw }}</legend>
            <div class="alert alert-info"><h4>{{ __('Application comments') }}</h4>{{ application.application }}</div>
            {{ form_row(form.sendtag) }}
            {{ form_row(form.reason) }}
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{{ adminFooter() }}
