{% set templateTitle = __('Administrate membership application') %}
{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-{% if action == 'accept' %}user-plus{% else %}user-times{% endif %}"></span>
    {{ templateTitle }}
    {{ pageSetVar('title', templateTitle) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{{ __f('%action application for %user to %group group', {'%action': action|capitalize, '%user': '<strong>' ~ application.user.uname ~ '</strong>', '%group': '<strong>' ~ application.group.name ~ '</strong>'})|raw }}</legend>
    <div class="alert alert-info">
        <h4>{% trans %}Application comments{% endtrans %}</h4>
        {{ application.application }}
    </div>
    {{ form_row(form.sendtag) }}
    {{ form_row(form.reason) }}
</fieldset>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
