{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ moduleHeader('user', __('Membership application'), '', true, true, false, true) }}
<h3>
    <span class="fa fa-key"></span>
    {% trans %}Membership application{% endtrans %}
</h3>
{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend><i class="fa fa-users"></i> {{ group.name }} {% trans %}group{% endtrans %}</legend>
    {{ group.description }}
    {{ form_row(form.application) }}
</fieldset>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.apply) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
