<fieldset>
    {% if collapse is not defined or collapse != false %}
        <legend><a href="#category-attributes" data-toggle="collapse">{{ __('Attributes') }} <i class="fa fa-expand"></i></a></legend>
        <div class="collapse" id="category-attributes">
    {% else %}
        <legend>{{ __('Attributes') }}</legend>
    {% endif %}
    <table class="table table-bordered table-striped">
        <colgroup>
            <col id="cName" />
            <col id="cValue" />
            <col id="cActions" />
        </colgroup>
        <thead>
            <tr>
                <th id="hName" scope="col">{{ __('Name') }}</th>
                <th id="hValue" scope="col">{{ __('Value') }}</th>
                <th id="hActions" scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td headers="hName"><input type="text" class="form-control input-sm" name="attribute_name[]" id="new_attribute_name" value="" /></td>
                <td headers="hValue"><input type="text" class="form-control input-sm" name="attribute_value[]" id="new_attribute_value" value="" size="50" /></td>
                <td headers="hActions"><a href="#" id="category_attributes_add" title="{{ __('Add') }}"><i class="fa fa-plus-square fa-lg text-success"></i></a></td>
            </tr>
            {% for name, value in attributes %}
            <tr>
                <td headers="hName"><input type="text" class="form-control input-sm" name="attribute_name[]" value="{{ name|e('html_attr') }}" /></td>
                <td headers="hValue"><input type="text" class="form-control input-sm" name="attribute_value[]" value="{{ value|e('html_attr') }}" size="50" /></td>
                <td headers="hActions"><a href="#" class="category_attributes_remove" title="{{ __('Delete') }}"><i class="fa fa-minus-square fa-lg text-danger"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if collapse is not defined or collapse != false %}
        </div>
    {% endif %}
</fieldset>
