{# purpose of this template: module configuration page #}
{% extends '@ZikulaRoutesModule/adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="zikularoutesmodule-config">
        {% form_theme form with [
            '@ZikulaRoutesModule/Form/bootstrap_4.html.twig',
            '@ZikulaFormExtension/Form/form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs" role="tablist">
                {% set tabTitle = __('List views') %}
                <li class="nav-item" role="presentation">
                    <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link active">{{ tabTitle }}</a>
                </li>
                {% set tabTitle = __('Moderation') %}
                <li class="nav-item" role="presentation">
                    <a id="vars2Tab" href="#tab2" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>
                {#% set tabTitle = __('Workflows') %}
                <li class="nav-item" role="presentation">
                    <a id="workflowsTab" href="#tabWorkflows" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab" class="nav-link">{{ tabTitle }}</a>
                </li>#}
            </ul>

            {{ form_errors(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="tab1" aria-labelledby="vars1Tab">
                    {% set tabTitle = __('List views') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>

                        <p class="alert alert-info">{{ __('Here you can configure parameters for list views.')|nl2br }}</p>

                        {{ form_row(form.routeEntriesPerPage) }}
                        {{ form_row(form.showOnlyOwnEntries) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledby="vars2Tab">
                    {% set tabTitle = __('Moderation') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>

                        <p class="alert alert-info">{{ __('Here you can define moderation-related settings.')|nl2br }}</p>

                        {{ form_row(form.allowModerationSpecificCreatorForRoute) }}
                        {{ form_row(form.allowModerationSpecificCreationDateForRoute) }}
                    </fieldset>
                </div>
                {#<div role="tabpanel" class="tab-pane fade" id="tabWorkflows" aria-labelledby="workflowsTab">
                    {% set tabTitle = __('Workflows') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>

                        <p class="alert alert-info">{% trans %}Here you can inspect and amend the existing workflows.{% endtrans %}</p>

                        <h4>{% trans %}Routes{% endtrans %}</h4>
                        <p><a href="{{ path('zikula_workflow_editor_index', {workflow: 'zikularoutesmodule_none'}) }}" title="{% trans %}Edit workflow for routes{% endtrans %}" target="_blank"><i class="fa fa-cubes"></i> {% trans %}Edit routes workflow{% endtrans %}</a>
                    </fieldset>
                </div>#}
            </div>
        </div>

        <div class="form-group form-buttons row">
            <div class="col-md-9 offset-md-3">
                {{ form_widget(form.save) }}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@ZikulaRoutesModule:js/ZikulaRoutesModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@ZikulaRoutesModule:js/ZikulaRoutesModule.EditFunctions.js'), 99) }}
    {% set formInitScript %}
        <script>
        /* <![CDATA[ */
            ( function($) {
                $(document).ready(function() {
                    zikulaRoutesInitEditForm('edit', '1');
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
