{# purpose of this template: module configuration page #}
{% extends 'ZikulaRoutesModule::adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="zikularoutesmodule-config">
        {% form_theme form with [
            '@ZikulaRoutesModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        <div class="zikula-bootstrap-tab-container">
            <ul class="nav nav-tabs">
            {% set tabTitle = __('List views') %}
            <li role="presentation" class="active">
                <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
            </li>
            {% set tabTitle = __('Workflows') %}
            <li role="presentation">
                <a id="workflowsTab" href="#tabWorkflows" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
            </li>
            </ul>

            {{ form_errors(form) }}
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledby="vars1Tab">
                    {% set tabTitle = __('List views') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                    
                        <p class="alert alert-info">{{ __('Here you can configure parameters for list views.')|nl2br }}</p>
                    
                        {{ form_row(form.routeEntriesPerPage) }}
                    </fieldset>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabWorkflows" aria-labelledby="workflowsTab">
                    {% set tabTitle = __('Workflows') %}
                    <fieldset>
                        <legend>{{ tabTitle }}</legend>
                
                        <p class="alert alert-info">{{ __('Here you can inspect and amend the existing workflows.') }}</p>
                
                        <h4>{{ __('Routes') }}</h4>
                        <p><a href="{{ path('zikula_workflow_editor_index', { 'workflow': 'zikularoutesmodule_none' }) }}" title="{{ __('Edit workflow for routes') }}" target="_blank"><i class="fa fa-cubes"></i> {{ __('Edit routes workflow') }}</a>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
