<h3>
    <span class="fas fa-list"></span>
    {% trans %}Extension categories list{% endtrans %}
    {{ pageSetVar('title', 'Extension categories list'|trans) }}
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cName" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hName" scope="col">{% trans %}Name{% endtrans %}</th>
            <th id="hDescription" scope="col">{% trans %}Description{% endtrans %}</th>
            <th id="hIcon" scope="col" class="text-center">{% trans %}Icon{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            {% set permissionInstance = category.name ~ '::' %}
            {% if hasPermission('ZikulaAdminBundle::', permissionInstance, 'ACCESS_READ') %}
                {% set accessEdit = hasPermission('ZikulaAdminBundle::', permissionInstance, 'ACCESS_EDIT') %}
                {% set accessDelete = hasPermission('ZikulaAdminBundle::', permissionInstance, 'ACCESS_DELETE') %}
                <tr>
                    <th id="category{{ category.slug}}" headers="hName" scope="col">
                        <a href="{{ path('zikulaadminbundle_admin_adminpanel', { acslug: category.slug }) }}">{{ category.name }}</a>
                    </th>
                    <td headers="category{{ category.slug}} hDescription">
                        {{ category.description|u.truncate(200, '…') }}
                    </td>
                    <td headers="category{{ category.slug}} hIcon" class="text-center">
                        {% if category.icon %}
                            <i class="{{ category.icon|e('html_attr') }}"></i>
                        {% else %}
                            {% trans %}None{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr class="table-info"><td colspan="4" class="text-center">{% trans %}No items found.{% endtrans %}</td></tr>
        {% endfor %}
    </tbody>
</table>
