<!DOCTYPE html>
<html xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}" dir="auto">
<head>
    <title>{{ pagevars.title }}</title>
    <meta charset="{{ pagevars.meta.charset }}" />
    <meta name="description" content="{{ pagevars.meta.description|default(getSystemVar('slogan', '')) }}" />
    <meta name="author" content="{{ getSystemVar('sitename', '') }}" />
    <meta name="generator" content="Zikula Application Framework" />
    <meta name="robots" content="index,follow,noodp" />
    <meta name="rating" content="General" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--[if IE]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->

    <link rel="icon" href="{{ zasset('@ZikulaBootstrapTheme:images/icon.png') }}" />
    <link rel="shortcut icon" href="{{ zasset('@ZikulaBootstrapTheme:images/favicon.ico') }}" />

    {# force fullscreen mode to look like an app #}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    {# adapt status line: default, black or black-translucent #}
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    {# viewport initialisation #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body{% if admin|default %} class="admin-page"{% elseif home|default %} class="home"{% endif %}>
    <div id="themeMainContainer">
