<!DOCTYPE html>
<html lang="{{ app.request.locale }}" dir="{{ localeApi.language_direction }}">
    <head>
        <meta charset="{{ pagevars.meta.charset }}" />
        <title>{{ pagevars.title }}</title>
        <meta name="description" content="{{ pagevars.meta.description }}" />
        <meta name="keywords" content="{{ pagevars.meta.keywords }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ pageAddAsset('stylesheet', zasset('@ZikulaBootstrapTheme:css/style.css')) }}
        {{ pageAddAsset('javascript', zasset('@ZikulaBootstrapTheme:js/modal-fix.js')) }}
    </head>
    <body>
