<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ pagevars.homepath }}">{{ getModVar('ZConfig', 'sitename') }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>{{ adminPanelMenu() }}</li>
            <li class="active"><a href="{{ pagevars.homepath }}" title="{{ __('Go to the sites home page') }}">{{ __('Home') }}</a></li>
            <li><a href="{{ path('zikulausersmodule_user_index') }}" title="{{ __('Go to your account panel') }}">{{ __('My Account') }}</a></li>
            <li><a href="{{ path('zikulasearchmodule_user_form') }}" title="{{ __('Search this site') }}">{{ __('Site search') }}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          {% if currentUser.loggedIn %}
            <a href="{{ path('zikulausersmodule_user_index') }}" class="navbar-right btn btn-default navbar-btn">{{ __('Signed in as') }} {{ currentUser.uname }}</a>
          <!-- {% else %}
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          {% endif %} -->
        </div><!--/.navbar-collapse -->
      </div>
    </div>
