<div class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ pagevars.homepath }}"><i class="fa fa-rocket fa-lg text-success"></i>&nbsp;&nbsp;{{ getModVar('ZConfig', 'sitename') }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#themeNavBarCollapse" aria-controls="themeNavBarCollapse" aria-expanded="false" aria-label="{% trans %}Toggle navigation{% endtrans %}">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div id="themeNavBarCollapse" class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li>{{ adminPanelMenu() }}</li>
            </ul>
            {% if admin|default %}
                {{ knp_menu_render('zikulaBootstrapThemeAdminMenu', {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}
            {% else %}
                {{ showblockposition('topnav') }}
                {% if currentUser.loggedIn %}
                    <div class="btn-group navbar-btn ml-auto">
                        <a href="{{ path('zikulausersmodule_account_menu') }}" class="btn btn-info">
                            <i class="fa fa-user"></i>&nbsp;&nbsp;{% trans with {'%username%': currentUser.uname} %}Signed in as %username%{% endtrans %}
                        </a>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">{% trans %}Toggle dropdown{% endtrans %}</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{{ path('zikulausersmodule_access_logout') }}" class="dropdown-item">{% trans %}Log out{% endtrans %}</a></li>
                            <a href="{{ path('zikulausersmodule_account_menu') }}" class="dropdown-item">{% trans %}My Account{% endtrans %}</a></li>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
