{% set scriptInit %}
    <script type="text/javascript">
        // some defines
        var adminpermission = {{ adminId }};
        var lockadmin = {{ lockadmin }};
    </script>
{% endset %}
{{ pageAddAsset('header', scriptInit) }}
{{ pageAddAsset('stylesheet', asset('web/bootstrap-jqueryui/bootstrap-jqueryui.min.js')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaPermissionsModule:js/Zikula.Permission.Admin.View.js')) }}

{{ adminHeader() }}
<h3>
    <span class="fa fa-list"></span>
    {{ __('Permission rules list') }}
</h3>

{% if enableFilter == true %}
<form class="form-inline" role="form" action="{{ path('zikulapermissionsmodule_admin_view') }}" method="post" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <input type="hidden" name="csrftoken" value="{{ csrfToken|e('html_attr') }}" />
        <legend>{{ __('Filter permission rules list') }}</legend>
        <span class="nowrap">
            <select id="filter-group" name="filter-group">
                {% for groupId, groupName in permgrps %}
                <option value="{{ groupId }}"{{ groupId == filterGroup ? ' selected="selected"' : '' }}>{{ groupName }}</option>
                {% endfor %}
            </select>
            <select id="filter-component" name="filter-component">
                {% for compKey, component in components %}
                <option value="{{ compKey }}"{{ compKey == filterComponent ? ' selected="selected"' : '' }}>{{ component }}</option>
                {% endfor %}
            </select>
        </span>
        <span class="nowrap">
            <button id="reset-filter" type="reset"><i class="fa fa-times"></i> {{ __('Reset') }}</button>
        </span>
        <span class="nowrap no-script">
            <button name="permgroupfiltersubmit" type="submit"><i class="fa fa-filter"></i> {{ __('Filter') }}</button>
        </span>
    </fieldset>
</form>
{% endif %}

<table id="permission-list" class="table table-striped">
    <colgroup>
        <col id="cPosition" />
        <col id="cId" />
        <col id="cGroup" />
        <col id="cComponent" />
        <col id="cInstance" />
        <col id="cLevel" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hPosition" scope="col" class="text-left"></th>
            <th id="hId" scope="col" class="text-left">{{ __('ID') }}</th>
            <th id="hGroup" scope="col" class="text-left">
                {{ __('Group') }}
                <em id="filter-warning-group" style="{% if filterGroup == -1 %}display: none; {% endif %}color: red; vertical-align: top"> ({{ __('filtered') }})</em>
            </th>
            <th id="hComponent" scope="col" class="text-left">
                {{ __('Component') }}
                <em id="filter-warning-component" style="{% if filterComponent == -1 %}display: none; {% endif %}color: red; vertical-align: top"> ({{ __('filtered') }})</em>
            </th>
            <th id="hInstance" scope="col" class="text-left">
                {{ __('Instance') }}
            </th>
            <th id="hLevel" scope="col" class="text-left">
                {{ __('Permission level') }}
            </th>
            <th id="hActions" scope="col" class="text-left">
                {{ __('Actions') }}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for permission in permissions %}
        <tr{% if lockadmin and adminId == permission.permid %} class="warning"{% endif %} data-id="{{ permission.permid }}">
            <td headers="hPosition" style="width: 1px; white-space: nowrap">
                {% if lockadmin and adminId == permission.permid %}
                <i class="fa fa-lock" title="{{ __('This permission rule has been locked. If you need to unlock it, go to the Permission rules manager Settings page.') }}"></i>
                {% else %}
                {% spaceless %}
                {% if permission.arrows.up == 1 %}
                    <a href="{{ permission.up.url|e('html_attr') }}" class="no-script fa fa-chevron-up" title="{{ permission.up.title|e('html_attr') }}"></a>
                {% endif %}
                {% if permission.arrows.down == 1 %}
                    <a href="{{ permission.down.url|e('html_attr') }}" class="no-script fa fa-chevron-down" title="{{ permission.down.title|e('html_attr') }}"></a>
                {% endif %}
                {% endspaceless %}
                <i class="fa fa-arrows ajax hidden"></i>
                {% endif %}
            </td>
            <td class="text-right" style="width: 1px; white-space: nowrap">{{ permission.permid }}</td>
            <td id="permission-group-{{ permission.permid }}" data-id="{{ permission.groupid }}">{{ permission.group }}</td>
            <td id="permission-component-{{ permission.permid }}">{{ permission.component }}</td>
            <td id="permission-instance-{{ permission.permid }}">{{ permission.instance }}</td>
            <td id="permission-level-{{ permission.permid }}" data-id="{{ permission.accesslevelid }}">{{ permission.accesslevel }}</td>
            <td class="actions">
                <a class="pointer insertBefore create-new-permission tooltips" href="{{ permission.inserturl|e('html_attr') }}" title="{{ __f('Insert permission rule before %s', { '%s': permission.permid }) }}"><i class="fa fa-plus"></i></a>
                {% if not lockadmin or adminId != permission.permid %}
                <a class="pointer edit-permission tooltips" href="{{ permission.editurl|e('html_attr') }}" title="{{ __f('Edit permission %s', { '%s': permission.permid }) }}"><i class="fa fa-pencil"></i></a>
                <a class="delete-permission tooltips" href="{{ permission.deleteurl|e('html_attr') }}" title="{{ __f('Delete permission %s', { '%s': permission.permid }) }}"><i class="fa fa-trash-o"></i></a>
                {% endif %}
                <i class="test-permission pointer ajax hidden tooltips" title="{{ __('Check a users permission') }}"><i class="fa fa-key"></i></i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form id="testpermform" class="form-horizontal" role="form" action="{{ path('zikulapermissionsmodule_admin_view') }}" method="post">
    <fieldset>
        <legend>{{ __('User permission check') }}</legend>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="test_user">{{ __('User name') }}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" size="40" maxlength="50" name="test_user" id="test_user" value="{{ testUser }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="test_component">{{ __('Component to check') }}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" size="40" maxlength="50" name="test_component" id="test_component" value="{{ testComponent }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="test_instance">{{ __('Instance to check') }}</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" size="40" maxlength="50" name="test_instance" id="test_instance" value="{{ testInstance }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="test_level">{{ __('Permission level') }}</label>
            <div class="col-sm-9">
                <select name="test_level" id="test_level" class="form-control" >
                    {% for levelId, levelName in permissionLevels %}
                        <option value="{{ levelId }}"{{ levelId == testLevel ? ' selected="selected"' : '' }}>{{ levelName }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="help-block col-sm-offset-3 col-sm-9" id="permission-test-info" data-testing="{{ __('Testing permission...') }}">
                {% if testResult != '' %}
                    {{ __('Permission check result:') }} {{ testResult }}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button class="btn btn-default" id="test-permission" title="{{ __('Check permission') }}">{{ __('Check permission') }}</button>
                <button class="btn btn-danger" type="reset" title="{{ __('Reset') }}">{{ __('Reset') }}</button>
            </div>
        </div>
    </fieldset>
</form>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ __('Close') }}</span></button>
                <h4 class="modal-title" id="editModalLabel">{{ __('Permission') }}</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input id="permission-id" type="hidden" readonly="readonly" placeholder="id" />
                        <label for="permission-group">{{ __('Group') }}</label>
                        <select name="permission-group" id="permission-group" class="form-control">
                            {% for groupId, groupName in groups %}
                                <option value="{{ groupId }}">{{ groupName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="permission-component">{{ __('Component') }}</label>
                        <textarea id="permission-component" class="no-editor form-control" rows="2" cols="20">{% if permission is defined %}{{ permission.component }}{% endif %}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="permission-instance">{{ __('Instance') }}</label>
                        <textarea id="permission-instance" class="no-editor form-control" rows="2" cols="20">{% if permission is defined %}{{ permission.instance }}{% endif %}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="permission-level">{{ __('Level') }}</label>
                        <select id="permission-level" class="form-control">
                            {% for levelId, levelName in permissionLevels %}
                                <option value="{{ levelId }}">{{ levelName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class='fa fa-times'></i> {{ __('Close') }}</button>
                <button id="save-permission-changes" type="button" class="btn btn-success" data-dismiss="modal"><i class='fa fa-check'></i> {{ __('Save changes') }}</button>
                <button id="save-new-permission" type="button" class="btn btn-success" data-dismiss="modal"><i class='fa fa-plus-square'></i> {{ __('Create new') }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="instanceInfoModal" tabindex="-1" role="dialog" aria-labelledby="instanceInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ __('Close') }}</span></button>
                <h4 class="modal-title" id="instanceInfoModalLabel">{{ __('Permission rule information') }}</h4>
            </div>
            <div class="modal-body">
                {{ include('@ZikulaPermissionsModule/Admin/instanceinfo.html.twig') }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ __('Close') }}</span></button>
                <h4 class="modal-title" id="deleteModalLabel">{{ __('Do you really want to delete this permission rule?') }}</h4>
            </div>
            <div class="modal-footer">
                <button id="confirm-delete-permission" type="button" class="btn btn-danger" data-dismiss="modal">{{ __('Yes') }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('No') }}</button>
            </div>
        </div>
    </div>
</div>

{{ adminFooter() }}
