<div class="{{ pagerPluginArray.class }}">
    {% if pagerPluginArray.currentPage > 1 %}
        [<a href="{{ pagerPluginArray.firstUrl }}" title="{% trans %}First page', 'zikula{% endtrans %}">{% trans %}First page', 'zikula{% endtrans %}</a>]
        [<a href="{{ pagerPluginArray.prevUrl }}" title="{% trans %}Previous page', 'zikula{% endtrans %}">{% trans %}Previous page', 'zikula{% endtrans %}</a>]
    {% endif %}

    {% for currentItem, currentPage in pagerPluginArray.pages %}
        {% set itemFrom = ((currentItem - 1) * pagerPluginArray.perpage) + 1 %}

        {% if currentItem == pagerPluginArray.countPages %}
            {% set itemTo = pagerPluginArray.total %}
        {% else %}
            {% set itemTo = currentItem * pagerPluginArray.perpage %}
        {% endif %}

        {% set interval = itemFrom - itemTo %}
        [
        {% if currentPage.isCurrentPage %}
            <span>{{ interval }}</span>
        {% else %}
            <a href="{{ currentPage.url }}">{{ interval }}</a>
        {% endif %}
        ]
    {% endfor %}

    {% if pagerPluginArray.currentPage < pagerPluginArray.countPages %}
        [<a href="{{ pagerPluginArray.nextUrl }}" title="{% trans %}Next page', 'zikula{% endtrans %}">{% trans %}Next page', 'zikula{% endtrans %}</a>]
        [<a href="{{ pagerPluginArray.lastUrl }}" title="{% trans %}Last page', 'zikula{% endtrans %}">{% trans %}Last page', 'zikula{% endtrans %}</a>]
    {% endif %}
</div>
