{% set separator=' ' %}
<div class="{{ pagerPluginArray.class }}">
    {% if pagerPluginArray.currentPage > 1 %}
        <a href="{{ pagerPluginArray.firstUrl }}" title="{% trans %}First page', 'zikula{% endtrans %}">
            <i class="fas fa-backward fa-lg" title="{% trans %}First page', 'zikula{% endtrans %}"></i>
        </a>
        {{ separator }}
        <a href="{{ pagerPluginArray.prevUrl }}" title="{% trans %}Previous page', 'zikula{% endtrans %}">
            <i class="fas fa-step-backward fa-lg" title="{% trans %}Previous page', 'zikula{% endtrans %}"></i>
        </a> {{ separator }}
    {% endif %}

    <span>
    {% set args = {
        '%1%': pagerPluginArray.currentPage,
        '%2%': pagerPluginArray.countPages,
        '%3%': pagerPluginArray.itemStart,
        '%4%': pagerPluginArray.itemEnd,
        '%5%': pagerPluginArray.total,
    } %}
    {% trans with args %}Page %1% / %2% (%3% - %4% of %5% total){% endtrans %}
    </span>

    {% if pagerPluginArray.currentPage < pagerPluginArray.countPages %}
        {{ separator }}
        <a href="{{ pagerPluginArray.nextUrl }}" title="{% trans %}Next page', 'zikula{% endtrans %}">
            <i class="fas fa-step-forward fa-lg" title="{% trans %}Next page', 'zikula{% endtrans %}"></i>
        </a>
        {{ separator }}
        <a href="{{ pagerPluginArray.lastUrl }}" title="{% trans %}Last page', 'zikula{% endtrans %}">
            <i class="fas fa-forward fa-lg" title="{% trans %}Last page', 'zikula{% endtrans %}"></i>
        </a>
    {% endif %}
</div>
