<!DOCTYPE html>
<html lang="{{ pagevars.lang }}" xml:lang="{{ pagevars.lang }}" dir="{{ pagevars.langdirection }}">
    <head>
        <meta charset="{{ pagevars.meta.charset }}" />
        <title>{{ pagevars.title }}</title>
        <meta name="description" content="{{ pagevars.meta.description }}" />
        <meta name="keywords" content="{{ pagevars.meta.keywords }}" />
        {{ pageAddAsset('stylesheet', asset('bootstrap/css/bootstrap-theme.min.css')) }}
        {{ pageAddAsset('stylesheet', zasset('@ZikulaAndreas08Theme:css/style.css')) }}
        {{ pageAddAsset('javascript', zasset('@ZikulaAndreas08Theme:js/modal-fix.js')) }}
    </head>
    <body>
        <div id="theme_page_container" class="{{ themevars.layout|default('container') }}">
            <div id="theme_header">
                {% if currentUser.loggedIn %}
                <a href="{{ path('zikulausersmodule_user_index') }}" class="pull-right btn btn-primary btn-sm" style="margin: 1em;">{{ __('Signed in as') }} {{ currentUser.uname }}</a>
                {% endif %}
                <h1 class="title">{{ adminPanelMenu() }} <a href="{{ pagevars.homepath }}">{{ getModVar('ZConfig', 'sitename') }}</a></h1>
                <h2 class="slogan">{{ getModVar('ZConfig', 'slogan') }}</h2>
            </div>
