{{ pageAddAsset('javascript', asset('jstree/dist/jstree.min.js')) }}
{{ pageAddAsset('stylesheet', asset('jstree/dist/themes/default/style.min.css')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaMenuModule:js/ZikulaMenuModule.Admin.View.js')) }}
{% set customStyle %}
    <style type="text/css">
        .jstree-contextmenu {
            z-index: 100;
        }
    </style>
{% endset %}
{{ pageAddAsset('header', customStyle) }}
{{ adminHeader() }}
{{ pageSetVar('title', __('Menu')) }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-list"></span>
            {{ __('Menu') }}
        </h3>
        <h4><i class="fa fa-bars"></i> {{ menu.title }}</h4>
        <div id="tree_container">
            {{ tree|raw }}
        </div>
    </div>

</div>
{{ adminFooter() }}
