{% form_theme form with [
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-trash-o"></span> {{ __('Delete block position') }} '{{ position.name }}'
            {{ pageSetVar('title', __('Delete block position')) }}
        </h3>

        <p class="alert alert-warning">{{ __f("Do you really want to delete position '%name%'?", {'%name%': position.name}) }}</p>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.delete) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

</div>
{{ adminFooter() }}
