{{ adminHeader() }}
<h3>
    <span class="fas fa-trash-alt"></span> {% trans %}Delete block position{% endtrans %} '{{ position.name }}'
    {{ pageSetVar('title', 'Delete block position'|trans) }}
</h3>

<p class="alert alert-warning">{% trans with {'%name%': position.name} %}Do you really want to delete position '%name%'?{% endtrans %}</p>

{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.delete) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
