{{ adminHeader() }}
<h3>
    <span class="fas fa-edit"></span>
    {% if form.vars.value.pid %}
        {% trans %}Modify block position{% endtrans %}
        {{ pageSetVar('title', 'Modify block position'|trans) }}
    {% else %}
        {% trans %}Create block position{% endtrans %}
        {{ pageSetVar('title', 'Create block position'|trans) }}
    {% endif %}
</h3>
<p class="alert alert-info">
    {% if form.vars.value.pid is empty %}
        {% trans %}After creating this block position, blocks can be assigned to it and the order they are to be displayed can be adjusted.{% endtrans %}<br />
    {% endif %}
    {% trans %}The theme in use must implement the block position or the assigned blocks will never be displayed.{% endtrans %}
</p>
{{ showflashes() }}
{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
