{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}

{{ adminHeader() }}

<p class="alert alert-info">
    {% if form.vars.value.pid is empty %}
    {{ __('After creating this block position, blocks can be assigned to it and the order they are to be displayed can be adjusted.') }}<br />
    {% endif %}
    {{ __('The theme in use must implement the block position or the assigned blocks will never be displayed.') }}
</p>

<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-edit"></span>
            {% if form.vars.value.pid %}{{ __('Modify position') }}{% else %}{{ __('Create position') }}{% endif %}
        </h3>
        {{ showflashes() }}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

</div>
{{ adminFooter() }}
