{{ include('@ZikulaAndreas08Theme/Include/header.html.twig') }}
<div id="theme_navigation_bar" class="clearfix">
    {% set topnavblock = showblockposition('topnav') %}
    {% if topnavblock is empty %}
    <ul class="pull-left">
        <li><a href="{{ pagevars.homepath }}" title="{{ __("Go to the site's home page") }}">{{ __('Home') }}</a></li>
        <li><a href="{{ path('zikulausersmodule_user_index') }}" title="{{ __('Go to your account panel') }}">{{ __('My Account') }}</a></li>
        <li><a href="{{ path('zikulasearchmodule_user_form') }}" title="{{ __('Search this site') }}">{{ __('Site search') }}</a></li>
    </ul>
    {% else %}
    {{ topnavblock|raw }}
    {% endif %}
    {{ showblockposition('search') }}
</div>
{{ include('@ZikulaAndreas08Theme/Body/' ~ themevars.master ~ '.html.twig') }}
{{ include('@ZikulaAndreas08Theme/Include/footer.html.twig') }}
