<!DOCTYPE html>
<html lang="{{ pagevars.lang }}" dir="{{ pagevars.langdirection }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ pagevars.meta.charset }}" />
        <title>{{ pagevars.title }}</title>
        <meta name="description" content="{{ pagevars.meta.description }}" />
        <meta name="robots" content="noindex,follow,noarchive" />
        <link rel="stylesheet" href="{{ zasset('@ZikulaPrinterTheme:css/style.css') }}" type="text/css" media="print" />
    </head>
    <body>
        {{ maincontent|raw }}
    </body>
</html>
