{{ pageAddAsset('javascript', zasset('@ZikulaSearchModule:js/ZikulaSearchModule.User.Form.js')) }}
{{ moduleHeader('user', 'Site search'|trans, true, true) }}

{% if noResultsFound %}
    <div class="alert alert-danger">
        <h4>{% trans %}No search results found.{% endtrans %}</h4>
        {% trans %}You can try the following:{% endtrans %}
        <ul>
            <li>{% trans %}Check that you spelled all words correctly.{% endtrans %}</li>
            <li>{% trans %}Use different keywords.{% endtrans %}</li>
            <li>{% trans %}Use keywords that are more general.{% endtrans %}</li>
            <li>{% trans %}Use fewer words.{% endtrans %}</li>
        </ul>
    </div>
{% endif %}

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    {{ form_row(form.q) }}
    {{ form_row(form.searchType) }}
    {{ form_row(form.searchOrder) }}
    <div class="search">
        {{ form_row(form.modules) }}
    </div>
    {{ form_row(form.search) }}
</fieldset>

{{ form_end(form) }}
