{% set templateTitle = __('Recent searches') %}
{{ moduleHeader('user', templateTitle, true, true) }}

<h3>{{ templateTitle }}</h3>

<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cSearchKeywords" />
        <col id="cAmountOfSearches" />
        <col id="cDateOfLastSearch" />
    </colgroup>
    <thead>
        <tr>
            <th id="hSearchKeywords" scope="col">{{ __('Search keywords') }}</th>
            <th id="hAmountOfSearches" scope="col">{{ __('Number of searches') }}</th>
            <th id="hDateOfLastSearch" scope="col">{{ __('Date of last search') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for recentSearch in recentSearches %}
            <tr>
                <th id="hSearchRow{{ loop.index }}" scope="row" headers="hSearchKeywords">
                    <a href="{{ path('zikulasearchmodule_search_execute', {q: recentSearch.search}) }}">{{ recentSearch.search|replace({' ': ', '}) }}</a>
                </th>
                <td headers="hSearchRow{{ loop.index }} hAmountOfSearches">{{ recentSearch.count }}</td>
                <td headers="hSearchRow{{ loop.index }} hDateOfLastSearch">{{ recentSearch.date.timestamp|format_date('short') }}</td>
            </tr>
        {% else %}
            <tr class="table table-borderedempty"><td colspan="3">{{ __('No items found.') }}</td></tr>
        {% endfor %}
    </tbody>
</table>

{{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, posvar: 'startnum', includePostVars: false, route: 'zikulasearchmodule_search_recent'}) }}
