{% set templateTitle = __('Search results') %}
{{ moduleHeader('user', templateTitle, true, true) }}

<h3>{{ templateTitle }}</h3>

{% if errors is not empty %}
    <div class="alert alert-danger">
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}
    </div>
{% endif %}

<p>{{ __f('Number of hits: %s', { '%s': resultCount }) }}</p>

<dl class="search_results">
    {% for result in results %}
    <dt class="search_hit">
        {% if result.url|default %}
            <a href="{{ result.url|zikulasearchmodule_generateUrl|e('html_attr') }}">
        {% endif %}
        {{ result.title|zikulasearchmodule_highlightWords(q) }}
        {% if result.url|default %}
            </a>
        {% endif %}
    </dt>
    <dd>
        {{ result.text|truncate(limitSummary, true)|zikulasearchmodule_highlightWords(q) }}
        {% if result.created is not empty %}
            <div class="search_created">{{ __f('Created on %s.', { '%s': result.created|localizeddate('long', 'none') }) }}</div>
        {% endif %}
    </dd>
    {% endfor %}
</dl>
{{ pager({ rowcount: resultCount, limit: numlimit, posvar: 'page', display: 'page', includePostVars: false, route: 'zikulasearchmodule_search_execute'}) }}
