<h3>
    <span class="fas fa-wrench"></span>
    {% trans %}Settings{% endtrans %}
    {{ pageSetVar('title', 'Administration settings'|trans) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{% trans %}General settings{% endtrans %}</legend>
    {{ form_row(form.ignoreinstallercheck) }}
    <div class="alert alert-warning" data-switch="zikulaadminmodule_config[ignoreInstallerCheck]" data-switch-value="1">
        {% trans %}Warning! Only enable the above option if this site is isolated from the Internet, otherwise security could be endangered if you omit to remove the Installer script from the site root and are not prompted to do so.{% endtrans %}
    </div>
</fieldset>
<fieldset>
    <legend>{% trans %}Display settings{% endtrans %}</legend>
    {{ form_row(form.admingraphic) }}
    {{ form_row(form.displaynametype) }}
    {{ form_row(form.itemsperpage) }}
    {{ form_row(form.modulesperrow) }}
    {{ form_row(form.startcategory) }}
</fieldset>
<fieldset>
    <legend>{% trans %}Modules categorisation{% endtrans %}</legend>
    {{ form_row(form.defaultcategory) }}
    {% for module in modules %}
        {{ form_row(attribute(form, 'modulecategory' ~ module.name)) }}
    {% endfor %}
</fieldset>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
