{% extends '@ZikulaCoreInstaller/theme.html.twig' %}

{% block childjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/zikulacoreinstaller/js/ajaxcommon.js') }}"></script>
{% endblock %}
{%  block childstylesheets %}
    <link href="{{ asset('bundles/zikulacoreinstaller/css/ajaxinstaller.css') }}" rel="stylesheet" />
{%  endblock %}

{% block title 'Zikula is installing!'|trans %}

{% block content %}
<div>
    <div class="progress">
        <div id="progress-bar" class="progress-bar bg-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
            <span class="sr-only">{% trans %}Progress bar{% endtrans %}</span>
        </div>
    </div>

    <div class="text-center">
        <a href="#install-fieldset" id="beginInstall" class="btn btn-lg btn-success">{% trans %}Begin Installer{% endtrans %}</a>
    </div>

    <fieldset id="install-fieldset">
        <legend>{% trans %}Installing Modules and Helpers{% endtrans %}</legend>
        <div class="row">
            <ul id="ajaxList" class="fa-ul text-left">
                {% for stage in stages %}
                <li id="{{ stage.name }}" class="text-muted col-xs-12 col-sm-5 col-sm-offset-1 pull-left">
                    <span class="fa-li"><i fa fa-circle-o"></i></span>
                    <span class="pre">{{ stage.pre }}</span>
                    <span class="during d-none">{{ stage.during }} </span>
                    <span class="success d-none">{{ stage.success }}</span>
                    <span class="fail d-none">{{ stage.fail }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </fieldset>

    <div class="text-center">
        <a id="continueButton" href="{{ url('install', {'stage': 'complete'}) }}" class="btn btn-lg btn-success d-none">{% trans %}Finish{% endtrans %} <i class="fa fa-angle-double-right"></i></a></div>
</div>
{# create a javascript array of all the stages #}
<script>
    var stages = [
    {% for stage in stages %}
        "{{ stage.name }}",
    {% endfor %}
    ];
</script>
{% endblock %}
