{% extends '@ZikulaCoreInstaller/theme.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title 'Zikula Core Installer :: Enter database information' %}

{% block content %}
<div>
    <fieldset>
    <legend>{{  __('Database information') }}</legend>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.database_driver) }}
            <div class="col-sm-9">
                {{ form_errors(form.database_driver) }}
                {{ form_widget(form.database_driver) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.dbtabletype) }}
            <div class="col-sm-9">
                {{ form_errors(form.dbtabletype) }}
                {{ form_widget(form.dbtabletype) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.database_host) }}
            <div class="col-sm-9">
                {{ form_errors(form.database_host) }}
                {{ form_widget(form.database_host) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.database_user) }}
            <div class="col-sm-9">
                {{ form_errors(form.database_user) }}
                {{ form_widget(form.database_user) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.database_password) }}
            <div class="col-sm-9">
                {{ form_errors(form.database_password) }}
                {{ form_widget(form.database_password) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.database_name) }}
            <div class="col-sm-9">
                {{ form_errors(form.database_name) }}
                {{ form_widget(form.database_name) }}
                <p class="help-block"><span class="text-danger">{{ __('Ensure the database is in UTF-8 format.') }}</span></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" value="{{ __('Next') }}" class="btn btn-success" />
            </div>
        </div>

        {{ form_end(form) }}
    </fieldset>
</div>
<script>
    $(document).ready(function() {
        $('form:first *:input:text:first').focus();
        
        var value = $('#dbcreds_database_driver').val();
        
        if (value == 'mysql') {
            $('#dbcreds_dbtabletype').parent().parent().show();
        } else {
            $('#dbcreds_dbtabletype').parent().parent().hide();
        }
            
        $('#dbcreds_database_driver').on('change', function() {
            var value = $(this).val();
            
            if (value == 'mysql') {
                $('#dbcreds_dbtabletype').parent().parent().slideDown('slow');
            } else {
                $('#dbcreds_dbtabletype').parent().parent().slideUp('slow');
            }
        });
    });
</script>
{% endblock %}
