{% extends '@ZikulaCoreInstaller/theme.html.twig' %}

{% block title __('Zikula is not installed!') %}

{% block body %}
<div class="container">
    <div id="cell">
        <div id="content">
            <div id="maincontent">
                <h1>{{ __("Zikula Application Framework") }}</h1>
                <h2>{{ __("Zikula Core is not installed!") }}</h2>
                <p>
                    {{ __f('You are seeing this message because Zikula is not yet installed. You can install Zikula by clicking
                    on the install button, but before doing so please read the %inst%. Further information can be found in the %docs%.',
                    {'%inst%': '<a href="%url%" onclick="window.open(this.href);return false;">%text%</a>' | replace({'%url%': path('doc', {'name': 'INSTALL-1.4.md'}), '%text%': __('installation instructions') }),
                     '%docs%': '<a href="%url%" onclick="window.open(this.href);return false;">%text%</a>' | replace({'%url%': 'http://www.zikula.org', '%text%': __('online documentation') }) } ) | raw }}
                </p>
                <noscript><p class="alert alert-warning">{{ __('You have JavaScript disabled. Please activate it to proceed or use the CLI script instead.') }}</p></noscript>
                <div id="installbutton" class="row" style="display:none;">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <a class="btn btn-success btn-lg btn-block" href="{{ path('install', {'stage': 'locale' }) }}">
                            <i class="fa fa-thumbs-up fa-3x pull-left"></i> {{ __("Install Zikula!") }}<br />{{ __('Version') }} {{ version }}
                        </a>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <br />
                <p class="text-muted">
                    {{ __("Zikula is free software released under the GPL license!") }}<br />
                    {{ __f('For more information, please visit %link%.', { '%link%': '<a href="http://zikula.org/" title="Zikula Homepage" onclick="window.open(this.href);return false;">http://zikula.org</a>'}) | raw }}
                </p>
            </div>
        </div>
    </div>
</div>
    <script>
        <!--
        jQuery( document ).ready(function( $ ) {
            $('#installbutton').show();
        });
        //-->
    </script>
{% endblock %}
