{% extends '@ZikulaCoreInstaller/theme.html.twig' %}

{% block title 'Zikula Core Installer :: System Requirements Check' %}

{% block content %}
    <div>
        <fieldset>
            <legend>{{ __("PHP") }}</legend>
            <ul class="systemrequirements text-left">
                {% if checks.phpsatisfied %}
                <li><span class="fa fa-fw fa-check text-success"></span> {{ __f("Your PHP version is %s.", {'%s': checks.phpversion }) }}</li>
                {% else %}
                <li><span class="fa fa-fw fa-times text-danger"></span> {{ __f("You have got a problem! Your PHP version is %s, which does not satisfy the Zikula system requirement of version %phpmin or later.", {'%s': checks.phpversion, '%phpmin': checks.phpcoreminversion }) }}</li>
                {% endif %}

                {% if checks.pdo %}
                <li><span class="fa fa-fw fa-check text-success"></span> {{ __("PDO extension loaded.") }}</li>
                {% else %}
                <li><span class="fa fa-fw fa-times text-danger"></span> {{ __("Your PHP installation doesn't have the PDO extension loaded.") }}</li>
                {% endif %}

                {% if checks.pcreUnicodePropertiesEnabled %}
                <li><span class="fa fa-fw fa-check text-success"></span> {{ __("Your PHP installation's PCRE library has Unicode property support enabled.") }}</li>
                {% else %}
                <li><span class="fa fa-fw fa-times text-danger"></span> {{ __("Your PHP installation's PCRE library does not have Unicode property support enabled. Zikula needs this to handle multi-byte character sets in regular expressions. The PCRE library used with PHP must be compiled with the '--enable-unicode-properties' option.") }}</li>
                {% endif %}
            </ul>
        </fieldset>

        {# Use the current path as the link here, because this template is used both in the installer and the upgrader with a different route. #}
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" class="btn btn-danger btn-lg"><i class="fa fa-fw fa-repeat"></i> {{ __("Check requirements again") }}</a>

    </div>
{% endblock %}
