<div class="container">
    <div class="row">
        <div id="theme_leftcol" class="col-sm-3">
            {{ showblockposition('left') }}
        </div>
        <div id="theme_maincontent" class="col-sm-9">
            {{ showflashes() }}
            {{ showblockposition('center') }}
            <div id="z-maincontent" class="{% if realm == 'home' %}z-homepage{% endif %} z-module-{{ modulename|lower }}">    
                {{ maincontent|raw }}
            </div>
        </div>
    </div>
</div>
