{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'PHP configuration'|trans %}
{% block main %}
    <div id="phpinfo">
        {{ phpinfo|raw }}
    </div>
{% endblock %}
{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/zikulatheme/css/phpinfo.css') }}" />
{% endblock %}
{% block body_javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/zikulatheme/js/ZikulaThemeBundle.Phpinfo.js') }}"></script>
{% endblock %}
