{{ pageAddAsset('javascript', zasset('@ZikulaCategoriesModule:js/categories_admin_edit.js')) }}
{{ showflashes() }}
{% set windowTitle = (mode == 'edit') ? __('Edit category') : __('Create new category') %}
<div id="categories_ajax_form_container" style="display: none;" title="{{ windowTitle|e('html_attr') }}">
    <form id="categories_ajax_form" class="form-horizontal" role="form" action="#" method="post" enctype="application/x-www-form-urlencoded">
        <fieldset>
            <legend>{{ __('General settings') }}</legend>
            <input type="hidden" id="category_parent_id" name="category[parent_id]" value="{{ category.parent_id }}" />
            {% set catID = category.id %}
            {% if category.id|default %}
                <input type="hidden" id="category_id" class="form-control" name="category[id]" value="{{ category.id }}" />
            {% endif %}
            <div class="form-group">
                <label class="col-sm-3 control-label" for="category_name">{{ __('Name') }}<span class="required"></span></label>
                <div class="col-sm-9">
                    <input id="category_name" name="category[name]" class="form-control" value="{{ category.name|default|e('html_attr') }}" type="text" size="32" maxlength="255" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="category_parent">{{ __('Parent') }}</label>
                <div class="col-sm-9">
                    <div class="form-control-static">
                        <strong>{{ categoryPath(category.parent_id, 'id', 'name') }}</strong>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="category_is_locked">{{ __('Category is locked') }}</label>
                <div class="col-sm-9">
                    <input type="checkbox" id="category_is_locked" name="category[is_locked]" value="1"{{ category.is_locked|default ? ' checked="checked"' : '' }} />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="category_is_leaf">{{ __('Category is a leaf node') }}</label>
                <div class="col-sm-9">
                    <input type="checkbox" id="category_is_leaf" name="category[is_leaf]" value="1"{{ category.is_leaf|default ? ' checked="checked"' : '' }} />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="category_value">{{ __('Value') }}</label>
                <div class="col-sm-9">
                    <input id="category_value" class="form-control" name="category[value]" value="{{ category.value|default|e('html_attr') }}" type="text" size="16" maxlength="255" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="category_status">{{ __('Active') }}</label>
                <div class="col-sm-9">
                    {% set catStatus = mode == 'edit' ? category.status|default : 'A' %}
                    <input id="category_status" name="category[status]" value="A" type="checkbox"{{ catStatus == 'A' ? ' checked="checked"' : '' }} />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ __('Localised output') }}</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Name') }}<span class="required"></span></label>
                <div class="col-sm-9">
                    {% for language in languages %}
                        {% set displayName = category.display_name[language] %}
                        <input id="category_display_name_{{ language }}" class="form-control" name="category[display_name][{{ language }}]" value="{{ displayName|e('html_attr') }}" type="text" size="50" maxlength="255" />
                        <em class="help-block" for="category_display_name_{{ language }}">({{ language }})</em>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Description') }}</label>
                <div class="col-sm-9">
                    {% for language in languages %}
                        {% set displayDesc = category.display_desc[language] %}
                        <textarea id="category_display_desc_{{ language }}" class="form-control" name="category[display_desc][{{ language }}]" rows="4" cols="56">{{ displayDesc }}</textarea>
                        <em class="help-block" for="category_display_desc_{{ language }}">({{ language }})</em>
                    {% endfor %}
                </div>
            </div>
        </fieldset>
        {{ include('@ZikulaCategoriesModule/editAttributes.html.twig') }}
        {% if mode == 'edit' %}
            {{ include('@ZikulaCategoriesModule/metaData.html.twig') }}
        {% endif %}
    </form>
</div>
