{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ moduleHeader('user', 'Account verification'|trans, '', true) }}
{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{% trans %}Verification code{% endtrans %}</legend>
    {{ form_row(form.uname) }}
    {{ form_row(form.verifycode) }}
</fieldset>
{% if form.children.pass is defined %}
    <fieldset>
        <legend>{% trans %}Create a password{% endtrans %}</legend>
        {{ include('@ZikulaZAuthModule/Authentication/PasswordGenerator.html.twig') }}
        {{ form_row(form.pass) }}
    </fieldset>
{% endif %}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.submit) }}
    </div>
</div>
{{ form_end(form) }}
{% if modvars.use_password_strength_meter and form.pass|default %}
{{ pageAddAsset('javascript', zasset('@ZikulaZAuthModule:js/pwstrength-bootstrap.min.js')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaZAuthModule:js/Zikula.ZAuth.PWStrength.Init.js')) }}
{% endif %}
