{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ moduleHeader('user', __('Login'), '', true) }}
<fieldset>
    {{ loginHeader|raw }}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.rememberme) }}

    {% for additional_template in additional_templates %}
        {{ include(additional_template.0, additional_template.1, ignore_missing = true) }}
    {% endfor %}
    {{ notifyDisplayHooks(constant('Zikula\\UsersModule\\HookSubscriber\\LoginUiHooksSubscriber::LOGIN_FORM')) }}
    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            {{ form_widget(form.submit) }}
            <a href="{{ path('home') }}" class="btn btn-default" role="button">{% trans %}Cancel{% endtrans %}</a>
        </div>
    </div>

    {{ form_end(form) }}
    {{ loginFooter|raw }}
</fieldset>
