{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}


{{ form_start(form) }}
{{ form_errors(form) }}
<div class="input-group">
    {{ form_widget(form.q) }}
    <span class="input-group-btn">
        <button class="btn btn-default" name="{{ form.search.vars.full_name }}" type="submit"><i class="fa fa-search"></i></button>
    </span>
</div>
<div class="hidden">
    {{ form_row(form.searchType) }}
    {{ form_row(form.searchOrder) }}
    {{ form_row(form.modules) }}
    {{ form_row(form.search) }}
</div>
<div class="hidden">
    {# @deprecated remove at Core-2.0 #}
    {% for plugin, pluginOption in pluginOptions %}
        {{ pluginOption|raw }}
    {% endfor %}
</div>
{% set moduleVariables = zikulasearchmodule_searchVarToFieldNames() %}
{% for name, value in moduleVariables %}
    <input type="hidden" name="{{ name|e('html_attr') }}" value="{{ value|e('html_attr') }}" />
{% endfor %}

{{ form_end(form) }}
