{{ pageAddAsset('javascript', zasset('@ZikulaCategoriesModule:js/ZikulaCategoriesModule.Category.Edit.js')) }}
{{ form_start(form) }}
{{ form_errors(form) }}
{% set currentLocale = app.request.locale|default('en') %}
<fieldset>
    <legend>{% trans %}Basic properties{% endtrans %}</legend>
    {{ form_row(form.name) }}
    {{ form_row(form.parent) }}
    {{ form_row(form.locked) }}
    {{ form_row(form.leaf) }}
    {{ form_row(form.value) }}
    {{ form_row(form.icon) }}
    {{ form_row(form.status) }}
</fieldset>
<fieldset>
    <legend>{% trans %}Localized output{% endtrans %}</legend>
    <div class="zikula-bootstrap-tab-container">
        <ul class="nav nav-tabs" role="tablist">
            {% for name, code in locales %}
                <li class="nav-item">
                    <a href="#{{ code }}" aria-controls="{{ code }}" role="tab" data-toggle="tab" class="nav-link{% if code == currentLocale %} active{% endif %}">{{ name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for name, code in locales %}
                <div role="tabpanel" class="tab-pane{% if code == currentLocale %} show active{% endif %}" id="{{ code }}">
                    {{ form_row(form.displayName[code], {label: form.displayName.vars.label ~ ' (' ~ code ~ ')' }) }}
                    {{ form_row(form.displayDesc[code], {label: form.displayDesc.vars.label ~ ' (' ~ code ~ ')' }) }}
                </div>
            {% endfor %}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend><a href="#category-attributes" data-toggle="collapse">{% trans %}Attributes{% endtrans %} <i class="fas fa-expand"></i></a></legend>
    <div class="collapse" id="category-attributes">
        <p><button id="add-another-attribute" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> {% trans %}Add attribute{% endtrans %}</button></p>
        <table class="table table-bordered table-striped">
            <colgroup>
                <col id="cName" />
                <col id="cValue" />
                <col id="cActions" />
            </colgroup>
            <thead>
            <tr>
                <th id="hName" scope="col">{% trans %}Name{% endtrans %}</th>
                <th id="hValue" scope="col">{% trans %}Value{% endtrans %}</th>
                <th id="hActions" scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody id="attribute-table" data-prototype="&lt;td headers=&quot;hName&quot;&gt;{{ form_widget(form.attributes.vars.prototype.name)|e }}&lt;/td&gt;&lt;td headers=&quot;hValue&quot;&gt;{{ form_widget(form.attributes.vars.prototype.value)|e }}&lt;/td&gt&lt;td headers=&quot;hActions&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;category_attributes_remove&quot; title=&quot;Delete&quot;&gt;&lt;i class=&quot;fas fa-minus-square fa-lg text-danger&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/td&gt;">
            {% for attribute in form.attributes %}
                <tr>
                    <td headers="hName">{{ form_widget(attribute.name) }}</td>
                    <td headers="hValue">{{ form_widget(attribute.value) }}</td>
                    <td headers="hActions"><a href="#" class="category_attributes_remove" title="{% trans %}Delete{% endtrans %}"><i class="fas fa-minus-square fa-lg text-danger"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</fieldset>
{{ form_end(form) }}
<div id="attributeDefinitions" data-count="{{ form.attributes|length }}"></div>
