{{ pageAddAsset('javascript', asset('jstree/dist/jstree.min.js')) }}
{{ pageAddAsset('stylesheet', asset('jstree/dist/themes/default/style.min.css')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaCategoriesModule:js/categories_admin_view.js')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaCategoriesModule:js/categories_admin_edit.js')) }}
{{ adminHeader() }}
{% set customStyle %}
    <style type="text/css">
        .jstree-contextmenu {
            z-index: 100;
        }
    </style>
{% endset %}
{{ pageAddAsset('header', customStyle) }}
<h3>
    <span class="fa fa-list"></span>
    {{ __('Categories list') }}
    {{ pageSetVar('title', __('Categories list')) }}
</h3>

<p class="alert alert-info">{{ __('You can arrange categories list using drag and drop. New order will be saved automatically.') }}<br />{{ __('Right click on selected category to open context menu.') }}</p>

<p>
    <label for="categoryTreeSearchTerm">{{ __('Quick search') }}:</label>
    <input type="search" id="categoryTreeSearchTerm" value="" />
</p>

<p><a href="#" id="catExpand">{{ __('Expand all') }}</a> | <a href="#" id="catCollapse">{{ __('Collapse all') }}</a></p>

<div id="categoryTreeContainer">
    {{ tree|raw }}
</div>

<div class="modal fade" id="categoryEditModal" tabindex="-1" role="dialog" aria-labelledby="categoryEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ __('Close') }}"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="categoryEditModalLabel">{{ __('Edit category') }}</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" value="Submit" class="btn btn-primary">{{ __('Submit') }}</button>
                <button type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="categoryDeleteModal" tabindex="-1" role="dialog" aria-labelledby="categoryDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ __('Close') }}"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="categoryDeleteModalLabel">{{ __('Confirmation prompt') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ __('Do you really want to delete this category?') }}
                <p id="deleteWithSubCatInfo"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id='cat_delete' value="Delete" class="btn btn-primary">{{ __('Delete') }}</button>
                <button type="button" id='cat_delete_all' value="Delete" class="btn btn-primary hidden">{{ __('Delete all sub-categories') }}</button>
                <button type="button" id='cat_delete_move' value="DeleteAndMoveSubs" class="btn btn-default hidden">{{ __('Move all sub-categories') }}</button>
                <button type="button" id='cat_delete_move_action' value="DeleteAndMoveSubs" class="btn btn-success hidden">{{ __('Move and delete') }}</button>
                <button type="button" id='cat_cancel' value="Cancel" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
            </div>
        </div>
    </div>
</div>

{{ adminFooter() }}
