<h3>
    <span class="fas fa-list"></span>
    {% trans %}Categories list{% endtrans %}
    {{ pageSetVar('title', 'Categories list'|trans) }}
</h3>

<p class="alert alert-info">
    {% trans %}You can arrange categories list using drag and drop. New order will be saved automatically.{% endtrans %}<br />
    {% trans %}Right click on selected category to open context menu.{% endtrans %}
</p>

<p>
    <label for="categoryTreeSearchTerm">{% trans %}Quick search{% endtrans %}:</label>
    <input type="search" id="categoryTreeSearchTerm" value="" />
</p>

<div class="btn-toolbar" role="toolbar" aria-label="category button toolbar">
    <div class="btn-group btn-group-sm" role="group" aria-label="category buttons">
        <button type="button" class="btn btn-info btn-disabled" disabled="disabled"><i class="fas fa-tree"></i></button>
        <button type="button" id="catExpand" class="btn btn-info"><i class="fas fa-expand"></i> {% trans %}Expand{% endtrans %}</button>
        <button type="button" id="catCollapse" class="btn btn-info"><i class="fas fa-compress"></i> {% trans %}Collapse{% endtrans %}</button>
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="category buttons">
        <button type="button" id="newCategory" class="btn btn-success"><i class="fas fa-plus"></i> {% trans %}New Category{% endtrans %}</button>
    </div>
</div>

<div id="tree_container">
    {{ tree|raw }}
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">{% trans %}Edit category{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" value="Submit" class="btn btn-success"><i class="fas fa-check"></i> {% trans %}Submit{% endtrans %}</button>
                <button type="button" value="Cancel" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> {% trans %}Cancel{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">{% trans %}Confirmation prompt{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{% trans %}Do you really want to delete this category?{% endtrans %}
                <p id="deleteWithChildrenInfo"></p>
                <div id="categorySelector" class="collapse">
                    {{ form_start(categorySelector) }}{{ form_widget(categorySelector.category) }}{{ form_end(categorySelector) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="node_delete" value="Delete" class="btn btn-danger"><i class="fas fa-trash-alt"></i> {% trans %}Delete{% endtrans %}</button>
                <button type="button" id="node_delete_all" value="Delete" class="btn btn-danger"><i class="fas fa-trash-alt"></i> {% trans %}Delete all sub-categories{% endtrans %}</button>
                <button type="button" id="node_delete_move" value="DeleteAndMove" class="btn btn-success"><i class="fas fa-arrow-circle-right"></i> {% trans %}Move all sub-categories{% endtrans %}</button>
                <button type="button" id="node_delete_move_action" value="DeleteAndMoveAction" class="btn btn-success"><i class="fas fa-trash-alt"></i> <i class="fas fa-arrow-circle-right"></i> {% trans %}Move and delete{% endtrans %}</button>
                <button type="button" id="node_cancel" value="Cancel" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> {% trans %}Cancel{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
{{ include('@ZikulaFormExtension/Form/icon_picker.html.twig') }}{# need to preload for editing inside modal #}
{{ pageAddAsset('javascript', asset('jstree/dist/jstree.min.js')) }}
{{ pageAddAsset('stylesheet', asset('jstree/dist/themes/default/style.min.css')) }}
{{ pageAddAsset('stylesheet', zasset('@ZikulaThemeModule:css/jstree.Common.css')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaCategoriesModule:js/ZikulaCategoriesModule.Category.List.js')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaCategoriesModule:js/ZikulaCategoriesModule.Category.Edit.js')) }}
