<fieldset>
    <legend>{{ __f('Connect %sub% to other modules', {"%sub%": currentmodule}) }}</legend>
    {% set amountOfProviderAreas = providerAreas|length %}
    <div{% if amountOfProviderAreas > 5 %} id="registeredProviderAreas"{% endif %} class="z-form registered_provider_areas">
        <fieldset>
            <legend>
                {% if amountOfProviderAreas > 5 %}<a href="#" onclick="return false">{% endif %}
                {{ __f('%sub% module provides the following area:', {"%sub%": currentmodule}) }}
                {% if amountOfProviderAreas > 5 %}</a>{% endif %}
            </legend>
            <div>
                <ol>
                {% for providerArea in providerAreas %}
                    <li><strong>{{ providerAreasToTitles[providerArea] }}</strong> <span class="sub">({{ providerArea }})</span></li>
                {% endfor %}
                </ol>
            </div>
            <div class="alert alert-info">{{ __f('To connect %sub% to one of the modules from the list below, click on the checkbox(es) next to the corresponding area.', {"%sub%": currentmodule}) }}</div>

            <table class="table table-bordered table-striped" id="subscriberslist">
                <colgroup>
                    <col id="cId" />
                    <col id="cName" />
                    <col id="cConnections" />
                </colgroup>
                <thead>
                    <tr>
                        <th id="hId" scope="col" class="z-w05">{{ __('ID') }}</th>
                        <th id="hName" scope="col" class="z-w15">{{ __('Display name') }}</th>
                        <th id="hConnections" scope="col" class="z-w80">{{ __('Connections') }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for subscriber in hooksubscribers %}
                    {% if subscriber.areas is not empty %}
                    <tr>
                        <td headers="hId">{{ subscriber.id }}</td>
                        <td headers="hName">{{ subscriber.displayname|default(subscriber.name) }}</td>
                        <td headers="hConnections">
                            {% set connection_exists = false %}

                            {% for sarea in subscriber.areas %}{# name=loop_sareas #}
                                {% set sarea_md5 = sarea|php('md5') %}
                                {# preliminary check to see if binding is allowed, if no bindings are allowed we don't show this row. Better usability. #}
                                {% set total_bindings = 0 %}
                                {% for parea in providerAreas if hookDispatcher.isAllowedBindingBetweenAreas(sarea, parea) %}
                                    {% set total_bindings = total_bindings + 1 %}
                                    {% set connection_exists = true %}
                                {% endfor %}

                                {% if total_bindings > 0 %}
                                    {% if not loop.first %}
                                        {# TODO - do this with styles perhaps ? #}
                                        <div style="height:5px; margin-top: 5px; border-top:1px dotted #dedede;"></div>
                                    {% endif %}

                                    <div class="clearfix">
                                        <div class="pull-left z-w45">
                                            {{ subscriber.areasToTitles[sarea] }} <span class="sub">({{ sarea }})</span>
                                        </div>

                                        <div class="pull-left z-w10 text-center">
                                            <span class="fa fa-paperclip"></span>
                                        </div>

                                        <div class="pull-left z-w45">
                                            {% for parea in providerAreas %}
                                                {% set parea_md5 = parea|php('md5') %}
                                                {% set allow_binding = hookDispatcher.isAllowedBindingBetweenAreas(sarea, parea) %}
                                                {% if allow_binding %}
                                                    {% set binding = hookDispatcher.getBindingBetweenAreas(sarea, parea) %}
                                                    <input type="checkbox" id="chk_{{ sarea_md5 }}_{{ parea_md5 }}" name="chk[{{ sarea_md5 }}][{{ parea_md5 }}]" onclick="subscriberAreaToggle('{{ sarea }}', '{{ parea }}', true);" {% if binding %}checked="checked"{% endif %} /> {{ providerAreasToTitles[parea] }} <span class="sub">({{ parea }})</span><br />
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% if not connection_exists %}<span class="sub">{{ __f('%1$s module can\'t connect to %2$s module. No connections are supported', {'%1$s': currentmodule, '%2$s': subscriber.name}) }}</span>{% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}{# if subscriber.areas is not empty #}
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </div>
</fieldset>
