<h3>
    <span class="fas fa-trash-alt"></span> {% trans %}Delete registry entry{% endtrans %}
    {{ pageSetVar('title', 'Delete registry entry'|trans) }}
</h3>

<p class="alert alert-warning">
    {% trans %}Do you really want to delete this registry entry?{% endtrans %}<br />
    {% trans %}Module{% endtrans %}: <strong>{{ registry.modname }}</strong><br />
    {% trans %}Entity{% endtrans %}: <strong>{{ registry.entityname }}</strong><br />
    {% trans %}Property name{% endtrans %}: <strong>{{ registry.property }}</strong>
</p>

{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.delete) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
