{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-trash-alt"></span> {{ __('Delete registry entry') }}
    {{ pageSetVar('title', __('Delete registry entry')) }}
</h3>

<p class="alert alert-warning">
    {{ __('Do you really want to delete this registry entry?') }}<br />
    {{ __('Module') }}: <strong>{{ registry.modname }}</strong><br />
    {{ __('Entity') }}: <strong>{{ registry.entityname }}</strong><br />
    {{ __('Property name') }}: <strong>{{ registry.property }}</strong>
</p>

{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.delete) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
