{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-wrench"></span>
    {% trans %}Settings{% endtrans %}
    {{ pageSetVar('title', 'Extension settings'|trans) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.itemsperpage) }}
<div class="alert alert-danger">
    {{ form_row(form.hardreset) }}
</div>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ adminFooter() }}
{% set customScript %}
<script>
    (function($) {
        $(document).ready(function() {
            $('#{{ form.hardreset.vars.id }}').click(function(event) {
                if (!confirm('Warning! Do you really want to reset ALL displayname, url and description to defaults? This may break your existing indexed URLs, affecting SEO.')) {
                    $(this).prop('checked', false);
                }
            });
        });
    })(jQuery);
</script>
{% endset %}
{{ pageAddAsset('footer', customScript) }}
