{{ adminHeader() }}
<h3>
    <span class="fas fa-wrench"></span>
    {% trans %}Settings{% endtrans %}
    {{ pageSetVar('title', 'Extension settings'|trans) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.itemsperpage) }}
{{ form_row(form.helpUiMode) }}
<div class="alert alert-danger">
    {{ form_row(form.hardreset) }}
</div>
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
<div id="hardResetParameters" data-elementid="{{ form.hardreset.vars.id }}"></div>
{{ adminFooter() }}
{{ pageAddAsset('javascript', zasset('@ZikulaExtensionsModule:js/Zikula.Extensions.Config.js')) }}
