{{ form_row(form.docurl) }}
<div class="form-group row">
    <div class="col-xl-9 offset-xl-3">
        <strong>{{ __('OR') }}</strong>
    </div>
</div>
{{ form_row(form.doccontents) }}
<hr>
{{ form_row(form.styleurl) }}
<div class="form-group row">
    <div class="col-xl-9 offset-xl-3">
        <strong>{{ __('OR') }}</strong>
    </div>
</div>
{{ form_row(form.stylecontents) }}
