{# This file is @deprecated and will be removed in Core 4.0.0 #}
<h3>
    <span class="fas fa-paperclip"></span>
    {% trans %}Hooks{% endtrans %}
    {{ pageSetVar('title', 'Hooks'|trans) }}
</h3>

<div id="csrfToken" class="d-none" data-token="{{ csrf_token('hook-ui') }}"></div>

{% set showSubscriberPanel = isSubscriber %}
{% set showProviderPanel = isProvider and providerAreas is not empty and amountOfAvailableSubscriberAreas > 0 %}
{% if showSubscriberPanel and showProviderPanel %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a href="#subscriberTab" role="tab" data-toggle="tab" class="nav-link active">{% trans %}Subscription{% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a href="#providerTab" role="tab" data-toggle="tab" class="nav-link">{% trans %}Provision{% endtrans %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="subscriberTab">
            <br />
            <div id="hookSubscriber" class="clearfix">
                {{ include('@ZikulaHook/Hook/subscriber.html.twig') }}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="providerTab">
            <br />
            <div id="hookProvider">
                {{ include('@ZikulaHook/Hook/provider.html.twig') }}
            </div>
        </div>
    </div>
{% else %}
    {% if showSubscriberPanel %}
        <div id="hookSubscriber" class="clearfix">
            {{ include('@ZikulaHook/Hook/subscriber.html.twig') }}
        </div>
    {% endif %}
    {% if showProviderPanel %}
        <div id="hookProvider">
            {{ include('@ZikulaHook/Hook/provider.html.twig') }}
        </div>
    {% endif %}
    {% if amountOfAvailableSubscriberAreas == 0 and not isSubscriber %}
        <p class="alert alert-warning">{% trans with {'%sub%': currentmodule} %}There are no subscribers available for %sub%.{% endtrans %}</p>
    {% endif %}
{% endif %}
<div id="areaDefinitions" data-areas='[{% if isSubscriber and subscriberAreas is not empty %}{% for sarea in subscriberAreas %}{% set sarea_md5 = sarea|php('md5') %}"sarea_{{ sarea_md5 }}"{% if not loop.last %},{% endif %}{% endfor %}{% endif %}]'></div>

{{ pageAddAsset('javascript', asset('jquery-ui/jquery-ui.min.js'), constant('Zikula\\ThemeModule\\Engine\\AssetBag::WEIGHT_JQUERY_UI')) }}
{{ pageAddAsset('javascript', asset('bundles/zikulahook/js/hookui.js')) }}
{{ pageAddAsset('stylesheet', asset('bundles/zikulahook/css/hooks.css')) }}
