{% form_theme form with [
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-trash-o"></span> {{ __('Delete category') }}
            {{ pageSetVar('title', __('Delete category')) }}
        </h3>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Confirmation prompt') }}</legend>
            <p class="alert alert-warning">
                {{ __('Do you really want to delete this category?') }}<br />
                {{ __('Category') }}: <strong>{{ category.name }}</strong>
            </p>
            {% if amountOfSubCategories > 0 %}
                <p class="alert alert-info">
                    {{ __f('It contains %s direct sub-categories.', { '%s': amountOfSubCategories }) }}
                    {{ __("Please also choose what to do with this category's sub-categories:") }}
                </p>
                {{ form_row(form.subcatAction) }}
                <div data-switch="form[subcatAction]" data-switch-value="move">
                    {{ form_row(form.parent) }}
                </div>
            {% endif %}
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.delete) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{{ adminFooter() }}
