{% form_theme form with [
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-refresh"></span> {{ __('Rebuild paths') }}
            {{ pageSetVar('title', __('Rebuild paths')) }}
        </h3>

        <p class="alert alert-warning">{{ __('Are you sure you want to rebuild all the internal paths for categories?') }}&nbsp;{{ __('Warning! If you have a large number of categories then this action may time out, or may exceed the memory limit configured within your PHP installation.') }}</p>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.rebuild) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{{ adminFooter() }}
