{{ adminHeader() }}
<h3>
    <span class="fa fa-archive"></span>
    {{ __('Category registry') }}
</h3>

{% set chooseCategory = __('Choose category') %}
{% set chooseModule = __('Choose module') %}
{% set chooseEntity = __('Choose entity') %}
<form class="form-horizontal" role="form" action="{{ path('zikulacategoriesmodule_adminform_editregistry') }}" method="post" enctype="application/x-www-form-urlencoded">
    <div>
        <input type="hidden" name="csrftoken" value="{{ csrfToken }}" />
        <table class="table table-bordered table-striped">
            <colgroup>
                <col id="cModule" />
                <col id="cEntity" />
                <col id="cProperty" />
                <col id="cCategory" />
                <col id="cActions" />
            </colgroup>
            <thead>
                <tr>
                    <th id="hModule" scope="col">{{ __('Module') }}</th>
                    <th id="hEntity" scope="col">{{ __('Entity/Table') }}</th>
                    <th id="hProperty" scope="col">{{ __('Property name') }}</th>
                    <th id="hCategory" scope="col">{{ __('Category') }}</th>
                    <th id="hActions" scope="col">{{ __('Actions') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for obj in objectArray %}
                <tr>
                {% if obj.id == id %}
                    <td headers="hModule">
                        <input id="category_registry_id" name="category_registry[id]" value="{{ obj.id|e('html_attr') }}" type="hidden" />
                        <select name="category_registry[modname]" id="category_registry__id__" onchange="this.form.submit();">
                            {% for value, text in moduleOptions %}
                                <option value="{{ value|e('html_attr') }}"{{ value == obj.modname ? ' selected="selected"' : '' }}>{{ text }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td headers="hEntity">
                        {% if obj.modname %}{{ zikulacategoriesmodule_moduleTableSelector(modname=obj.modname, name='category_registry[entityname]', selectedValue=obj.entityname, defaultValue='', defaultText=chooseEntity) }}
                        {% else %}----------
                        {% endif %}
                    </td>
                    <td headers="hProperty">
                        <input id="category_registry_property" name="category_registry[property]" value="{{ obj.property|e('html_attr') }}" type="text" class="form-control" size="20" maxlength="32" />
                    </td>
                    <td headers="hCategory">
                        {{ zikulacategoriesmodule_categorySelector(category=root_id, name='category_registry[category_id]', includeLeaf=false, selectedValue=obj.category_id) }}
                    </td>
                    <td headers="hActions">&nbsp;</td>
                {% else %}
                    {#modgetinfo assign='dModname' info='displayname' modname=$obj.modname default=$obj.modname#}
                    <td headers="hModule">{# dModname #}{{ obj.modname }}</td>
                    <td headers="hEntity">{% if obj.entityname|default %}{{ obj.entityname }}{% endif %}</td>
                    <td headers="hProperty">{{ obj.property }}</td>
                    <td headers="hCategory">{{ categoryPath(id=obj.category_id, html=true) }}</td>
                    <td headers="hActions" class="actions">
                        <a class="fa fa-pencil tooltips" href="{{ path('zikulacategoriesmodule_admin_editregistry', { id: obj.id }) }}" title="{{ __('Edit') }}" ></a>
                        <a class="fa fa-trash-o tooltips" href="{{ path('zikulacategoriesmodule_admin_deleteregistry', { id: obj.id }) }}" title="{{ __('Delete') }}"></a>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}

            {% if id == 0 %}
                <tr>
                    <td headers="hModule">
                        <span class="required"></span>
                        <select name="category_registry[modname]" id="category_registry__id__" onchange="this.form.submit();">
                            <option value="0"{% if newobj.modname is empty %} selected="selected"{% endif %}>{{ chooseModule }}</option>
                            {% for value, text in moduleOptions %}
                                <option value="{{ value|e('html_attr') }}"{{ value == newobj.modname|default ? ' selected="selected"' : '' }}>{{ text }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td headers="hEntity">
                        {% if newobj.modname is not empty %}
                        <span class="required"></span>{{ zikulacategoriesmodule_moduleTableSelector(modname=newobj.modname, name='category_registry[entityname]', selectedValue=newobj.entityname, defaultValue='', defaultText=chooseEntity) }}
                        {% else %}----------
                        {% endif %}
                    </td>
                    <td headers="hProperty">
                        <span class="required"></span><input id="category_registry_property" name="category_registry[property]" value="{{ newobj.property|default('Main')|e('html_attr') }}" type="text" class="form-control" size="20" maxlength="32" />
                    </td>
                    <td headers="hCategory">
                        <span class="required"></span>{{ zikulacategoriesmodule_categorySelector(category=root_id, name='category_registry[category_id]', includeLeaf=false, selectedValue=newobj.category_id, defaultText=chooseCategory) }}
                    </td>
                    <td headers="hActions">&nbsp;</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button id="category_submit" name="category_submit" value="1" class="btn btn-success" title="{{ __('Save') }}"><i class="fa fa-check"></i> {{ __('Save') }}</button>
                <a class="btn btn-default" href="{{ path('zikulacategoriesmodule_admin_editregistry') }}" title="{{ __('Cancel') }}"><i class="fa fa-times"></i> {{ __('Cancel') }}</a>
            </div>
        </div>
    </div>
</form>
{{ adminFooter() }}
