{{ adminHeader() }}
<h3>
    <span class="fa fa-trash-o"></span>
    {{ __('Delete registry entry') }}
</h3>

<p class="alert alert-warning">
    {{ __('Do you really want to delete this registry entry?') }}<br />
    {{ __('Module') }}: <strong>{{ data.modname }}</strong><br />
    {{ __('Entity') }}: <strong>{{ data.entityname }}</strong><br />
    {{ __('Property name') }}: <strong>{{ data.property }}</strong>
</p>

<form class="form-horizontal" role="form" action="{{ path('zikulacategoriesmodule_adminform_editregistry', { mode: 'delete' }) }}" method="post" enctype="application/x-www-form-urlencoded">
    <div>
        <input type="hidden" name="csrftoken" value="{{ csrfToken }}" />
        <input type="hidden" name="id" value="{{ data.id }}" />
        <input type="hidden" name="mode" value="delete" />
        <fieldset>
            <legend>{{ __('Confirmation prompt') }}</legend>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-danger" title="{{ __('Delete') }}"><i class="fa fa-trash-o"></i> {{ __('Delete') }}</button>
                    <a class="btn btn-default" href="{{ path('zikulacategoriesmodule_admin_editregistry') }}" title="{{ __('Cancel') }}"><i class="fa fa-times"></i> {{ __('Cancel') }}</a>
                </div>
            </div>
        </fieldset>
    </div>
</form>
{{ adminFooter() }}
