{{ pageAddAsset('javascript', zasset('@ZikulaGroupsModule:js/groups.js')) }}
{{ adminHeader() }}
<h3>
    <span class="fa fa-users"></span>
    {{ __('Group membership') }} ({{ group.name }})
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cUserId" />
        <col id="cUserName" />
        <col id="cEmail" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hUserId" scope="col">{{ __('User ID') }}</th>
            <th id="hUserName" scope="col">{{ __('User name') }}</th>
            <th id="hEmail" scope="col">{{ __('Email') }}</th>
            <th id="hActions" scope="col" class="text-right">{{ __('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for groupMember in groupMembers %}
        <tr>
            <td headers="hUserId">{{ groupMember.uid }}</td>
            <td headers="hUserName">{{ groupMember.uname }}{% if groupMember.name != '' %} ({{ groupMember.name }}){% endif %}</td>
            <td headers="hEmail">{{ groupMember.email }}</td>
            <td headers="hActions" class="text-right">
            {% for option in groupMember.options if option is not empty %}
                <a href="{{ option.url|e('html_attr') }}" id="user-{{ option.uid }}" class="group-membership-removeuser" rel="{{ group.gid }}:{{ option.uid }}" title="{{ option.title|e('html_attr') }}"><span class="fa fa-{{ option.icon }}"></span></a>
            {% endfor %}
            </td>
        </tr>
        {% else %}
            <tr class="table table-borderedempty"><td colspan="4">{{ __('No items found.') }}</td></tr>
        {% endfor %}
    </tbody>
</table>
{{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, posvar: 'startnum', route: 'zikulagroupsmodule_admin_groupmembership'}) }}

{% if uids %}
    <h3>{{ __('Add users to group') }}</h3>
    {{ pagerabc({ route: 'zikulagroupsmodule_admin_groupmembership', posvar: 'letter', forwardvars: 'module,type,func,gid', printempty: true }) }}
    <br />

    <p class="alert alert-info">{{ __("Notice: Please select one or more users to add to the group. To select multiple users, use 'Shift-Click' or 'Control-Click'.") }}</p>

    <form class="form-horizontal" role="form" action="{{ path('zikulagroupsmodule_admin_adduser') }}" method="post" enctype="application/x-www-form-urlencoded">
        <div>
            <input type="hidden" name="csrftoken" value="{{ csrfToken }}" />
            <input type="hidden" name="gid" value="{{ group.gid }}" />
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="groups_uid">{{ __('Users to add') }}</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="groups_uid" name="uid[]" multiple="multiple" size="10" placeholder="{{ __('Select...') }}">
                        {% for userId, userName in uids %}
                            <option value="{{ userId }}">{{ userName }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" name="addusers" class="btn btn-success" value="{{ __('Add') }}" />
                </div>
            </div>
        </div>
    </form>
{% endif %}
{{ adminFooter() }}
