{% set templateTitle = __('Membership application') %}
{% form_theme form with [
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-plus"></span>
            {{ templateTitle }}
        </h3>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset>
            <legend>{{ templateTitle }}</legend>

            {{ form_row(form.gid) }}
            {{ form_row(form.userid) }}
            {{ form_row(form.theAction) }}

            {{ form_row(form.userName) }}
            {{ form_row(form.application) }}
            {% if theAction == 'deny' %}
                {{ form_row(form.reason) }}
            {% endif %}
            {{ form_row(form.sendtag) }}
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{{ adminFooter() }}
