{{ pageAddAsset('javascript', zasset('@ZikulaGroupsModule:js/groups.js')) }}
{{ adminHeader() }}
<h3>
    <span class="fa fa-list"></span>
    {{ __('Groups list') }}
    {{ pageSetVar('title', __('Groups list')) }}
</h3>
{% if hasPermission('ZikulaGroupsModule::', '::', 'ACCESS_ADD') %}
    <br />
    <a href="{{ path('zikulagroupsmodule_admin_newgroup') }}" title="{{ __('Create new group') }}"><span class="fa fa-plus-circle"></span> {{ __('Create new group') }}</a>
    <br /><br />
{% endif %}

<table id="grouplist" class="table table-bordered table-striped">
    <colgroup>
        <col id="cId" />
        <col id="cName" />
        <col id="cType" />
        <col id="cDescription" />
        <col id="cState" />
        <col id="cMembers" />
        <col id="cMaximum" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hId" scope="col">{{ __('Internal ID') }}</th>
            <th id="hName" scope="col">{{ __('Name') }}</th>
            <th id="hType" scope="col">{{ __('Type') }}</th>
            <th id="hDescription" scope="col">{{ __('Description') }}</th>
            <th id="hState" scope="col">{{ __('State') }}</th>
            <th id="hMembers" scope="col" class="text-center">{{ __('Members') }}</th>
            <th id="hMaximum" scope="col" class="text-center">{{ __('Maximum membership') }}</th>
            <th id="hActions" scope="col">{{ __('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr id="group_{{ group.gid }}">
            <td headers="hId" id="groupgid_{{ group.gid }}" class="z-itemcell z-w05">
                <input type="hidden" id="gtypeid_{{ group.gid }}" value="{{ group.gtype }}" />
                <input type="hidden" id="stateid_{{ group.gid }}" value="{{ group.state }}" />
                <input type="hidden" id="modifystatus_{{ group.gid }}" value="0" />
                {{ group.gid }}
            </td>
            <td headers="hName" id="groupname_{{ group.gid }}">
                {{ group.name }}
                {% if group.gid == defaultGroup %}
                *
                {% elseif group.gid == primaryAdminGroup %}
                **
                {% endif %}
            </td>
            <td headers="hType" id="groupgtype_{{ group.gid }}" class="zikulagroupsmodule-edit ">
                <span>{{ group.gtypelbl }}</span>
            </td>
            <td headers="hDescription" id="groupdescription_{{ group.gid }}">
                {{ group.description }}&nbsp;
            </td>
            <td headers="hState" id="groupstate_{{ group.gid }}">
                {{ group.statelbl }}
            </td>
            <td headers="hMembers" id="groupnbuser_{{ group.gid }}" class="text-center">
                {{ group.nbuser }}
            </td>
            <td headers="hMaximum" id="groupnbumax_{{ group.gid }}" class="text-center">
                {{ group.nbumax }}
            </td>
            {% set options = group.options %}
            {% set strEditGroup = __f('Edit: %s', { '%s': group.name }) %}
            {% set strDeleteGroup = __f('Delete: %s', { '%s': group.name }) %}
            <td headers="hActions" id="groupaction_{{ group.gid }}" class="actions">
                <a id="modify_{{ group.gid }}" href="{{ group.editurl|e('html_attr') }}" title="{{ strEditGroup }}" class="tooltips fa fa-pencil"></a>
                <a href="{{ group.membersurl }}" title="{{ __('Group membership') }}" class="fa fa-users tooltips"></a>
                {% if group.gid not in [defaultGroup, primaryAdminGroup] %}
                <a href="{{ path('zikulagroupsmodule_admin_delete', { gid: group.gid }) }}" data-gid="{{ group.gid }}" title="{{ strDeleteGroup }}" data-confirm="{{ __('Do you really want to delete this group?') }}" class="fa fa-trash-o con-fixed-width tooltips"></a>
                {% else %}
                <span class="fa-fw"></span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p class="italic">* {{ __('Default user group. Cannot be deleted.') }}</p>
<p class="italic">** {{ __('Primary administrators group. Cannot be deleted.') }}</p>

{% if userItems %}
<h3>{{ __('Pending applications') }}</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cUserId" />
        <col id="cUserName" />
        <col id="cGroupName" />
        <col id="cComment" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hUserId" scope="col">{{ __('User ID') }}</th>
            <th id="hUserName" scope="col">{{ __('User name') }}</th>
            <th id="hGroupName" scope="col">{{ __('Group name to join') }}</th>
            <th id="hComment" scope="col">{{ __('Comment') }}</th>
            <th id="hActions" scope="col">{{ __('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for userItem in userItems %}
        <tr>
            <td headers="hUserId">{{ userItem.userid }}</td>
            <td headers="hUserName">{{ userItem.username|zikulagroupsmodule_profileLink }}</td>
            <td headers="hGroupName">{{ userItem.gname }}</td>
            <td headers="hComment">{{ userItem.application }}</td>
            <td headers="hActions">
                <a href="{{ path('zikulagroupsmodule_admin_userpending', { gid: userItem.appgid, userid: userItem.userid, action: 'accept' }) }}" title="{{ __f('Accept %username', { '%username': userItem.username }) }}" class="fa fa-user-plus tooltips"></a>&nbsp;
                <a href="{{ path('zikulagroupsmodule_admin_userpending', { gid: userItem.appgid, userid: userItem.userid, action: 'deny' }) }}" title="{{ __f('Deny %username', { '%username': userItem.username }) }}" class="fa fa-user-times tooltips"></a>
            </td>
        </tr>
        {% else %}
        <tr><td colspan="5">{{ __('No items found.') }}</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, posvar: 'startnum', route: 'zikulagroupsmodule_admin_view'}) }}
{{ adminFooter() }}
