<nav class="text-center">
    <ul class="pagination">
        {% if pagerPluginArray.currentPage > 1 %}
            <li class="page-item"><a href="{{ pagerPluginArray.firstUrl|raw }}" title="{{ __('First page', 'zikula') }}" class="page-link">&laquo;</a></li>
            <li class="page-item"><a href="{{ pagerPluginArray.prevUrl|raw }}" title="{{ __('Previous page', 'zikula') }}" class="page-link">&lsaquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a href="#" title="{{ __('First page', 'zikula') }}" class="page-link" aria-disabled="true">&laquo;</a></li>
            <li class="page-item disabled"><a href="#" title="{{ __('Previous page', 'zikula') }}" class="page-link" aria-disabled="true">&lsaquo;</a></li>
        {% endif %}

        {% for currentItem, currentPage in pagerPluginArray.pages %}
            {% if currentPage.isCurrentPage %}
            <li class="page-item active"><a href="#" class="page-link" aria-disabled="true">{{ currentItem }}</a></li>
            {% else %}
            <li class="page-item"><a href="{{ currentPage.url|raw }}" class="page-link">{{ currentItem }}</a></li>
            {% endif %}
        {% endfor %}

        {% if pagerPluginArray.currentPage < pagerPluginArray.countPages %}
            <li class="page-item"><a href="{{ pagerPluginArray.nextUrl|raw }}" title="{{ __('Next page', 'zikula') }}" class="page-link">&rsaquo;</a></li>
            <li class="page-item"><a href="{{ pagerPluginArray.lastUrl|raw }}" title="{{ __('Last page', 'zikula') }}" class="page-link">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a href="#" title="{{ __('Next page', 'zikula') }}" class="page-link" aria-disabled="true">&rsaquo;</a></li>
            <li class="page-item disabled"><a href="#" title="{{ __('Last page', 'zikula') }}" class="page-link" aria-disabled="true">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
