{% set separator = '–' %}
<div class="{{ pagerPluginArray.class }}">
    {% if pagerPluginArray.currentPage > 1 %}
        <a href="{{ pagerPluginArray.firstUrl }}" title="{{ __('First page', 'zikula') }}">{{ __('First page', 'zikula') }}</a> {{ separator }}
        <a href="{{ pagerPluginArray.prevUrl }}" title="{{ __('Previous page', 'zikula') }}">{{ __('Previous page', 'zikula') }}</a> {{ separator }}
    {% endif %}

        {% for currentItem, currentPage in pagerPluginArray.pages %}
            {% if currentPage.isCurrentPage %}
                <span>{{ currentItem }}</span>
            {% else %}
                <a href="{{ currentPage.url }}">{{ currentItem }}</a>
            {% endif %}
            
            {% if pagerPluginArray.currentPage < pagerPluginArray.countPages %}
                {{ separator }}
            {% endif %}
        {% endfor %}

    {% if pagerPluginArray.currentPage < pagerPluginArray.countPages %}
        <a href="{{ pagerPluginArray.nextUrl }}" title="{{ __('Next page', 'zikula') }}">{{ __('Next page', 'zikula') }}</a>

         {{ separator }} 
        <a href="{{ pagerPluginArray.lastUrl }}" title="{{ __('Last page', 'zikula') }}">{{ __('Last page', 'zikula') }}</a>
    {% endif %}
</div>
