{% if pagerPluginArray.includeStylesheet %}
    {{ pageAddAsset('stylesheet', zasset('@CoreBundle:css/pagercssadvanced.css')) }}
{% endif %}
{% set separator=' | ' %}

<div class="{{ pagerPluginArray.class }}">
    {% if pagerPluginArray.currentPage > 1 %}
        <a href="{{ pagerPluginArray.prevUrl }}" class="skip">
            <i class="fa fa-chevron-left fa-lg" title="{{ __('Previous page') }}"></i>
        </a>
    {% else %}
        <span class="skip">
            <i class="fa fa-chevron-left text-muted fa-lg" title="{{ __('No previous pages') }}"></i>
        </span>
    {% endif %}
    <span>{{ separator }}</span>

    {% for currentItem,currentPage in pagerPluginArray.pages %}
        {% if currentPage.isVisible == 0 and hiddenPageBoxOpened == 0 %}
            <span class="select">
                <span class="option">
                    <span class="items">
            {% set hiddenPageBoxOpened=1 %}
            {% set hiddenPageBoxClosed=0 %}
        {% endif %}

        {% if currentPage.isVisible == 1 and hiddenPageBoxOpened == 1 and hiddenPageBoxClosed == 0 %}
                    </span>
                </span>
            </span>
            {% set hiddenPageBoxClosed=1 %}
            {% set hiddenPageBoxOpened=0 %}
        {% endif %}

        {% if currentPage.isCurrentPage %}
            <strong>{{ currentPage.pagenr }}</strong>
        {% else %}
            <a href="{{ currentPage.url }}">{{ currentPage.pagenr }}</a>
        {% endif %}

        <span>{{ separator }}</span>
    {% endfor %}

    {% if pagerPluginArray.currentPage < pagerPluginArray.countPages %}
        <a href="{{ pagerPluginArray.nextUrl }}" class="skip">
            <i class="fa fa-chevron-right fa-lg" title="{{ __('Next page') }}"></i>
        </a>
    {% else %}
        <span class="skip">
            <i class="fa fa-chevron-right text-muted fa-lg" title="{{ __('No further pages') }}"></i>
        </span>
    {% endif %}
</div>
