{% set separator=' ' %}
<div class="{{ pagerPluginArray.class }}">
    {% if pagerPluginArray.currentPage > 1 %}
        <a href="{{ pagerPluginArray.firstUrl }}" title="{% trans %}First page', 'zikula{% endtrans %}">
            <i class="fa fa-backward fa-lg" title="{% trans %}First page', 'zikula{% endtrans %}"></i>
        </a>
        {{ separator }}
        <a href="{{ pagerPluginArray.prevUrl }}" title="{% trans %}Previous page', 'zikula{% endtrans %}">
            <i class="fa fa-step-backward fa-lg" title="{% trans %}Previous page', 'zikula{% endtrans %}"></i>
        </a> {{ separator }}
    {% endif %}

    <span>
    {{ __f('Page %1$s / %2$s (%3$s - %4$s of %5$s total)', [pagerPluginArray.currentPage, pagerPluginArray.countPages, pagerPluginArray.itemStart, pagerPluginArray.itemEnd, pagerPluginArray.total], 'zikula') }}
    </span>

    {% if pagerPluginArray.currentPage < pagerPluginArray.countPages %}
        {{ separator }}
        <a href="{{ pagerPluginArray.nextUrl }}" title="{% trans %}Next page', 'zikula{% endtrans %}">
            <i class="fa fa-step-forward fa-lg" title="{% trans %}Next page', 'zikula{% endtrans %}"></i>
        </a>
        {{ separator }}
        <a href="{{ pagerPluginArray.lastUrl }}" title="{% trans %}Last page', 'zikula{% endtrans %}">
            <i class="fa fa-forward fa-lg" title="{% trans %}Last page', 'zikula{% endtrans %}"></i>
        </a>
    {% endif %}
</div>
