{% set separator=' | ' %}
<div class="{{ pagerPluginArray.class }}">
    {% if pagerPluginArray.currentPage > 1 %}
        <a href="{{ pagerPluginArray.firstUrl }}" title="{% trans %}First page', 'zikula{% endtrans %}">&lt;&lt;</a>
        <span>{{ separator }}</span>

        <a href="{{ pagerPluginArray.prevUrl }}" title="{% trans %}Previous page', 'zikula{% endtrans %}">&lt;</a>
        <span>{{ separator }}</span>
    {% endif %}

    {% if pagerPluginArray.maxPages > 0 %}
        {% set hiddenPageBoxOpened=0 %}
        {% set hiddenPageBoxClosed=0 %}
    {% endif %}

    {% for currentItem, currentPage in pagerPluginArray.pages %}
        {% if currentPage.isVisible == 0 and hiddenPageBoxOpened == 0 %}
            <a href="#" class="pager-link" data-pagenr="{{ currentPage.pagenr }}')">
                <span id="showlink{{ currentPage.pagenr }}one">... +</span>
                <span id="showlink{{ currentPage.pagenr }}two" class="hidden">... -</span>
            </a>
            <span id="showpages{{ currentPage.pagenr }}" class="hidden">
            {% set hiddenPageBoxOpened=1 %}
            {% set hiddenPageBoxClosed=0 %}
        {% endif %}

        {% if currentPage.isVisible == 1 and hiddenPageBoxOpened == 1 and hiddenPageBoxClosed == 0 %}
            </span>
            {% set hiddenPageBoxClosed=1 %}
            {% set hiddenPageBoxOpened=0 %}
        {% endif %}

        {% if currentPage.isCurrentPage %}
            <strong>{{ currentPage.pagenr }}</strong>
        {% else %}
            <a href="{{ currentPage.url }}">{{ currentPage.pagenr }}</a>
        {% endif %}

        <span>{{ separator }}</span>
    {% endfor %}

    {% if pagerPluginArray.currentPage < pagerPluginArray.countPages %}
        <a href="{{ pagerPluginArray.nextUrl }}" title="{% trans %}Next page', 'zikula{% endtrans %}">&gt;</a>
        <span>{{ separator }}</span>

        <a href="{{ pagerPluginArray.lastUrl }}" title="{% trans %}Last page', 'zikula{% endtrans %}">&gt;&gt;</a>
    {% endif %}
</div>
{% set customScript %}
<script>
    (function($) {
        var pagerChangeClass = function(id, class1, class2) {
            var myobj = $('#' + id);
            if (myobj.hasClass(class1)) {
                myobj.removeClass(class1);
                myobj.addClass(class2);
            } else {
                myobj.removeClass(class2);
                myobj.addClass(class1);
            }
        };
        $(document).ready(function() {
            $('a.pager-link').on('click keypress', function(event) {
                var linkId = $(this).data('pagenr');
                pagerChangeClass('showlink' + linkId + 'one', 'hidden', 'show');
                pagerChangeClass('showlink' + linkId + 'two', 'hidden', 'show');
                pagerChangeClass('showpages' + linkId, 'hidden', 'show');
            });
        });
    })(jQuery);
</script>
{% endset %}
{{ pageAddAsset('footer', customScript) }}
