<h3>{{ __f('Welcome to %1$s (%2$s)!', {"%1$s": sitename, "%2$s": siteurl}) }}</h3>

<p>{{ __f('Hello! This e-mail address (\'%1$s\') has been used to register an account on the \'%2$s\' site.', {"%1$s": email, "%2$s": sitename}) }}</p>
<p>{{ __('Your account details are as follows:') }}</p>
<p>{{ __f('User name: %sub%', {"%sub%": uname}) }}</p>
<p>{{ __f('Password: %sub%', {"%sub%": pass}) }}</p>
