<p>{{ __('Hello!') }}</p>

<p>{{ __f('The user account \'%1$s\' at %2$s has this e-mail address associated with it.', {"%1$s": uname, "%2$s": pagevars.title}) }}</p>

{% if requestedByAdmin %}
<p>{{ __f('The administrator at %sub% requested that you receive a confirmation code that will allow you to reset your password.', {"%sub%": pagevars.title}) }}</p>
{% else %}
<p>{{ __f('Someone with the IP address %sub% has just requested a confirmation code to allow the password for your account to be reset.', {"%sub%": app.request.server.get('REMOTE_ADDR')}) }}</p>
{% endif %}

<p>{{ __f('The confirmation code is: %sub%', {"%sub%": code}) }}</p>

<p>{{ __('With this confirmation code, you can now create a new password by clicking on this link:') }} <a href="{{ path('zikulausersmodule_user_lostpasswordcode', {code:code}) }}">{{ __('Reset My Password') }}</a>.<br>
{{ __f('(If you cannot click on the link, you can copy this URL and paste it into your browser: %sub% )', {"%sub%": path('zikulausersmodule_user_lostpasswordcode', {code:code})}) }}</p>

<p>{% if not requestedByAdmin %}{{ __('If the request was not made by you then you don\'t need to take any action.') }} {% endif %}
    {{ __('The password won\'t be changed unless the confirmation code is used, and you are the only recipient of this message.') }}
    {% if not requestedByAdmin %} {{ __('You can just delete the message and log-in with your existing password next time you visit the site.') }}{% endif %}
</p>
