<h3>{{ __f('A message from %s...', {"%s": pagevars.title}) }}</h3>

<p>{{ __f('Recently, this e-mail address (\'%email\') was used to request an account on \'%site\' (%url).', {"%email": user.email, "%site": pagevars.title, "%url": url('home')}) }}
{{ __('The information that was registered is as follows:') }}</p>

<p>{{ __('User name') }}: {{ user.uname }}</p>

<p>{{ __('Thank you for your application for a new account. At this time we are unable to approve your application.') }}</p>

{% if reason is not empty %}<p>{{ reason }}</p>{% endif %}
