{% set verificationurl = path('zikulausersmodule_user_verifyregistration', {"uname":"reginfo.uname","verifycode":"verifycode","urlencode":"urlencode","absolute":"true"}) %}
<h3>{{ __f('Welcome to %1s!', {"%sub%": sitename}) }}</h3>

<p>{{ __f('Hello! This e-mail address (\'%email\') has been used to register an account on \'%site\' (%url).', {"%email": reginfo.email, "%site": sitename, "%url": siteurl}) }}</p>
<p>{{ __('If you did not request a new user account at this web site, please either contact our site administrator, or simply disregard this message.') }}</p>

<p>{{ __('If you did request a new user account, then your request is waiting for you to verify your e-mail address with us.') }}
{% if not reginfo.isapproved %}{{ __('Your request is also waiting for administrator approval.') }}
{% if approvalorder == 'Zikula\UsersModule\Constant(:APPROVAL_AFTER'|const) %}{{ __('We will not be able to approve your request until after you have completed this verification step.') }}{% endif %}
{{ __('Once both this verification step is complete and an administrator has approved your request, you will be able to log in with your user name.') }}{% endif %}</p>

<p>{{ __('Please click on the following link to complete the e-mail address check: ') }}<a href="{{ verificationurl }}">{{ __('Verify my e-mail address') }}</a></p>

<p>{{ __('If you are not able to click on the above link, you can copy the following URL into your browser:') }} {{ verificationurl }}</p>

<p>{{ __('Your verification code is:') }} {{ verifycode }}</p>

<p>
    {% if not reginfo.isapproved %}
        {{ __('Once verified and your account has been approved, then you will be able to log in.') }}
    {% elseif empty(reginfo.pass) %}
        {{ __('Once verified, you will be able to choose a password and then log in.') }}
    {% else %}
        {{ __('Once verified, you will be able to log in.') }}
    {% endif %}
    {{ __('Your account details are as follows:') }}
</p>

<p>{{ __f('User name: %sub%', {"%sub%": reginfo.uname}) }}<br />
{% if createdpassword is not empty %}
    {{ __f('Password: %sub%', {"%sub%": createdpassword}) }}
{% elseif not empty(reginfo.passreminder) %}
    {{ __f('Password reminder: %sub%', {"%sub%": reginfo.passreminder}) }}
{% endif %}
</p>

{% if createdpassword is not empty %}<p>{{ __('(This is the only time you will receive your password. Please keep it in a safe place.)') }}</p>{% endif %}

{% if not reginfo.isapproved %}
    <p>{{ __('Remember: both this verification step and approval from an administrator must be completed before you can log in.') }} {{ __('You will receive an additional e-mail message once an administrator has reviewed your request.') }}</p>
{% endif %}
