<h3>{{ __f('Welcome to %1s!', {"%sub%": sitename}) }}</h3>

<p>
    {{ __('Hello!') }}
    {{ __f('This e-mail address (\'%email\') has been used to register an account on \'%site\' (%url).', {"%email": reginfo.email, "%site": sitename, "%url": url('home')}) }}
    {{ __('The information that was registered is as follows:') }}
</p>

<p>{{ __('User name') }}: {{ reginfo.uname }}<br />
{% if createdpassword is not empty %}
    {{ __('Password') }}: {{ createdpassword }}
{% elseif reginfo.passreminder|default %}
    {{ __('Password reminder') }}: {{ reginfo.passreminder }}
{% endif %}
</p>

{% if createdpassword is not empty %}<p>{{ __('(This is the only time you will receive your password. Please keep it in a safe place.)') }}</p>{% endif %}

{% if not reginfo.isapproved %}
    <p>{{ __('Thank you for your application for a new account. Your application has been forwarded to the site administrator for review. Please expect a message once the review process is complete.') }}</p>
{% elseif not admincreated %}
    <p>{{ __('Your account application has been approved. Thank you for your patience during the new account application review process.') }}</p>
{% elseif admincreated %}
    <p>{{ __('The web site administrator has created this new account for you.') }}</p>
{% endif %}

{% if reginfo.isapproved and reginfo.pass != PWD_NO_USERS_AUTHENTICATION %}
    <p>{{ __('You may now log into the web site with your user name and password.') }}</p>
{% elseif reginfo.isapproved and reginfo.pass == PWD_NO_USERS_AUTHENTICATION %}
    <p>{{ __('You may now log into the web site.') }}</p>
{% endif %}
