{{ moduleHeader('user', __('Groups'), '', true, true, false, true) }}
<h3>
    <span class="fa fa-list"></span>
    {{ __('Groups list') }}
</h3>
<table id="grouplist" class="table table-bordered table-striped">
    <colgroup>
        <col id="cName" />
        <col id="cDescription" />
        <col id="cType" />
        <col id="cState" />
        <col id="cMembers" />
        <col id="cMaximum" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hName" scope="col">{{ __('Name') }}</th>
            <th id="hDescription" scope="col">{{ __('Description') }}</th>
            <th id="hType" scope="col">{{ __('Type') }}</th>
            <th id="hState" scope="col">{{ __('State') }}</th>
            <th id="hMembers" scope="col" class="text-center">{{ __('Members') }}</th>
            <th id="hMaximum" scope="col" class="text-center">{{ __('Maximum membership') }}</th>
            <th id="hActions" scope="col">{{ __('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for group in groups if hasPermission('ZikulaGroupsModule::', group.gid ~ '::', 'ACCESS_OVERVIEW') %}
        <tr id="group_{{ group.gid }}">
            <td headers="hName" id="groupname_{{ group.gid }}">
                {{ group.name }}
            </td>
            <td headers="hDescription" id="groupdescription_{{ group.gid }}">
                {{ group.description }}&nbsp;
            </td>
            <td headers="hType" id="groupgtype_{{ group.gid }}" class="zikulagroupsmodule-edit ">
                <span>{{ groupTypes[group.gtype] }}</span>
            </td>
            <td headers="hState" id="groupstate_{{ group.gid }}">
                {{ states[group.state] }}
            </td>
            <td headers="hMembers" id="groupnbuser_{{ group.gid }}" class="text-center">
                {{ group.users.count }}
            </td>
            <td headers="hMaximum" id="groupnbumax_{{ group.gid }}" class="text-center">
                {{ (group.nbumax == false or group.nbumax == 0) ? __('Unlimited') : group.nbumax }}
            </td>
            {% set rowActions = knp_menu_get('ZikulaGroupsModule:ActionsMenu:userMenu', [], {group: group}) %}
            <td headers="hActions" id="groupaction_{{ group.gid }}" class="actions text-right">{{ knp_menu_render(rowActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}</td>
        </tr>
    {% else %}
        <p class="alert alert-warning">{{ __('There are currently no groups that can be joined.') }}</p>
    {% endfor %}
    </tbody>
</table>

{{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, posvar: 'startnum', route: 'zikulagroupsmodule_group_list'}) }}
{{ moduleFooter() }}
