{{ pageAddAsset('javascript', zasset('@ZikulaUsersModule:js/Zikula.Users.Admin.View.js')) }}
{{ adminHeader() }}
<h3>
    <span class="fa fa-users"></span>
    {{ __('Group membership') }} ({{ group.name }})
    {{ pageSetVar('title', __('Group membership')) }}
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cUserId" />
        <col id="cUserName" />
        <col id="cEmail" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hUserId" scope="col">{{ __('User ID') }}</th>
            <th id="hUserName" scope="col">{{ __('User name') }}</th>
            <th id="hEmail" scope="col">{{ __('Email') }}</th>
            <th id="hActions" scope="col" class="text-right">{{ __('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for user in group.users %}
        <tr>
            <td headers="hUserId">{{ user.uid }}</td>
            <td headers="hUserName">{{ user.uname }}</td>
            <td headers="hEmail">{{ user.email }}</td>
            <td headers="hActions" class="text-right">
                {% if user.uid != currentUser.uid %}
                    <a href="{{ path('zikulagroupsmodule_membership_remove', {gid:group.gid, uid:user.uid}) }}" id="user-{{ user.uid }}" class="group-membership-removeuser" rel="{{ group.gid }}:{{ user.uid }}" title="{{ __('Remove user from group') }}"><span class="fa fa-user-times"></span></a>
                {% endif %}
            </td>
        </tr>
        {% else %}
            <tr class="table table-borderedempty"><td colspan="4">{{ __('No users found.') }}</td></tr>
        {% endfor %}
    </tbody>
</table>
{#{{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, posvar: 'startNum', route: 'zikulagroupsmodule_membership_adminlist'}) }}#}

<h3><i class="fa fa-user-plus"></i> {{ __('Add user to this group') }}</h3>
<h4>{{ __('Seach by username') }}</h4>
<div id="user-search-container" class="form hide">
    <div class="input-group">
        <input placeholder="{{ __('Search') }}" id="user-search" class="form-control" size="25" maxlength="25" type="text" value="" data-route="zikulagroupsmodule_membership_getusersbyfragmentastable" data-route-params='{"gid":"{{ group.gid }}", "csrfToken":"{{ csrfToken }}"}' />
        <span class="input-group-addon"><i class="fa fa-times pointer" id="user-search-discard"></i></span>
    </div>
</div>

<div id="user-search-min-char" class="hide">{{ __('Please enter at least 3 characters') }}</div>

{# This table is for ajax search results and is hidden until needed and populated then with the results. #}
<table id="user-search-list" class="table table-bordered table-striped hide">
    <colgroup>
        <col id="cUserId" />
        <col id="cUserName" />
        <col id="cEmail" />
        <col id="cActions" />
    </colgroup>
    <thead>
    <tr>
        <th id="hUserId" scope="col">{{ __('User ID') }}</th>
        <th id="hUserName" scope="col">{{ __('User name') }}</th>
        <th id="hEmail" scope="col">{{ __('Email') }}</th>
        <th id="hActions" scope="col" class="text-right">{{ __('Actions') }}</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{{ adminFooter() }}
