{% if collector.activeKeys is not empty %}
{% if collector.activeKeys|length > 1 %}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle{% if 'nav' in position %} navbar-btn{% endif %}" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fas fa-key"></i> {% trans %}Login with ...{% endtrans %}
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
        {% for method in collector.activeKeys %}
            <a class="dropdown-item" href="{{ path(path, {'authenticationMethod': method}) }}">{{ collector.get(method).DisplayName }}</a>
        {% endfor %}
        {% if getModVar('ZikulaUsersModule', constant('Zikula\\UsersModule\\Constant::MODVAR_REGISTRATION_ENABLED'), constant('Zikula\\UsersModule\\Constant::DEFAULT_REGISTRATION_ENABLED')) %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('zikulausersmodule_registration_register') }}">{% trans %}Create a new account{% endtrans %}</a>
        {% endif %}
    </div>
</div>
{% else %}
<div class="btn-group">
    <a class="btn btn-primary" href="{{ path(path, {'authenticationMethod': collector.activeKeys|first}) }}">
        <i class="fas fa-key"></i> {% trans %}Login with{% endtrans %} {{ collector.get(collector.activeKeys|first).DisplayName }}
    </a>
    {% if getModVar('ZikulaUsersModule', constant('Zikula\\UsersModule\\Constant::MODVAR_REGISTRATION_ENABLED'), constant('Zikula\\UsersModule\\Constant::DEFAULT_REGISTRATION_ENABLED')) %}
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">{% trans %}Toggle Dropdown{% endtrans %}</span>
        </button>
        <div class="dropdown-menu">
            <a href="{{ path('zikulausersmodule_registration_register') }}">{% trans %}Create a new account{% endtrans %}</a>
        </div>
    {% endif %}
</div>
{% endif %}
{% endif %}
