<h3>
    <span class="fas fa-wrench"></span>
    {% trans %}Settings{% endtrans %}
    {{ pageSetVar('title', 'Search settings'|trans) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{% trans %}General settings{% endtrans %}</legend>
    {{ form_row(form.itemsperpage) }}
    {{ form_row(form.limitsummary) }}
</fieldset>
<fieldset>
    <legend>{% trans %}Disable search plug-ins{% endtrans %}</legend>
    {{ form_row(form.plugins) }}
</fieldset>
<fieldset>
    <legend>OpenSearch</legend>
    <p class="alert alert-info">
        {% set link = '<a href="https://en.wikipedia.org/wiki/OpenSearch">' ~ 'OpenSearch'|trans ~ '</a>' %}
        {% trans with {'%link%': link } %}%link% makes it possible for your site's users to use your site's search function as a search engine.{% endtrans %}
    </p>
    {{ form_row(form.opensearch_enabled) }}
    {{ form_row(form.opensearch_adult_content) }}
</fieldset>

<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
