<!DOCTYPE html>
<html lang="{{ pagevars.lang }}" dir="{{ pagevars.langdirection }}">
    <head>{{ include('@ZikulaSeaBreezeTheme/Include/head.html.twig') }}</head>
    <body class="onecol">
        {{ include('@ZikulaSeaBreezeTheme/Include/adminheader.html.twig') }}
        <div id="pagewidth">
            <div id="wrapper" class="clearfix">
                <div id="maincol">
                    {{ maincontent|raw }}
                </div>
            </div>
        </div>
        {{ include('@ZikulaSeaBreezeTheme/Include/footer.html.twig') }}
    </body>
</html>
