<!DOCTYPE html>
<html lang="{{ pagevars.lang }}" dir="{{ pagevars.langdirection }}">
    <head>{% include "ZikulaSeaBreezeTheme:Include:head.html.twig" %}</head>
    <body class="threecols">
        {% include "ZikulaSeaBreezeTheme:Include:userheader.html.twig" %}
        <div id="pagewidth">
            <div id="wrapper" class="clearfix">
                <div id="leftcol">
                    <div id="sidebar">
                        {{ showblockposition('left') }}
                     </div>
                </div>
                <div id="maincol">
                    {{ showblockposition('center') }}
                    <div id="z-maincontent" class="{% if realm == 'home' %}z-homepage{% endif %} z-module-{{ modulename|lower }}">    
                        {{ maincontent|raw }}
                    </div>
                </div>
                <div id="rightcol">{{ showblockposition('right') }}</div>
            </div>
        </div>
        {% include "ZikulaSeaBreezeTheme:Include:footer.html.twig" %}
    </body>
</html>
