<h3>
    <i class="fas fa-lock"></i> {% trans %}Force Password change for users{% endtrans %}
    {{ pageSetVar('title', 'Force Password change for users'|trans) }}
</h3>

<p class="alert alert-warning">
    {% trans %}This action will force the selected group to change their password on next login.{% endtrans %}
    {% trans %}The users will not be emailed.{% endtrans %}
</p>
{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{% trans %}Group{% endtrans %}</legend>
    {{ form_row(form.group) }}

    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            {{ form_widget(form.submit) }}
            {{ form_widget(form.cancel) }}
        </div>
    </div>
</fieldset>
{{ form_end(form) }}
