{# purpose of this template: reusable display of standard fields #}
{% if (obj.createdBy|default and obj.createdBy.getUid() > 0) or (obj.updatedBy|default and obj.updatedBy.getUid() > 0) %}
    {% if tabs|default(false) == true %}
        <div role="tabpanel" class="tab-pane fade" id="tabStandardFields" aria-labelledby="standardFieldsTab">
            <h3>{{ __('Creation and update') }}</h3>
    {% else %}
        <h3 class="standard-fields">{{ __('Creation and update') }}</h3>
    {% endif %}
    <dl class="propertylist">
    {% if obj.createdBy|default and obj.createdBy.getUid() > 0 %}
        <dt>{{ __('Creation') }}</dt>
        {% set profileLink = obj.createdBy.getUid()|profileLinkByUserId() %}
        <dd class="avatar">{{ userAvatar(obj.createdBy.getUid(), {rating: 'g'}) }}</dd>
        <dd>
            {{ __f('Created by %user on %date', {'%user': profileLink, '%date': obj.createdDate|localizeddate('medium', 'short')})|raw }}
            {% if currentUser.loggedIn %}
                {% set sendMessageUrl = obj.createdBy.getUid()|messageSendLink(urlOnly=true) %}
                {% if sendMessageUrl != '#' %}
                    <a href="{{ sendMessageUrl }}" title="{{ __f('Send private message to %userName%', {'%userName%': obj.createdBy.getUname()}) }}"><i class="fa fa-envelope-o"></i></a>
                {% endif %}
            {% endif %}
        </dd>
    {% endif %}
    {% if obj.updatedBy|default and obj.updatedBy.getUid() > 0 %}
        <dt>{{ __('Last update') }}</dt>
        {% set profileLink = obj.updatedBy.getUid()|profileLinkByUserId() %}
        <dd class="avatar">{{ userAvatar(obj.updatedBy.getUid(), {rating: 'g'}) }}</dd>
        <dd>
            {{ __f('Updated by %user on %date', {'%user': profileLink, '%date': obj.updatedDate|localizeddate('medium', 'short')})|raw }}
            {% if currentUser.loggedIn %}
                {% set sendMessageUrl = obj.updatedBy.getUid()|messageSendLink(urlOnly=true) %}
                {% if sendMessageUrl != '#' %}
                    <a href="{{ sendMessageUrl }}" title="{{ __f('Send private message to %userName%', {'%userName%': obj.updatedBy.getUname()}) }}"><i class="fa fa-envelope-o"></i></a>
                {% endif %}
            {% endif %}
        </dd>
    {% endif %}
    </dl>
    {% if tabs|default(false) == true %}
        </div>
    {% endif %}
{% endif %}
