{# purpose of this template: reusable display of standard fields #}
{% if (obj.createdBy|default and obj.createdBy.uid > 0) or (obj.updatedBy|default and obj.updatedBy.uid > 0) %}
    {% if tabs|default(false) == true %}
        <div role="tabpanel" class="tab-pane fade" id="tabStandardFields" aria-labelledby="standardFieldsTab">
            <h3>{% trans %}Creation and update{% endtrans %}</h3>
    {% else %}
        <h3 class="standard-fields">{% trans %}Creation and update{% endtrans %}</h3>
    {% endif %}
    <dl class="propertylist">
    {% if obj.createdBy|default and obj.createdBy.uid > 0 %}
        <dt>{% trans %}Creation{% endtrans %}</dt>
        {% set profileLink = obj.createdBy.uid|profileLinkByUserId %}
        <dd class="avatar">{{ userAvatar(obj.createdBy.uid, {rating: 'g'}) }}</dd>
        <dd>
            {{ 'Created by %user% on %date%'|trans({'%user%': profileLink|raw, '%date%': obj.createdDate|format_datetime('medium', 'short')}) }}
            {% if currentUser.loggedIn %}
                {% set sendMessageUrl = obj.createdBy.uid|messageSendLink(urlOnly=true) %}
                {% if sendMessageUrl != '#' %}
                    <a href="{{ sendMessageUrl }}" title="{% trans with {'%userName%': obj.createdBy.uname} %}Send private message to %userName%{% endtrans %}"><i class="fa fa-envelope"></i></a>
                {% endif %}
            {% endif %}
        </dd>
    {% endif %}
    {% if obj.updatedBy|default and obj.updatedBy.uid > 0 %}
        <dt>{% trans %}Last update{% endtrans %}</dt>
        {% set profileLink = obj.updatedBy.uid|profileLinkByUserId %}
        <dd class="avatar">{{ userAvatar(obj.updatedBy.uid, {rating: 'g'}) }}</dd>
        <dd>
            {{ 'Updated by %user% on %date%'|trans({'%user%': profileLink|raw, '%date%': obj.updatedDate|format_datetime('medium', 'short')}) }}
            {% if currentUser.loggedIn %}
                {% set sendMessageUrl = obj.updatedBy.uid|messageSendLink(urlOnly=true) %}
                {% if sendMessageUrl != '#' %}
                    <a href="{{ sendMessageUrl }}" title="{% trans with {'%userName%': obj.updatedBy.uname} %}Send private message to %userName%{% endtrans %}"><i class="fa fa-envelope"></i></a>
                {% endif %}
            {% endif %}
        </dd>
    {% endif %}
    </dl>
    {% if tabs|default(false) == true %}
        </div>
    {% endif %}
{% endif %}
