{# purpose of this template: reusable editing of standard fields #}
{% if (obj.createdBy|default and obj.createdBy.getUid() > 0) or (obj.updatedBy|default and obj.updatedBy.getUid() > 0) %}
    {% if tabs|default(false) == true %}
        <div role="tabpanel" class="tab-pane fade" id="tabStandardFields" aria-labelledby="standardFieldsTab">
            <h3>{{ __('Creation and update') }}</h3>
    {% else %}
        <fieldset class="standardfields">
    {% endif %}
        <legend>{{ __('Creation and update') }}</legend>
        <ul>
        {% if obj.createdBy|default and obj.createdBy.getUid() > 0 %}
            <li>{{ __f('Created by %user', {'%user': obj.createdBy.getUname()}) }}</li>
            <li>{{ __f('Created on %date', {'%date': obj.createdDate|localizeddate('medium', 'short')}) }}</li>
        {% endif %}
        {% if obj.updatedBy|default and obj.updatedBy.getUid() > 0 %}
            <li>{{ __f('Updated by %user', {'%user': obj.updatedBy.getUname()}) }}</li>
            <li>{{ __f('Updated on %date', {'%date': obj.updatedDate|localizeddate('medium', 'short')}) }}</li>
        {% endif %}
        </ul>
    {% if tabs|default(false) == true %}
        </div>
    {% else %}
        </fieldset>
    {% endif %}
{% endif %}
