{# purpose of this template: reusable display of standard fields #}
{% if (obj.createdUserId is defined and obj.createdUserId) or (obj.updatedUserId is defined and obj.updatedUserId) %}
    {% if panel|default(false) == true %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseStandardFields">{{ __('Creation and update') }}</a></h3>
            </div>
            <div id="collapseStandardFields" class="panel-collapse collapse in">
                <div class="panel-body">
    {% else %}
        <h3 class="standard-fields">{{ __('Creation and update') }}</h3>
    {% endif %}
    <dl class="propertylist">
    {% if obj.createdUserId|default %}
        <dt>{{ __('Creation') }}</dt>
        {% set cr_uname = zikularoutesmodule_userVar('uname', obj.createdUserId) %}
        <dd>{{ __f('Created by %user on %date', {'%user': cr_uname, '%date': obj.createdDate|localizeddate('medium', 'short')}) }}</dd>
    {% endif %}
    {% if obj.updatedUserId|default %}
        <dt>{{ __('Last update') }}</dt>
        {% set lu_uname = zikularoutesmodule_userVar('uname', obj.updatedUserId) %}
        <dd>{{ __f('Updated by %user on %date', {'%user': lu_uname, '%date': obj.updatedDate|localizeddate('medium', 'short')}) }}</dd>
    {% endif %}
    </dl>
    {% if panel|default(false) == true %}
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
