<form id="theme_search" method="post" action="{{ path('zikulasearchmodule_user_search') }}">
    <div>
        <input id="block_search_q" type="search" name="q" size="20" maxlength="255" results="10" autosave="Search" class="theme_search_input" />
        {% if properties.displaySearchBtn == 1 %}
            <input class="theme_search_button" type="submit" value="{{ __('Search') }}" />
        {% endif %}
        <div class="hidden">
            {% for plugin, pluginOption in pluginOptions %}
                {{ pluginOption }}
            {% endfor %}
        </div>
        {% set moduleVariables = zikulasearchmodule_searchVarToFieldNames() %}
        {% for name, value in moduleVariables %}
            <input type="hidden" name="{{ name|e('html_attr') }}" value="{{ value|e('html_attr') }}" />
        {% endfor %}
    </div>
</form>
