<h3>
    <span class="fas fa-wrench"></span>
    {{ themeName }} {% trans %}Theme config{% endtrans %}
    {{ pageSetVar('title', 'Theme configuration'|trans) }}
</h3>

{{ showflashes() }}
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
