{{ adminHeader() }}
<h3>
    <span class="fas fa-info-circle"></span>
    {% trans %}Incompatible version with the core{% endtrans %} - {{ extension.displayname }}
    {{ pageSetVar('title', 'Incompatible version'|trans) }}
</h3>
<div class="form-group">
    <p><strong>{% trans %}The version of this extension is incompatible with the version of the core.{% endtrans %}</strong></p>
    <ul>
        <li>{% trans with {'%version%': '<span class="badge badge-success">' ~ pagevars.coredata.version ~ '</span>'|raw} %}Current Core version is %version%{% endtrans %}</li>
        {% if extension.coreCompatibility is not empty %}
        <li>{% trans with {"%s": '<span class="badge badge-warning">' ~ extension.coreCompatibility ~ '</span>'|raw} %}The minimum version of the core that this extension supports is %s{% endtrans %}</li>
        {% endif %}
    </ul>
</div>
<div class="form-group">
    <div class="col-md-9 offset-md-3">
        <a class="btn btn-primary" href="{{ path('zikulaextensionsmodule_extension_list') }}"><i class="fas fa-check"></i> {% trans %}Ok{% endtrans %}</a>
    </div>
</div>
{{ adminFooter() }}
