{{ adminHeader() }}
<h3>
    <span class="fas fa-list"></span>
    {% trans %}Extensions list{% endtrans %}
    {{ pageSetVar('title', 'Extensions list'|trans) }}
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cName" />
        <col id="cDescription" />
        <col id="cVersion" />
        <col id="cState" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hType" scope="col">{% trans %}Type{% endtrans %}</th>
            <th id="hName" scope="col"><a class="{{ sort.displayname.class }}" href="{{ sort.displayname.url }}">{% trans %}Name{% endtrans %}</a></th>
            <th id="hDescription" scope="col">{% trans %}Description{% endtrans %}</th>
            <th id="hVersion" scope="col">{% trans %}Version{% endtrans %}</th>
            <th id="hState" scope="col"><a class="{{ sort.state.class }}" href="{{ sort.state.url }}">{% trans %}State{% endtrans %}</a></th>
            <th id="hActions" scope="col" class="text-right">{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for extension in extensions %}
        <tr class="extension-type-{{ extension.type }}">
            <td headers="hType" class="text-center">{{ _self.badge(extension.type) }}</td>
            <td headers="hName">
                {% if adminRoutes[extension.name]|default %}
                    <a title="{% trans %}Go to the extension's administration panel{% endtrans %}" href="{{ adminRoutes[extension.name] }}"><i class="fas fa-link"></i></a>
                {% endif %}
                <strong>{{ extension.displayname }}</strong>
                <a data-toggle="collapse" href="#collapse-{{ extension.name }}"><i class="fas fa-caret-down"></i></a>
                <ul id="collapse-{{ extension.name }}" class="collapse mb-0">
                    <li>Internal name: <em>{{ extension.name }}</em></li>
                    <li>Url root: <code>/{{ extension.url }}</code></li>
                </ul>
            </td>
            <td headers="hDescription" style="width: 40%">{{ extension.description }}</td>
            <td headers="hVersion">{{ extension.version }}</td>
            <td class="nowrap">
                {{ stateLabel(extension, upgradedExtensions) }}
            </td>
            <td headers="hActions" class="actions">
                {% set rowActions = knp_menu_get('zikulaExtensionsAdminMenu', [], {extension: extension}) %}
                {{ knp_menu_render(rowActions, {template: '@ZikulaMenuModule/Override/actions.html.twig'}) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ pager({rowcount: pager.count, limit: pager.limit, route: 'zikulaextensionsmodule_extension_list'}) }}
{{ adminFooter() }}
{% set initScript %}
<script>
    ( function($) {
        $(document).ready(function() {
            $('i[class*=fa-caret-]').on('click', function() {
                $(this).toggleClass('fa-caret-down fa-caret-up');
            });
            $('[data-toggle="tooltip"]').tooltip()
        });
    })(jQuery);
</script>
{% endset %}
{{ pageAddAsset('footer', initScript) }}

{% macro badge(type) %}
    {% if type is constant('Zikula\\Bundle\\CoreBundle\\Composer\\MetaData::TYPE_MODULE') %}
        <i class="fas fa-cubes fa-2x text-primary" data-toggle="tooltip" data-placement="right" title="{% trans %}Third party module{% endtrans %}"></i>
    {% elseif type is constant('Zikula\\Bundle\\CoreBundle\\Composer\\MetaData::TYPE_THEME') %}
        <i class="fas fa-palette fa-2x text-info" data-toggle="tooltip" data-placement="right" title="{% trans %}Third party theme{% endtrans %}"></i>
    {% elseif type is  constant('Zikula\\Bundle\\CoreBundle\\Composer\\MetaData::TYPE_SYSTEM_MODULE') %}
        <span class="fa-stack" data-toggle="tooltip" data-placement="right" title="{% trans %}System module{% endtrans %}">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-cubes fa-stack-1x fa-inverse"></i>
        </span>
    {% elseif type is  constant('Zikula\\Bundle\\CoreBundle\\Composer\\MetaData::TYPE_SYSTEM_THEME') %}
        <span class="fa-stack" data-toggle="tooltip" data-placement="right" title="{% trans %}System theme{% endtrans %}">
          <i class="fas fa-circle fa-stack-2x text-info"></i>
          <i class="fas fa-palette fa-stack-1x fa-inverse"></i>
        </span>
    {% endif %}
{% endmacro %}
