<h3>
    <span class="fas fa-trash-alt"></span>
    {% trans %}Uninstall extension{% endtrans %} '{{ extension.displayname }}'
    {{ pageSetVar('title', 'Uninstall extension'|trans) }}
</h3>

<p class="alert alert-warning">{% trans with {'%title%': extension.displayname} %}Do you really want to uninstall '%title%'?{% endtrans %}</p>
<p class="alert alert-danger">{% trans %}Warning! Uninstalling this extension will also permanently remove all data associated with it, including all data held by other extensions that are hooked to this extension.{% endtrans %}</p>
{% if blocks|length > 0 %}
    <div class="alert alert-danger">
        {% trans %}Warning! Removing this extension will also remove the following blocks{% endtrans %}:
        <ul>
            {% for block in blocks %}
            <li>{{ block.blocktype }} : {{ block.title|default(block.description) }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if requiredDependents|length > 0 %}
    <div class="alert alert-danger">
        {% trans %}Warning! Other extensions present in the system require this extension. If you uninstall this extension then these extensions that require it will also be uninstalled.{% endtrans %}
        <ul>
            {% for dependent in requiredDependents %}
            <li>{{ dependent.displayname }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.delete) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
