{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
<h2>{{ __('User login') }}</h2>
{{ pageSetVar('title', __('User login')) }}

<div class="well">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.either) }}
    {{ form_row(form.pass) }}
    {{ form_row(form.rememberme) }}

    {% for additional_template in additional_templates %}
        {{ include(additional_template.0, additional_template.1, ignore_missing = true) }}
    {% endfor %}
    <div id="zikulausersmodule-login-hooks">
        {{ notifyDisplayHooks(constant('Zikula\\UsersModule\\HookSubscriber\\LoginUiHooksSubscriber::LOGIN_FORM')) }}
    </div>

    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</div>
