{{ moduleHeader('user', 'User login'|trans, '', true, true) }}
<fieldset>
    {{ loginHeader|raw }}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(attribute(form, loginField|default('uname'))) }}
    {{ form_row(form.pass) }}
    {{ form_row(form.rememberme) }}

    {% for template in additionalTemplates %}
        include(template.view, template.params, ignore_missing = true)
    {% endfor %}
    <div id="zikulausersmodule-login-hooks">
        {{ notifyDisplayHooks(constant('Zikula\\UsersModule\\HookSubscriber\\LoginUiHooksSubscriber::LOGIN_FORM')) }}
    </div>

    {{ form_row(form.submit) }}

    {{ form_end(form) }}
    {{ loginFooter|raw }}
</fieldset>
