<fieldset>
    {{ loginHeader|raw }}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <p>{{ form_widget(attribute(form, loginField|default('uname'))) }}</p>
    <p>{{ form_widget(form.pass) }}</p>
    <p>{{ form_widget(form.rememberme) }} {% trans %}Remember me{% endtrans %}</p>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
    {{ loginFooter|raw }}
</fieldset>
