{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ moduleHeader('user', __('New account registration'), '', true, true) }}

<p id="users_formtop">
    {{ __('Registering for a user account is easy. Registration can give you access to content and to features of this site that are not available to unregistered guests.') }}
    {{ __('During your visits, we recommended that you set your browser to accept cookies from this site. Various features of the site use cookies, and may not function properly (or may not function at all) if cookies are disabled.') }}
</p>

{% if getModVar('ZikulaZAuthModule', constant('Zikula\\ZAuthModule\\ZAuthConstant::MODVAR_EMAIL_VERIFICATION_REQUIRED')) %}
    <p class="alert alert-info">{{ __('Before you will be able to log in, you must verify your e-mail address. You will receive an e-mail asking to verify your e-mail address after submitting the information below.') }}
{% elseif getModVar('ZikulaUsersModule', constant('Zikula\\UsersModule\\Constant::MODVAR_REGISTRATION_APPROVAL_REQUIRED')) %}
    <p class="alert alert-info">{{ __('Before you will be able to log in, an administrator must approve your registration request. You will receive an e-mail after an administrator has reviewed the information you submit below.') }}</p>
{% endif %}

<p class="alert alert-warning">{{ __('The items that are marked with an asterisk (*) are required entries.') }}</p>
{{ form_start(form) }}
{{ form_errors(form) }}
    <input id="{{ form.vars.id }}_event_type" type="hidden" name="event_type" value="new_registration" />
    <input id="{{ form.vars.id }}_registration_info" type="hidden" name="registration_info" value="1" />
    <fieldset>
        <legend>{{ __('Choose a user name') }}</legend>
        {{ form_row(form.uname) }}
        <em class="help-block small col-sm-offset-3 col-sm-9">{{ __('Your user name is used to identify you to other users on the site. You still need to set one up, even though you will not be using it to log in.') }}</em>
    </fieldset>
    <fieldset>
        <legend>{{ __('Set a password') }}</legend>
        {{ form_row(form.pass, {'help': __f('The minimum length for user passwords is %sub% characters.', {"%sub%": getModVar('ZikulaZAuthModule', constant('Zikula\\ZAuthModule\\ZAuthConstant::MODVAR_PASSWORD_MINIMUM_LENGTH'))} )}) }}
        <div id="{{ form.vars.id }}_passmeter" class="col-sm-offset-3 col-sm-9"></div>
    </fieldset>
    <fieldset {% if hideEmail is defined and hideEmail %}class="hide"{% endif %}>
        <legend>{{ __('Enter your e-mail address') }}</legend>
        {% if form.children.email is defined %}{{ form_row(form.email) }}{% endif %}{# email may not be defined if authentication is non-local #}
    </fieldset>

    {% for additional_template in additional_templates %}
        {{ include(additional_template.0, additional_template.1, ignore_missing = true) }}
    {% endfor %}

    {% set hooks = notifyDisplayHooks(constant('Zikula\\UsersModule\\Container\\HookContainer::REGISTRATION_FORM')) %}
    {% if hooks is iterable %}
    <fieldset>
        <legend>{{ __('Further information') }}</legend>
            {% for providerArea, hook in hooks %}
                {{ hook }}
                <div class="clearfix"></div>
            {% endfor %}
    </fieldset>
    {% endif %}

    {% if getModVar('ZikulaZAuthModule', constant('Zikula\\ZAuthModule\\ZAuthConstant::MODVAR_REGISTRATION_ANTISPAM_QUESTION')) is not empty %}
    <fieldset>
        <legend>{{ __('Answer the security question') }}</legend>
        {{ form_row(form.antispamanswer) }}
    </fieldset>
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(form.submit) }}
            {{ form_widget(form.cancel) }}
            {{ form_widget(form.reset) }}
        </div>
    </div>
{{ form_end(form) }}
{% if getModVar('ZikulaZAuthModule', constant('Zikula\\ZAuthModule\\ZAuthConstant::MODVAR_PASSWORD_STRENGTH_METER_ENABLED')) %}
{{ pageAddAsset('javascript', zasset('@ZikulaZAuthModule:js/Zikula.ZAuth.PassMeter.js')) }}
<script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            ZikulaZAuthPassMeter.init('{{ form.pass.vars.id }}_first', '{{ form.vars.id }}_passmeter', {
                username: '{{ form.uname.vars.id }}',
                minLength: '{{ getModVar('ZikulaZAuthModule', constant('Zikula\\ZAuthModule\\ZAuthConstant::MODVAR_PASSWORD_MINIMUM_LENGTH')) }}'
            });
        });
    })(jQuery);
</script>
{% endif %}
