{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-trash-alt"></span>
    {% trans %}Purge IDS log{% endtrans %}
    {{ pageSetVar('title', __('Purge IDS log')) }}
</h3>

<ul class="nav nav-modulelinks">
    <li class="nav-item">
        <a href="{{ path('zikulasecuritycentermodule_idslog_export') }}" title="{% trans %}Download the entire log to a CSV file{% endtrans %}" class="nav-link"><i class="fa fa-download"></i> {% trans %}Export IDS Log{% endtrans %}</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('zikulasecuritycentermodule_idslog_purge') }}" title="{% trans %}Delete the entire log.{% endtrans %}" class="nav-link active"><i class="fa fa-trash-alt"></i> {% trans %}Purge IDS Log{% endtrans %}</a>
    </li>
</ul>

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{% trans %}Confirmation prompt{% endtrans %}</legend>
    <p class="alert alert-warning">{% trans %}Do you really want to delete the entire IDS log?{% endtrans %}</p>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(form.delete) }}
            {{ form_widget(form.cancel) }}
        </div>
    </div>
</fieldset>
{{ form_end(form) }}
{{ adminFooter() }}
