{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-archive"></span>
            {{ __('View IDS Log') }}
        </h3>

        <ul class="navbar navbar-default navbar-modulelinks">
            <li><a href="{{ path('zikulasecuritycentermodule_idslog_export') }}" title="{{ __('Download the entire log to a CSV file.') }}" class="fa fa-arrow-circle-o-down"> {{ __('Export IDS Log') }}</a></li>
            <li><a href="{{ path('zikulasecuritycentermodule_idslog_purge') }}" title="{{ __('Delete the entire log.') }}" class="fa fa-trash-o"> {{ __('Purge IDS Log') }}</a></li>
        </ul>

        {% if logEntries|length > 0 %}
            {% form_theme filterForm with [
                'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
                'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
            ] %}
            {{ form_start(filterForm, {attr: {id: 'zikulaSecurityCenterModuleIdsLogFilterForm', class: 'navbar-form', role: 'navigation'}}) }}
            {{ form_errors(filterForm) }}

            <fieldset>
                <legend>{{ __('Filter') }}</legend>

                {{ form_row(filterForm.username) }}
                {{ form_row(filterForm.name) }}
                {{ form_row(filterForm.tag) }}
                {{ form_row(filterForm.value) }}
                {{ form_row(filterForm.page) }}
                {{ form_row(filterForm.ip) }}
                {{ form_row(filterForm.impact) }}

                {% if filter.uid or filter.name or filter.tag or filter.value or filter.page or filter.ip or filter.impact %}
                    <a href="{{ path('zikulasecuritycentermodule_idslog_view'}" title="{{ __('Clear filter') }}><i class="fa fa-times"></i></a>
                {% endif %}
            </fieldset>

            {{ form_end(filterForm) }}

            <table class="table table-bordered table-striped">
                <colgroup>
                    <col id="cName" />
                    <col id="cTag" />
                    <col id="cValue" />
                    <col id="cPage" />
                    <col id="cUsername" />
                    <col id="cIp" />
                    <col id="cImpact" />
                    <col id="cFilters" />
                    <col id="cDate" />
                    <col id="cActions" />
                </colgroup>
                <thead>
                    <tr>
                        <th id="hName" scope="col" class="text-left">
                            <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                        </th>
                        <th id="hTag" scope="col" class="text-left">
                            <a href="{{ sort.tag.url }}" title="{{ __f('Sort by %s', {'%s': 'tag'}) }}" class="{{ sort.tag.class }}">{{ __('Tag') }}</a>
                        </th>
                        <th id="hValue" scope="col" class="text-left">
                            <a href="{{ sort.value.url }}" title="{{ __f('Sort by %s', {'%s': 'value'}) }}" class="{{ sort.value.class }}">{{ __('Value') }}</a>
                        </th>
                        <th id="hPage" scope="col" class="text-left">
                            <a href="{{ sort.page.url }}" title="{{ __f('Sort by %s', {'%s': 'page'}) }}" class="{{ sort.page.class }}">{{ __('Page') }}</a>
                        </th>
                        <th id="hUsername" scope="col" class="text-left">
                            <a href="{{ sort.username.url }}" title="{{ __f('Sort by %s', {'%s': 'user name'}) }}" class="{{ sort.username.class }}">{{ __('User Name') }}</a>
                        </th>
                        <th id="hIp" scope="col" class="text-left">
                            <a href="{{ sort.ip.url }}" title="{{ __f('Sort by %s', {'%s': 'ip address'}) }}" class="{{ sort.ip.class }}">{{ __('IP') }}</a>
                        </th>
                        <th id="hImpact" scope="col" class="text-left">
                            <a href="{{ sort.impact.url }}" title="{{ __f('Sort by %s', {'%s': 'impact'}) }}" class="{{ sort.impact.class }}">{{ __('Impact') }}</a>
                        </th>
                        <th id="hFilters" scope="col" class="text-left">
                            {{ __('PHPIDS filters used') }}
                        </th>
                        <th id="hDate" scope="col" class="text-left">
                            <a href="{{ sort.date.url }}+DESC" title="{{ __f('Sort by %s', {'%s': 'date'}) }}" class="{{ sort.date.class }}">{{ __('Date') }}</a>
                        </th>
                        <th id="hActions" scope="col" class="text-right">
                            {{ __('Actions') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in logEntries %}
                        <tr>
                            <td headers="hName">{{ event.name }}</td>
                            <td headers="hTag">{{ event.tag }}</td>
                            <td headers="hValue">{{ event.value }}</td>
                            <td headers="hPage">{{ event.page }}</td>
                            <td headers="hUsername">{{ event.username }}</td>
                            <td headers="hIp">{{ event.ip }}</td>
                            <td headers="hImpact">{{ event.impact }}</td>
                            <td headers="hFilters">
                            {% for filter in event.filters %}
                                <a id="f_{{ event.id }}_{{ loop.index }}" href="#f_{{ event.id }}_{{ loop.index }}_content" title="{{ __f('PHPIDS filter %s', { '%s': filter.id }) }}" class="eventfilter">{{ filter.id }}</a>{% if not loop.last %}, {% endif %}
                                <div id="f_{{ event.id }}_{{ loop.index }}_content" style="display: none">
                                    <p><strong>{{ __('Impact') }}:</strong> {{ filter.impact }}</p>
                                    <p><strong>{{ __('Description') }}:</strong> {{ filter.description }}</p>
                                    <p><strong>{{ __('Rule') }}:</strong> {{ filter.rule }}</p>
                                </div>
                            {% endfor %}
                            </td>
                            <td headers="hDate">{{ event.date|localizeddate('medium', 'none') }}</td>
                            <td headers="hActions" class="text-right">
                                <a href="{{ path('zikulasecuritycentermodule_idslog_deleteentry', { id: event.id, csrftoken: csrftoken }) }}"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ __('No logged intrusions found.') }}</p>
        {% endif %}
        {{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, posvar: 'startnum', route: 'zikulasecuritycentermodule_idslog_view'}) }}
    </div>
</div>
{{ adminFooter() }}
{% set filterFormScript %}
    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                $('#zikulaSecurityCenterModuleIdsLogFilterForm select').change(function() {
                    $('#zikulaSecurityCenterModuleIdsLogFilterForm').submit();
                });
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endset %}
{{ pageAddAsset('footer', filterFormScript) }}
