{{ moduleHeader('user', 'Profile'|trans, true, true) }}

<div class="card bg-light mb-3">
    <div class="card-body">
        <h2 class="card-title"><i class="fas fa-user-circle"></i> {% trans with {'%uname': user.uname} %}Profile for %uname{% endtrans %}</h2>
        <div class="card-text row">
            <div class="col-md-3 text-center">
                {{ userAvatar(user.uid) }}
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 text-right">
                        <strong>{% trans %}User name{% endtrans %}</strong>
                    </div>
                    <div class="col-md-9">
                        <span>{{ user.uname }}</span>
                    </div>
                </div>
                {{ include('@ZikulaProfileModule/displayAttributes.html.twig', {context: 'profile'}) }}
            </div>
        </div>
    </div>
    {% if currentUser.uid == user.uid or hasPermission('ZikulaProfileModule::edit', '::', 'ACCESS_EDIT') %}
        <div class="card-footer text-right">
            <a class="btn btn-success btn-sm" href="{{ path('zikulaprofilemodule_profile_edit', {uid: user.uid}) }}"><i class="fas fa-pencil-alt"></i> {% trans %}Edit profile{% endtrans %}</a>
        </div>
    {% endif %}
</div>
