{{ adminHeader() }}
<h3>{{ title }}</h3>
{{ pageSetVar('title', title) }}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{ __('Variable') }}</th>
            <th>{{ __('Variable value') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for variable in arrayvariables %}
        <tr>
            <td>{{ variable.key }}</td>
            <td>{{ variable.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ adminFooter() }}
