{{ pageSetVar('title', 'Edit property'|trans) }}
<h3>
    {% if form.vars.value.id|default %}
        <i class="fas fa-pencil-alt"></i> {% trans %}Edit property{% endtrans %}
    {% else %}
        <i class="fas fa-plus"></i> {% trans %}Create new property{% endtrans %}
    {% endif %}
</h3>

{{ form_start(form) }}
{{ form_row(form.id) }}
{{ form_row(form.labels) }}
{{ form_row(form.fieldInfo) }}
{{ form_row(form.weight) }}
{{ form_row(form.active) }}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
