{{ form_start(form, {'attr': {'class': 'form-inline pull-right'}}) }}
{{ form_errors(form) }}
{{ form_widget(form.q, {'attr': {'placeholder': __('Search keywords')}}) }}
{% if properties.displaySearchBtn == 1 %}
    {{ form_widget(form.search, {'label': __('Go'), 'attr': {'class': 'btn btn-default btn-xs'}}) }}
{% endif %}
<div class="hidden">
    {{ form_row(form.searchType) }}
    {{ form_row(form.searchOrder) }}
    {{ form_row(form.modules) }}
</div>
{% set moduleVariables = zikulasearchmodule_searchVarToFieldNames() %}
{% for name, value in moduleVariables %}
    <input type="hidden" name="{{ name|e('html_attr') }}" value="{{ value|e('html_attr') }}" />
{% endfor %}

{{ form_end(form) }}
