{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}
<h3>
    <span class="fa fa-upload"></span>
    {{ __('Import users') }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{{ __('Select the CSV file') }}</legend>
    {{ form_row(form.file) }}
    {{ form_row(form.delimiter) }}
</fieldset>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.upload) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}


<div class="alert alert-info">
    <h4>{{ __('About the CSV file') }}</h4>
    <dl>
        <dt>{{ __('The first row of the CSV file must contain the field names. It must be like this:') }}</dt>
        <dd>uname,pass,email,activated,sendmail,groups</dd>
    </dl>
    <dl>
        <dt>{{ __('where:') }}</dt>

        <dd>* uname{{ __(' (mandatory) - The user name. This value must be unique.') }}</dd>
        <dd>* pass{{ __f(' (mandatory) - The user password. It must have %sub% characters or more. Preferentially containing letters and numbers.', {"%sub%": getModVar('ZikulaUsersModule', 'minpass')}) }}</dd>
        <dd>* email{{ __(' (mandatory) - The user email. If the validation method is based on the user email this value must be unique.') }}</dd>
        <dd>* activated{{ __(' - Type 0 if user is not active, 1 if the user must be active. The default value is 1.') }}</dd>
        <dd>* sendmail{{ __(' - Type 1 if the system must send the password to the user via email and 0 otherwise. The default value is 1. The module Mailer must be active and correctly configured. The email is sent only if user activated value is upper than 0.') }}</dd>
        <dd>* groups{{ __f(' - The identities of the groups where the user must belong separated by the character |. If you do not specify any group, the default group is %sub%.', {"%sub%": defaultGroupName}) }}</dd>
    </dl>
    <dl>
        <dt>{{ __('An example of a valid CSV file') }}</dt>
        <dd>uname,pass,email,activated,sendmail,groups</dd>
        <dd>{{ __('albert,12secure09,albert@example.org,1,1,2') }}</dd>
        <dd>{{ __('george,lesssecure,george@example.org,1,0,1|5') }}</dd>
        <dd>{{ __('robert,hispassword,robert@example.org,,,') }}</dd>
    </dl>
    <dl>
        <dt>{{ __('Another example of a valid CSV file') }}</dt>
        <dd>uname,pass,email</dd>
        <dd>{{ __('albert,12secure09,albert@example.org') }}</dd>
        <dd>{{ __('george,lesssecure,george@example.org') }}</dd>
        <dd>{{ __('robert,hispassword,robert@example.org') }}</dd>
    </dl>
</div>
{{ adminFooter() }}
