<!-- Start Left Block Start -->
{% if title is not empty  %}
<h3 class="blocktitle">{{ title }}</h3>
{% endif %}
<div class="sbLeftContent">
    <div class="z-block z-blockposition-{{ position|lower }} z-bkey-{{ btype|lower }} z-bid-{{ bid }}">
        {{ content|raw }}
    </div>
</div>
<!-- Start Left Block End -->
