<!-- Start Right Side Block -->
<div class="z-block z-blockposition-{{ position|lower }} z-bkey-{{ btype|lower }} z-bid-{{ bid }}">
    {% if title is not empty  %}
        <h3 class="blocktitle">{{ title }}</h3>
    {% endif %}
    <div class="sbRightContent">
        {{ content|raw }}
    </div>
</div>
<!-- End Right Block -->