{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{% if getModVar('ZConfig', 'multilingual')  %}
    {{ moduleHeader('user', __('Language switcher'), '', true) }}

    <div class="well">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.locale) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.submit) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% else %}
    <div class="alert alert-danger">{{ __('Multilingual features are deactivated.') }}</div>
{% endif %}
