{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{% if getModVar('ZConfig', 'multilingual') %}
    {{ moduleHeader('user', 'Language switcher'|trans, '', true) }}
    <fieldset>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.locale) }}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.submit) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </fieldset>
{% else %}
    <div class="alert alert-danger">{% trans %}Multilingual features are deactivated.{% endtrans %}</div>
{% endif %}
