{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ polyfill() }}
{{ moduleHeader('user', __('Change Password'), '', true) }}
{% if login %}
<div class="alert alert-warning">
    <p>{{ __('Before logging in, the site administrator has asked that you change the password for your account.') }}</p>
    {% if authentication_method.modname|default != 'ZikulaUsersModule' %}<p>{{ __f('Note: This changes the password for your account with the user name of \'%uname\', here on this web site. It does not affect the password for any other method of logging in, such as the method you just used.', {'%uname': user.uname|default('unknown')}) }}</p>{% endif %}
    <p>{{ __('If you leave this page without successfully changing your password, then you will not be logged in.') }}</p>
</div>
{% endif %}

<div class="alert alert-info">
    <p>{{ __('To change your password, please enter your current password, and then enter a new password (you must enter the new password twice to ensure that you have typed it correctly).') }}</p>
    {% if login %}<p>{{ __('Once you have successfully changed your password, the log-in process will continue.') }}</p>{% endif %}
</div>

{{ form_start(form) }}
{{ form_errors(form) }}
    <fieldset>
        <legend>{{ __('Password') }}</legend>
        {{ form_row(form.oldpass) }}
        {{ form_row(form.pass) }}
        <div id="{{ form.vars.id }}_passmeter" class="col-sm-offset-3 col-sm-9"></div>
        {% if form.children.passreminder is defined %}
            {{ form_row(form.passreminder) }}
        {% endif %}
    </fieldset>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(form.submit) }}
            {{ form_widget(form.cancel) }}
        </div>
    </div>
{{ form_end(form) }}
{% if modvars.use_password_strength_meter %}
{{ pageAddAsset('javascript', zasset('@ZikulaUsersModule:js/Zikula.Users.PassMeter.js')) }}
<script type="text/javascript">
    (function($) {
        $(document).ready(function() {
            ZikulaUsersPassMeter.init('{{ form.pass.vars.id }}_first', '{{ form.vars.id }}_passmeter', {
                username: 'usernamehidden',
                minLength: '{{ modvars.minpass }}'
            });
        });
    })(jQuery);
</script>
{% endif %}
