{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ polyfill() }}
{{ moduleHeader('user', __('Account information recovery'), '', true) }}

<p class="alert alert-info">{{ __('Please enter your e-mail address below and click the submit button. You will be sent an e-mail with your account information.') }}</p>

<div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
</div>
