{{ moduleHeader('user', 'My account'|trans, '', true, true) }}

{% if not currentUser.loggedin %}
    <p>{% trans %}Please select one of the following:{% endtrans %}</p>
    <ul>
        <li><a href="{{ path('zikulausersmodule_access_login') }}">{% trans %}I would like to login.{% endtrans %}</a></li>
        {% if getModVar('ZikulaUsersModule', constant('Zikula\\UsersModule\\Constant::MODVAR_REGISTRATION_ENABLED'), constant('Zikula\\UsersModule\\Constant::DEFAULT_REGISTRATION_ENABLED')) %}
            <li><a href="{{ path('zikulausersmodule_registration_register') }}">{% trans %}I would like to create a new account.{% endtrans %}</a></li>
        {% endif %}
        <li><a href="{{ path('zikulazauthmodule_account_lostusername') }}">{% trans %}I have forgotten my account information (for example, my user name).{% endtrans %}</a></li>
        <li><a href="{{ path('zikulazauthmodule_account_lostpassword') }}">{% trans %}I have forgotten my password.{% endtrans %}</a></li>
    </ul>
{% endif %}

{% for menu in accountMenus|default %}
    {{ knp_menu_render(menu, {template: '@ZikulaMenuModule/Override/bootstrap_fontawesome.html.twig'}) }}
{% endfor %}

{{ moduleFooter() }}
