{{ pageAddAsset('javascript', zasset('@ZikulaBlocksModule:js/Zikula.Blocks.Admin.Common.js')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaBlocksModule:js/Zikula.Blocks.Admin.Modifyposition.js')) }}

{{ adminHeader() }}
<h3>
    <span class="fa fa-cubes"></span>
    {{ __('Block placements') }}
    {{ pageSetVar('title', __('Block placements')) }}
</h3>

<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Jump to position... <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for pid, choice in positionChoices %}
        <li style="margin-left:0"><a href="{{ path('zikulablocksmodule_placement_edit', {pid:pid}) }}">{{ choice }}</a></li>
        {% endfor %}
    </ul>
</div>
<br /><br />
<p class="alert alert-info">{{ __('Notice: Use drag and drop to arrange the blocks in this position into your desired order. The new block order will be saved automatically.') }}</p>

<h4 id="position" data-position="{{ position.pid }}">{{ __f("Blocks placed in the '%name%' position", {'%name%': position.name}) }} <span id="feedback" class="label label-success" style="display:none;">Placements updated!</span></h4>

{% if not positionavailable(position.name) %}<div class="alert alert-warning"><i class="fa fa-exclamation-triangle fa-2x text-danger text-left"></i> {{ __f('WARNING: The "%name%" block position is not available in the current default theme.', {'%name%':position.name}) }}</div>{% endif %}
<table id="assignedblocklist" class="table table-bordered table-striped">
    <colgroup>
        <col id="cAssignedDnd" />
        <col id="cAssignedId" />
        <col id="cAssignedTitle" />
        <col id="cAssignedModule" />
        <col id="cAssignedType" />
        <col id="cAssignedLanguage" />
        <col id="cAssignedState" />
    </colgroup>
    <thead>
        <tr id="assignedblocklistheader">
            <th id="hAssignedDnd" scope="col" width="20px"></th>
            <th id="hAssignedId" scope="col">{{ __('Block ID') }}</th>
            <th id="hAssignedTitle" scope="col">{{ __('Title, Description') }}</th>
            <th id="hAssignedModule" scope="col">{{ __('Module') }}</th>
            <th id="hAssignedType" scope="col">{{ __('Type') }}</th>
            <th id="hAssignedLanguage" scope="col">{{ __('Language') }}</th>
            <th id="hAssignedState" scope="col">{{ __('State') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr{% if assignedblocks is not empty %} style="display: none"{% endif %} class="sortable-placeholder">
            <td class="warning" colspan="7">{{ __('No blocks placed in this position yet.') }}</td>
        </tr>
        {% for block in assignedblocks %}
        <tr style="cursor: move" data-bid="{{ block.bid }}">
            <td headers="hAssignedDnd"><span class="fa fa-arrows"></span></td>
            <td headers="hAssignedId">{{ block.bid }}</td>
            <td headers="hAssignedTitle" id="blockdrag_{{ block.bid }}">
                {{ block.title|safeHtml|default('') }}{% if block.title and block.description %},&nbsp;{% endif %}{{ block.description|safeHtml }}
            </td>
            <td headers="hAssignedModule">{{ block.module.name }}</td>
            <td headers="hAssignedType">{{ block.blocktype }}</td>
            <td headers="hAssignedLanguage">{{ block.language|default('') }}</td>
            <td headers="hAssignedState">
                <a class="label label-success tooltips{% if block.active == 0 %} hide{% endif %}" href="#" title="{{ __('Click to deactivate this block') }}" data-bid="{{ block.bid }}">{{ __('Active') }}</a>
                <a class="label label-danger tooltips{% if block.active %} hide{% endif %}" href="#" title="{{ __('Click to deactivate this block') }}" data-bid="{{ block.bid }}">{{ __('Inactive') }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>{{ __f("Blocks not placed in '%name%' position", {'%name%': position.name}) }}</h4>
<table id="unassignedblocklist" class="table table-bordered table-striped">
    <colgroup>
        <col id="cUnassignedDnd" />
        <col id="cUnassignedId" />
        <col id="cUnassignedTitle" />
        <col id="cUnassignedModule" />
        <col id="cUnassignedType" />
        <col id="cUnassignedLanguage" />
        <col id="cUnassignedState" />
    </colgroup>
    <thead>
        <tr id="unassignedblocklistheader">
            <th id="hUnassignedDnd" scope="col" width="20px"></th>
            <th id="hUnassignedId" scope="col">{{ __('Block ID') }}</th>
            <th id="hUnassignedTitle" scope="col">{{ __('Title, Description') }}</th>
            <th id="hUnassignedModule" scope="col">{{ __('Module') }}</th>
            <th id="hUnassignedType" scope="col">{{ __('Type') }}</th>
            <th id="hUnassignedLanguage" scope="col">{{ __('Language') }}</th>
            <th id="hUnassignedState" scope="col">{{ __('State') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr{% if unassignedblocks is not empty %} style="display: none"{% endif %} class="sortable-placeholder">
            <td class="warning" colspan="7">{{ __('All blocks placed.') }}</td>
        </tr>
        {% for block in unassignedblocks %}
        <tr style="cursor: move" data-bid="{{ block.bid }}">
            <td headers="hUnassignedDnd"><span class="fa fa-arrows"></span></td>
            <td headers="hUnassignedId">{{ block.bid }}</td>
            <td headers="hUnassignedTitle" id="blockdrag_{{ block.bid }}">
                {{ block.title|safeHtml|default('') }}{% if block.title and block.description %},&nbsp;{% endif %}{{ block.description|safeHtml }}
            </td>
            <td headers="hUnassignedModule">{{ block.module.name }}</td>
            <td headers="hUnassignedType">{{ block.blocktype }}</td>
            <td headers="hUnassignedLanguage">{{ block.language|default('') }}</td>
            <td headers="hUnassignedState">
                <a class="label label-success tooltips{% if block.active == 0 %} hide{% endif %}" href="#" title="{{ __('Click to deactivate this block') }}" data-bid="{{ block.bid }}">{{ __('Active') }}</a>
                <a class="label label-danger tooltips{% if block.active %} hide{% endif %}" href="#" title="{{ __('Click to deactivate this block') }}" data-bid="{{ block.bid }}">{{ __('Inactive') }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{{ adminFooter() }}
