{{ pageAddAsset('javascript', zasset('@ZikulaBlocksModule:js/Zikula.Blocks.Admin.Common.js')) }}
{{ pageAddAsset('javascript', zasset('@ZikulaBlocksModule:js/Zikula.Blocks.Admin.Modifyposition.js')) }}

{{ adminHeader() }}
<h3>
    <span class="fa fa-cubes"></span>
    {{ __('Block placements') }}
</h3>

<!-- Single button -->
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Jump to position... <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for pid, choice in positionChoices %}
        <li style="margin-left:0"><a href="{{ path('zikulablocksmodule_placement_edit', {pid:pid}) }}">{{ choice }}</a></li>
        {% endfor %}
    </ul>
</div>
<br /><br />
<p class="alert alert-info">{{ __('Notice: Use drag and drop to arrange the blocks in this position into your desired order. The new block order will be saved automatically.') }}</p>

<h4 id="position" data-position="{{ position.pid }}">{{ __f("Blocks placed in the '%name%' position", {'%name%': position.name}) }} <span id="feedback" class="label label-success" style="display:none;">Placements updated!</span></h4>

{% if not positionavailable(position.name) %}<div class="alert alert-warning"><i class="fa fa-exclamation-triangle fa-2x text-danger text-left"></i> {{ __f('WARNING: The "%name%" block position is not available in the current default theme.', {'%name%':position.name}) }}</div>{% endif %}
<table id="assignedblocklist" class="table table-bordered table-striped">
    <thead>
        <tr id="assignedblocklistheader">
            <th width="20px"></th>
            <th>{{ __('Block ID') }}</th>
            <th>{{ __('Title, Description') }}</th>
            <th>{{ __('Module') }}</th>
            <th>{{ __('Type') }}</th>
            <th>{{ __('Language') }}</th>
            <th>{{ __('State') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr{% if assignedblocks is not empty %} style="display: none;"{% endif %} class="sortable-placeholder">
            <td class="warning" colspan="7">{{ __('No blocks placed in this position yet.') }}</td>
        </tr>
        {% for block in assignedblocks %}
        <tr style="cursor: move;" data-bid="{{ block.bid }}">
            <td><span class="fa fa-arrows"></span></td>
            <td>{{ block.bid }}</td>
            <td id="blockdrag_{{ block.bid }}">
                {{ block.title|safeHtml|default('') }}{% if block.title and block.description %},&nbsp;{% endif %}{{ block.description|safeHtml }}
            </td>
            <td>{{ block.module.name }}</td>
            <td>{{ block.blocktype }}</td>
            <td>{{ block.language|default('') }}</td>
            <td>
                <a class="label label-success tooltips{% if block.active == 0 %} hide{% endif %}" href="#" title="{{ __('Click to deactivate this block') }}" data-bid="{{ block.bid }}">{{ __('Active') }}</a>
                <a class="label label-danger tooltips{% if block.active %} hide{% endif %}" href="#" title="{{ __('Click to deactivate this block') }}" data-bid="{{ block.bid }}">{{ __('Inactive') }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>{{ __f("Blocks not placed in '%name%' position", {'%name%': position.name}) }}</h4>
<table id="unassignedblocklist" class="table table-bordered table-striped">
    <thead>
        <tr id="unassignedblocklistheader">
            <th width="20px"></th>
            <th>{{ __('Block ID') }}</th>
            <th>{{ __('Title, Description') }}</th>
            <th>{{ __('Module') }}</th>
            <th>{{ __('Type') }}</th>
            <th>{{ __('Language') }}</th>
            <th>{{ __('State') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr{% if unassignedblocks is not empty %} style="display: none;"{% endif %} class="sortable-placeholder">
            <td class="warning" colspan="7">{{ __('All blocks placed.') }}</td>
        </tr>
        {% for block in unassignedblocks %}
        <tr style="cursor: move;" data-bid="{{ block.bid }}">
            <td><span class="fa fa-arrows"></span></td>
            <td>{{ block.bid }}</td>
            <td id="blockdrag_{{ block.bid }}">
                {{ block.title|safeHtml|default('') }}{% if block.title and block.description %},&nbsp;{% endif %}{{ block.description|safeHtml }}
            </td>
            <td>{{ block.module.name }}</td>
            <td>{{ block.blocktype }}</td>
            <td>{{ block.language|default('') }}</td>
            <td>
                <a class="label label-success tooltips{% if block.active == 0 %} hide{% endif %}" href="#" title="{{ __('Click to deactivate this block') }}" data-bid="{{ block.bid }}">{{ __('Active') }}</a>
                <a class="label label-danger tooltips{% if block.active %} hide{% endif %}" href="#" title="{{ __('Click to deactivate this block') }}" data-bid="{{ block.bid }}">{{ __('Inactive') }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{{ adminFooter() }}
